[2022-03-29 17:38] peternied commented on #1689
Adding some findings from my investigation, first of all here is how I am reproducing:

[code]

The behavior that I am seeing is for `1.0.0`, `1.2.4` and `1.3.0` the behavior is the same, as what is in the description of this issue.

[2022-03-29 20:46] peternied commented on #1689
Circling back! Good news, this looks like a documentation issue, not a product bug, could you try the following configuration in your `config/log4j2.properties` file and see if the logging appears as you'd expect?

[code]

Per the [yml format](https://logging.apache.org/log4j/2.x/manual/configuration.html#Configuration_with_Properties) in log4j properties, a logger is declared with `logger.LOGGER_

[2022-03-29 21:00] patcable commented on #1689
Hmm. Will this work for the LDAP backend @peternied? That's where I actually need debug output from. I'll give the JWT example a go to confirm it works though.

[2022-03-29 21:07] patcable commented on #1689
Just tested -- OpenSearch loads with that syntax, so that's encouraging 🎉

But yeah, back to my original issue -- if I wanted to get LDAP logs out of 1.3.0 so I could understand why my authz/n config isnt working is there a way for that? or is it per package and i'm best off going to 1.2.4 then back to 1.3.0?

[2022-03-29 21:10] peternied commented on #1689
@patcable  Yes you can use `com.amazon.dlic.auth.ldap.backend` as the logger path and it let you adjust the tracing levels or send the logs to another appender

[2022-03-29 22:08] patcable commented on #1689
Hm. No dice for me, which makes me think there's a config issue. Happy to take this elsewhere, too. Is there a more global logger path I could use for the security module as a whole? Internal auth seems to work fine, fwiw.

[2022-03-29 22:21] peternied commented on #1689
@patcable What about setting the default logging level to tracing?  I wouldn't recommend doing that in prod or a disk space constrained environment

[2022-03-29 22:47] cliu123 commented on #18
Issue has been resolved. Closing the issue.

[2022-03-29 22:47] #18 closed

[2022-03-30 10:27] jansyren commented on #1504
+1 yes this would be a great feature, lots of applications writing to elastic has this support so adding it to Opensearch would be a good improvement.

[2022-03-30 12:42] arurus-aws opened #1717 "[BUG]SAML SingleLogoutService requests to ADFS are not signed and causing errors when we trigger dashboard logout"
**Describe the bug**
SingleLogoutService requests are not signed  and ADFS is rejecting these requests,  as requests are not signed.

**To Reproduce**
1. Configure SAML with ADFS as IDP to login to DashBoard.
2. As part of configuration, in adfs metadata.xml, keep SingleLogoutService urls
3. Trigger Logout on Kibana dashboard.

**Expected behavior**
OpenSearch should post Signed SingleLogoutServic

[2022-03-30 19:30] dblock opened #1718 "Drop support for JDK 14."
Coming from https://github.com/opensearch-project/opensearch-plugins/issues/132, remove support for JDK 14.

In OpenSearch 2.0 we are building the complete distribution and every component with JDK 11, and testing and bundling JDK 17. Support for JDK 14, 15 and other non-LTS versions can be dropped. Remove building and testing with these JDKs from CI.

See https://opensearch.org/blog/technical-pos

[2022-03-30 23:47] davidlago commented on #479
Tracking in #1504

[2022-03-31 00:07] #62 closed

[2022-03-31 01:04] whitesource-for-github-com[bot] opened #1721 "CVE-2022-22950 (Medium) detected in spring-expression-5.3.13.jar - autoclosed"
## CVE-2022-22950 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>spring-expression-5.3.13.jar</b></p></summary>

<p>Spring Expression Language (SpEL)</p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /home/wss-scanner/.gradle/cache

[2022-03-31 14:56] #1498 closed

[2022-03-31 17:01] whitesource-for-github-com[bot] opened #1729 "CVE-2022-22965 (High) detected in spring-beans-5.3.13.jar - autoclosed"
## CVE-2022-22965 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>spring-beans-5.3.13.jar</b></p></summary>

<p>Spring Beans</p>
<p>Library home page: <a href="https://github.com/spring-projects/spring-framework">https://github.com/spring-projects/spring-framework<

[2022-03-31 17:01] whitesource-for-github-com[bot] opened #1730 "WS-2022-0107 (High) detected in spring-beans-5.3.13.jar - autoclosed"
## WS-2022-0107 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>spring-beans-5.3.13.jar</b></p></summary>

<p>Spring Beans</p>
<p>Library home page: <a href="https://github.com/spring-projects/spring-framework">https://github.com/spring-projects/spring-framework</a

[2022-03-31 17:38] Yury-Fridlyand opened #1731 "[BUG] Security plugin affects deprecation feature"
**Describe the bug**
The OpenSearch server has a nice feature to warn user if used functions will be deprecated in future versions. Unfortunately, security plugin affects this feature.
Detected when running [OpenSearch .Net client](https://github.com/opensearch-project/opensearch-net) integration tests.

**To Reproduce**
Steps to reproduce the behavior:
1. Run integration test with security:
[code

[2022-03-31 18:01] davidlago commented on #430
It seems like a solution was found and there is documentation for it.

[2022-03-31 18:01] #430 closed

[2022-03-31 18:44] Yury-Fridlyand opened #1732 "[BUG] Getting `security_exception` with empty list of missing permissions"
Detected when running [OpenSearch .Net client](https://github.com/opensearch-project/opensearch-net) integration tests.

**To Reproduce**
Steps to reproduce the behavior:
1. Run integration test with security (see [PR #19](https://github.com/Bit-Quill/opensearch-net/pull/19):
[code]
[The test](https://github.com/opensearch-project/opensearch-net/blob/main/tests/Tests/Indices/AliasManagement/Delete

[2022-03-31 19:00] jochenkressin commented on #1572
I have created a patch for this feature including a Unit test, please find attached.
[dfm_empty_overwrites_all.patch.zip](https://github.com/opensearch-project/security/files/8392370/dfm_empty_overwrites_all.patch.zip)

[2022-03-31 20:44] joshuali925 commented on #1731
@cliu123 could you or someone from your team please take a look at this and #1732? those are blocking .NET client tests. Thanks!

[2022-03-31 21:10] #1730 closed

[2022-04-01 04:20] cliu123 commented on #89
`anonymous_auth_enabled` is a part of security plugin. With disabling security plugin, anonymous authentication does not work. Please check the [OpenSearch doc](https://opensearch.org/docs/latest/security-plugin/configuration/configuration/#http)

[2022-04-01 04:20] #89 closed

[2022-04-01 06:48] cliu123 commented on #1572
@jochenkressin Thanks for the patch! I've converted it to a [PR](https://github.com/opensearch-project/security/issues/1572)

[2022-04-01 17:48] patcable commented on #1689
@peternied had a chance to give that a try just now (setting `rootLogger.level = trace`). There's no info here from the security module it would seem. Security module did helpfully ask OS to write a record of the failure at least?

[code]

[2022-04-01 18:57] verbecee opened #1736 "[BUG] OpenDistro admin not allowed to restore indices"
**Please note!**   This is a template to file a bug for the OpenSearch security plug-in.  If you discover a potential security issue in this project we ask that you notify AWS/Amazon Security via our [vulnerability reporting page](http://aws.amazon.com/security/vulnerability-reporting/) or directly via email to aws-security@amazon.com. Please do **not** create a public GitHub issue.

**Describe th

[2022-04-01 19:42] peternied commented on #1667
[Triage] This is a great feature request, we would welcome a contribution that adds this functionality.

[2022-04-01 19:49] #1680 closed

[2022-04-01 19:52] peternied commented on #1688
[Triage] thanks for filing this issue.

[2022-04-01 19:54] peternied commented on #1717
[Triage] Thanks for filing this issue.

[2022-04-01 20:00] peternied commented on #1731
[Triage] @Yury-Fridlyand could you help me understand how the tests are impacted by the deprecation message that are logged?

[2022-04-03 05:47] cliu123 commented on #1676
Looks like OpenSearch core doesn't accept plugin version with version_qualifier. Plugin installation failed: https://github.com/opensearch-project/security/runs/5797837160?check_suite_focus=true
[code]

[2022-04-03 05:51] cliu123 commented on #104
ODFE has already been archived. Please upgrade to or create OpenSearch clusters.

[2022-04-03 05:51] #104 closed

[2022-04-04 18:44] peterzhuamazon commented on #1676
Synced up with @cliu123 on this as they are pulling the wrong artifacts which is not 2.0.0-alpha1, but 2.0.0.

[2022-04-04 20:11] verbecee commented on #1736
@Anthony7774 Hey! We are using 1.13.X (I think we're using 1.13.0). I will try using the admin certificate. Regarding that - if I was just restoring a single index (that is NOT the .opendistro_security index) like above, would I need an admin certificate? Would the presence of the .opendistro_security index in the snapshot require that I have an admin certificate to restore an index, even if I'm n

[2022-04-05 07:43] KannappanSomu opened #1834 "Opensearch SAML authentication with Azure AD"
Opensearch SAML authentication with Azure AD:

Is there any pointers on how to deploy SAML authentication with Azure AD in opensearch chart ?
In values file , i dint find anything related to this, any help is appreciated .

[2022-04-05 11:08] Anthony7774 commented on #1736
@verbecee Admin certificate should not be required if you are not restoring the security index and I have not been able to reproduce your issue.

Would you be able to confirm the admin user is mapped to all_access role, by running below command and checking the "roles" section:

`curl -XGET "https://localhost:9200/_opendistro/_security/authinfo?pretty" -u admin:<password> -k`

[2022-04-05 15:07] verbecee commented on #1736
@verbecee  here is the output:

`{
  "user" : "User [name=admin, backend_roles=[admin], requestedTenant=null]",
  "user_name" : "admin",
  "user_requested_tenant" : null,
  "remote_address" : "REDACTED:40732",
  "backend_roles" : [
    "admin"
  ],
  "custom_attribute_names" : [ ],
  "roles" : [
    "own_index",
    "all_access"
  ],
  "tenants" : {
    "kibana_REDACTED_tenant" : true,
    "kibana

[2022-04-05 16:08] Anthony7774 commented on #1736
@verbecee This is very strange, I have tested using 1.13.0 and later, used curator to create the snapshots, which I assume was done in your case and restore for the individual indices work as expected.

Can you confirm that below lines are present in **every** elasticsearch.yml file across all nodes?
opendistro_security.enable_snapshot_restore_privilege: true
opendistro_security.check_snapshot_res

[2022-04-05 17:59] setiah opened #1743 "Add deprecation warnings for insecure configurations"
**Is your feature request related to a problem? Please describe.**
Identify and provide deprecation warnings to highlight a cluster is running with insecure default configurations, until the security plugin provides secure defaults.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise desc

[2022-04-06 05:47] setiah commented on #1626
This could be an issue for existing users using demo certs, when migrating to latest version with rolling upgrade as the binding might prevent cluster formation. An easier path forward would be deprecating the demo certificates itself. Closing this out for lack of better data points in favor of this.

[2022-04-06 05:47] #1626 closed

[2022-04-06 14:22] dblock opened #1744 "[BUG] Incorrect license headers"
**Is your feature request related to a problem?**
Coming from https://github.com/opensearch-project/opensearch-plugins/issues/138, some obsolete ALv2 headers are still present, e.g. [here](https://github.com/opensearch-project/security/blob/2972bd15a98dbaa8c571b9b302268de076d20ee0/src/test/java/org/opensearch/security/TracingTests.java#L17).

**What solution would you like?**
1. Add automated lice

[2022-04-06 23:24] cliu123 commented on #108
Right API paths are documented.

[2022-04-06 23:24] #108 closed

[2022-04-06 23:27] cliu123 commented on #154
ODFE is in maintenance mode. No new bug fixes will be backported to ODFE.

[2022-04-06 23:27] #154 closed

[2022-04-06 23:31] cliu123 commented on #157
Moving to security-dashboards-plugin since this issue only happens on UI. If the issue doesn't exist in OpenSearch, it will be closed since ODFE is in maintenance mode. No new bug fixes will be backported to ODFE.

[2022-04-07 09:21] 53rg3 opened #1748 "[FEATURE] Make openid_auth_domain able to use internal role mappings for backend_roles"
**Is your feature request related to a problem?**

In the `securityconfig/config.yml`, when using `openid_auth_domain` as `authc` then it is possible to define a `roles_key` which sources the `backend_roles` roles of the user from the ID token. It seems that the internal `roles_mapping.yml` is ignored. Both fields `backend_roles` & `and_backend_roles` seem to be ignored when using `openid_auth_dom

[2022-04-07 15:16] peternied commented on #1642
https://github.com/opensearch-project/opensearch-build/pull/1924 in progress to get security into 2.0.0 release

[2022-04-07 15:17] peternied commented on #1648
I am pushing this out of the v2.0.0 release since we are so close, we can accept these changes in the next minor release that is available.

[2022-04-07 15:18] peternied commented on #1658
The final round of related changes have been merged in https://github.com/opensearch-project/security/pull/1741

[2022-04-07 15:18] #1658 closed

[2022-04-07 15:48] peternied commented on #1689
@bublikhpt thanks for the ping, we are no longer packaging `log4j-slf4j-impl-X.XX.X.jar` with the security plugin.  I did a quick pilot, by adding back the library we are getting log messages again.

I'm doing background for the right place to make sure this library is included

[2022-04-07 20:42] cliu123 commented on #438
The issue should have been resolved by [this PR](https://github.com/opensearch-project/security/pull/1546)

[2022-04-07 20:42] #438 closed

[2022-04-07 21:56] peternied commented on #1673
We've had some concerns about making this change, voiced them in the main issue.  I'll deep dive into this tomorrow to see what's feasible for the libs/config/bin alignment

[2022-04-08 14:08] peternied opened #1752 "[FEATURE] Add java checkstyle / formatter"
**Is your feature request related to a problem?**
There are many parts of the codebase that have space and tabs.  Additionally there are many style inconsistencies that can make it harder to quickly read and understand the codebase.  Aligning to a consistent style via enforcement / education / auto-correction would be very useful.

**What solution would you like?**
- For development in IDEs such a

[2022-04-08 14:24] peternied opened #1753 "[Backport] Switch to log4j logger"
From https://github.com/opensearch-project/security/pull/1751, this change needs to be backported into 1.X and 1.3

Branches to update:
- [x] #1788

[code]

- [ ] #1790

[code]

[2022-04-08 15:55] peternied commented on #1689
Reopening - I'd like to make sure that we are seeing the fix before assuming its working as intended.

[2022-04-08 19:28] peternied commented on #1681
[Triage] Would you mind opening a case in the [OpenSearch forum](https://discuss.opendistrocommunity.dev/c/security/) and share the link here for traceability?

[2022-04-08 19:28] #1681 closed

[2022-04-08 19:30] peternied commented on #1731
[Triage] @Yury-Fridlyand We have not gotten a response in a week and are closing out this issue.  Please reopen if you have more details.

[2022-04-08 21:10] peternied opened #1755 "[DEPRECATION] Security Plugin Tools will be replaced"
Security Plugin tools will be replaced

This list of tools that will be replaced
[code]

This issue will be updated with the recommended replacement.

[2022-04-08 22:45] peternied commented on #1689
I was able to use one of our most recent builds of OpenSearch 2.0.0 and I see that the fix is operational, tested distribution: https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/2.0.0-alpha1/2002/linux/x64/dist/opensearch/opensearch-2.0.0-alpha1-linux-x64.tar.gz

I am closing this issue out, we will be backporting this fix into 1.3.X builds which you can track with https://github.com/

[2022-04-08 22:45] #1689 closed

[2022-04-11 19:10] #1624 closed

[2022-04-11 23:40] jimishs commented on #45
To expand on the initial requirements - Today OpenSearch Dashboards has 3 types of users - 1/Those who are read only - can only access dashboards and nothing else. 2/Security managers or admins who have access to the security panel to configure the permissions of their users 3/Users with a set of cluster permissions and index permissions.

As an admin if you wanted to restrict certain sets of user

[2022-04-12 00:05] lizsnyder opened #1759 "[BUG] Missing default observability roles"
**What is the bug?**
According to https://github.com/opensearch-project/security/pull/1484, we added two new default roles for observability (observability_read_access and observability_full_access). However, I'm not seeing these roles in the **Roles** dropdown menu within OpenSearch Dashboards (in 1.2 or 1.3).

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Go to OpenSearc

[2022-04-12 00:07] lizsnyder commented on #1759
CC @joshuali925

[2022-04-12 17:34] cliu123 commented on #1572
PR#1735 has been merged.

[2022-04-12 17:34] #1572 closed

[2022-04-12 22:19] peternied opened #1761 "[Testing] Security needs integration tests that run with the distribution suite."
Related to https://github.com/opensearch-project/opensearch-build/issues/58

The security has integration tests that execute within its CI systems, but many of those tests configure/start/stop a local cluster to exercise different security configurations.  This methodology is incompatible with the model used in the distribution tests.  No matter how this is reconciled we need to onboard into the s

[2022-04-13 04:58] cliu123 commented on #1761
There's [another issue](https://github.com/opensearch-project/security/issues/1177) for this. Close one of them?

[2022-04-13 10:41] Anthony7774 commented on #1748
@53rg3 I'm not fully understanding what is the issue you are reporting.

The oidc login **can** provide groups/roles via roles_key in JWT token (These are considered "backend_roles"). If they are provided and match the entry in config.yaml (under roles_key), they are extracted and then used in _internal_ roles_mapping.yaml to map to relevant "opensearch role" defined in roles.yaml.

If, for some r

[2022-04-13 11:13] davidlago commented on #13
Thanks for connecting the two, @rursprung ! Closing the issue.

[2022-04-13 11:13] #13 closed

[2022-04-13 15:03] #1578 closed

[2022-04-13 18:17] joshuali925 commented on #1759
@lizsnyder I wasn't able to reproduce this with fresh installs of OpenSearch `1.2.0` and `1.3.1` tarball on linux, the observability roles showed up for me in both versions.
![image](https://user-images.githubusercontent.com/28062824/163243369-15c43738-0d49-444b-983c-c4b56ba44395.png)

One reason could be that your cluster was upgraded from an older version of OpenSearch, where the security index

[2022-04-13 18:31] lizsnyder commented on #1759
@joshuali925 okay, thanks. I'm also not seeing them on the default installation of OpenSearch Dashboards for the managed Amazon OpenSearch Service. Is this a concern?

[2022-04-13 18:35] joshuali925 commented on #1759
Probably need someone from security to check what's missing there

[2022-04-13 19:07] peternied opened #1762 "[Feature] Reduce the amount of assertTrue/False statements"
From https://github.com/opensearch-project/security/pull/1758#issuecomment-1097641741

Assert.assertTrue(...) / Assert.assertFalse(...) statements are not very useful for debugging test failures, and yet are widely used in the codebase.  We should transition to alternatives that make test failures easier to diagnose and make tests more readable.

Consider a test case structured like this:
[code]

[2022-04-13 19:36] peternied commented on #1177
Thanks @dblock closing this issue in favor of https://github.com/opensearch-project/security/issues/1761

[2022-04-13 19:36] #1177 closed

[2022-04-13 20:43] #1759 closed

[2022-04-14 12:48] 53rg3 commented on #1748
@Anthony7774 Thanks for your reply.

Yes. We solved this problem by providing the roles from our OIDC service (KeyCloak) in the `roles_key` in the ID token. But this what we'd like to avoid. We rather would like to statically configure users and roles in the config files.

This is the point of my feature request. I would like to use OIDC in combination with the `roles_mapping.yml` file. The proble

[2022-04-14 15:10] frotsch opened #1763 "[Feature] SSL hot reload - force cluster to reconnect"
**What is the bug?**
I use the ssl hot reload feature to hot reload new transport certificates which are signed by a different CA.
After the hot reload is triggered (and returns successful) there are still the same amount of nodes in the cluster which
can not be the case because the node, for which the certs and ca are updated must now not be allowed to join the cluster
because of the new ca.

**H

[2022-04-14 15:59] peternied commented on #1673
For 2.0.0 we will complete this task for all folder except for `bin`, PR is in process now.

[2022-04-15 01:04] whitesource-for-github-com[bot] opened #1765 "CVE-2022-22968 (High) detected in spring-context-5.3.13.jar - autoclosed"
## CVE-2022-22968 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>spring-context-5.3.13.jar</b></p></summary>

<p>Spring Context</p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /home/wss-scanner/.gradle/caches/modules-2/files-2.1/or

[2022-04-15 18:00] reshippie opened #1766 "[BUG]Opensearch-security plugin internal_users.yml doesn't include any opendistro_security_roles examples"
**Describe the bug**
The examples for internal users only has `backend_roles` which may lead some people to think that `opendistro_security_roles` has been renamed, when transitioning from Kibana to Opensearch Dashboards.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the latest release.
2. View `opensearch-$RELEASE/plugins/opensearch-security/securityconfig/internal_users.yml`

**

[2022-04-15 22:31] #1673 closed

[2022-04-18 15:34] dblock opened #1767 "Replace checked-in ZIPs with downloads of official releases"
Coming from https://github.com/opensearch-project/opensearch-build/issues/1750, replace checked in ZIP(s) with dynamic dependencies.

[code]

[2022-04-18 19:07] dblock commented on #1499
Was this done?

[2022-04-18 19:48] davidlago commented on #1499
No. We had a discussion around it, as a result amending the recommendations on the TESTING document at the project level [here](https://github.com/opensearch-project/OpenSearch/pull/1930). TL;DR in some cases it is not practical to run tests pointing to an external cluster if the cluster settings themselves are under test and we need to recreate a variety of scenarios.

[2022-04-18 20:04] dblock commented on #1664
For 2.0, at a minimum please ensure that the plugin is not calling any deprecated APIs in core or another plugin, and confirm below, then remove the 2.0.0 label. If you have time, do the complete deprecation as described in this issue.

[2022-04-19 05:40] GaneshbabuRamamoorthy commented on #1675
@peternied

If you get a chance to check on this issue kindly share any update on this.

Thanks,
Ganeshbabu R

[2022-04-19 13:26] wdwalker-oracle opened #1768 "NOTICE.txt and THIRD-PARTY.txt appear to be out of date"
We need to know how to properly attribute the binary material when redistributing within another product.

When I look at NOTICE.txt, I only see references to OpenSearch contributors, Apache, and Bouncy Castle. When I do a quick grep through the sources in the repo, however, I find other notices such as these:

  ~ Copyright 2015-2018 _floragunn_ GmbH
 \* Copyright 2002-2017 the original author or

[2022-04-19 15:27] davidlago commented on #1767
@DarshitChanpura is taking a look at it today (I see a draft PR just created)

[2022-04-19 22:27] djfranzelttec commented on #1504
Would be an excellent feature to have.

[2022-04-19 23:39] davidlago commented on #1499
Closing as the security plugin will not be moving to the infra cluster for the reasons in the discussion linked above. If there are any concerns, let's resuscitate that discussion.

[2022-04-19 23:39] #1499 closed

[2022-04-19 23:39] cliu123 commented on #1767
Blocked by [this issue](https://github.com/opensearch-project/OpenSearch/issues/2987).

[2022-04-20 17:08] cliu123 commented on #1767
Thanks for resolving [the issue](https://github.com/opensearch-project/OpenSearch/issues/2987)

[2022-04-20 20:53] bowenlan-amzn opened #1771 "[BUG] Plugin integTest against fgac cluster fails with SSLPeerUnverifiedException"
**What is the bug?**
Running test against a security enabled cluster fails with following exception.
This problem happens if using **Java 11** to run the test. After changing to Java 17 or 14, tests can be run successfully.

Want to confirm if this would bring any risk to our OS 2.0 rc1 release.

<details>

<summary>error trace</summary>

[code]

</details>

**How can one reproduce the bug?**
Step

[2022-04-20 23:55] cliu123 commented on #1767
Closing with #1774.

[2022-04-20 23:56] #1767 closed

[2022-04-21 15:08] peternied opened #1777 "[Backporting] DCO is failed on backports for 2.x / 2.0"
DCO failed on these two pull requests and had to be approved manually, we should fix this so the automatic process doesn't require any additional manual steps.

[2022-04-21 16:34] peternied commented on #1664
From https://github.com/opensearch-project/opensearch-build/issues/1624#issuecomment-1105448472

[2022-04-21 17:08] cliu123 commented on #1761
@peternied @davidlago This issue looks to be closed with #1499.

[2022-04-21 17:24] rursprung opened #1780 "[FEATURE] JWT: validate audience claim"
**Is your feature request related to a problem?**
JWTs contain the `aud` claim with the audience for which the token is valid.
consumers of a token should validate this claim to see if it is intended for them (it's possible for an IdP - which the consumer trusts - to issue a JWT which isn't intended for this specific consumer).

see also the RFC:  https://datatracker.ietf.org/doc/html/rfc7519#sect

[2022-04-21 17:28] rursprung opened #1781 "[FEATURE] JWT: validate issuer claim"
**Is your feature request related to a problem?**
JWTs contain the `iss` claim with the issuer which created the token.
consumers of a token should validate this claim to see if it is the expected issuer and to decide against which public key to validate the claim.

see also the RFC: https://datatracker.ietf.org/doc/html/rfc7519#section-4.1.1

**What solution would you like?**
it should be possibl

[2022-04-21 18:19] davidlago commented on #1761
Not quite, I don't think so. For the purposes of 2.0, #1499 is closed as a no-op for security. But I believe that this issue that @peternied created was to follow up in future releases to see what if anything we can do to perhaps run a subset of the ITs against the standard cluster.

[2022-04-22 19:50] peternied commented on #1763
[Triage] This is by design, connections to the cluster are not terminated/reconnected during a hot reload.

[2022-04-22 19:53] peternied commented on #1766
[Triage] Thanks for filing this issue, @reshippie if you have a recommendation for the update we would be happy to review a pull request.

[2022-04-22 20:05] peternied commented on #1771
[Triage] @cliu123 could you look into this?

Briefly reviewing the callstacks involved, this is an error from the RestClient in use by the integration test failing to verify the peer certificates.  This seem unlikely to be an issue with the security plugin.

@bowenlan-amzn did you have any server error logs at the time of this failure?

[2022-04-22 21:23] peternied commented on #1781
@rursprung Thanks for the feature request.

[2022-04-22 21:23] peternied commented on #1780
@rursprung Thanks for the feature request.

[2022-04-23 09:50] frotsch commented on #1763
Hi @peternied,
when its by design I think its a design flaw (and a security flaw, see below).
As far as I understood this feature it should be possible to hot reload ssl certs without restarting a node.

Think of the following two situations:

1) You use the hot reload feature because on of the certs are about to expire.
Than means that the non-terminated connections will begin to error when the c

[2022-04-25 08:21] 53rg3 commented on #1748
Misunderstood "backend roles", docs say:

So they are specifically from EXTERNAL backends and have nothing to do with the OpenSearch backend. There's the magic internal role "api_access" which gives users access to the security settings. Mapping users to the internal role "admin" doesn't give them access. Confusing.

[2022-04-25 08:21] #1748 closed

[2022-04-25 18:27] VachaShah opened #1786 "Add a workflow for documenting features"
**Is your feature request related to a problem?**
Humans have to remember to document features, or at least to open issues in documentation-website for new features/changes to be documented. This is a manual process, e.g. https://github.com/opensearch-project/OpenSearch/issues/1711#issuecomment-1060893992

**What solution would you like?**
Add a workflow for creating issues in the `documentation-w

[2022-04-25 18:51] setiah opened #1787 "Integrate auto-password generation into security plugin bootstrap logic"
The proposal is to integrate the PasswordSetup logic that generates strong secure passwords into the security plugin bootstrap logic, so that the secure passwords are auto-generated when the OpenSearch process w/ security plugin bootstraps. This feature to provide secure out of the box password should be behind a setting so that it can be disabled/enabled at will. Initially in 2.x versions, we mig

[2022-04-25 20:07] DarshitChanpura opened #1788 "1.x"

[2022-04-25 20:09] DarshitChanpura opened #1790 "1.3"

[2022-04-26 14:09] peternied commented on #1763
@frotsch Thanks for the thought you've put into this.  I think you are right that there should be a way to force all the nodes to reconnect.  A pull request would be great place for additional discussion as well.

[2022-04-26 14:10] frotsch commented on #1763
@peternied can you reopen the issue?

[2022-04-26 17:38] cliu123 commented on #1763
@frotsch Certificate hot reloading itself doesn't break the existing connection between nodes. Given the channel between nodes has been established, the new certificate won't be used until next time establishing channel. Additionally, there are some requirements on the new certificates. The new certificate must have the same issuer DN, the same subject DN and the same subject alternative names (if

[2022-04-27 08:13] shikharj05 opened #1797 "[BUG] Allow reload of same certificate using hot reload"
**What is the bug?**
Today, hot reload API doesn't allow reloading same certificate as it [requires](https://github.com/opensearch-project/security/blob/22822b4697d85512a5fe5c28c15af2ca5bae4b22/src/main/java/org/opensearch/security/ssl/DefaultSecurityKeyStore.java#L563) expiry date to be of later timestamp than current certificate.

**How can one reproduce the bug?**
Steps to reproduce the behavio

[2022-04-27 14:22] ryanvaloris opened #1799 "The patch role mapping API does not function correctly [BUG]"
**Describe the bug**
The patch role mapping API does not function correctly. https://opensearch.org/docs/latest/security-plugin/access-control/api#patch-role-mapping

When using the "add" op, it should add the role to the existing roles. Currently, it is just replacing the value

**To Reproduce**
Steps to reproduce the behavior:

1. I had an existing role called `testrole`, that had a pre-exsiting

[2022-04-27 15:48] peternied commented on #1763
@frotsch I was doing some digging - forcing the cluster to reload its certs is possible.  By doing a hot reload and then making a call to `/_opendistro/_security/ssl/transport/reloadcerts` this scenario is captured.  A parameter to ensure after a hot reload the certs are reloaded is useful too, if you'd like to make a pull request.

https://github.com/opensearch-project/security/blob/565f47e804ec0

[2022-04-27 17:43] peternied opened #1800 "Completed release candidate testing build 3015"
Run through all of the test scenarios to validate the security plugin functionality

#### Configuration files

1. Before starting the cluster, add a role to roles.yml and a tenant to tenants.yml.
2. Start the cluster.
3. Open Dashboards and log in.
4. Security / Roles / Verify that the role exists.
5. Tenants / Verify that the tenant exists.

#### Create users

1. Open Dashboards and log in as adm

[2022-04-27 18:27] peternied commented on #1800
Added to roles.yml:
[code]

Added to tenants.yml:

[code]

Used `./opensearch-tar-install.sh` to start the cluster

OpenSearch Cluster is operational ✅
[code]

OpenSearch Dashboard is operational ✅
[code]

Look for the role that was created in the yml ✅
[code]

Look for the tenat that was created in the yml ✅
[code]

✅ Configuration works as expected

[2022-04-27 18:35] peternied commented on #1800
As an admin user, created the user on http://localhost:5601/app/security-dashboards-plugin#/users
Created an Incognito browser window and signed in as the newly created user, landed on the welcome permissions

✅ Create users works as expected

[2022-04-27 18:44] peternied commented on #1800
Navigated to http://localhost:5601/app/opensearch_dashboards_overview#/

✅ Create role works as expected

[2022-04-27 18:50] peternied commented on #1800
Go to http://localhost:5601/app/security-dashboards-plugin#/roles/view/New_role
Click `mapped users`
Click `map user`
Add a user `petern`
Click `Map`

✅ Map Role works as expected

[2022-04-27 20:29] peternied commented on #1800
Switched to `petern_test_tenant` as the admin user
Needed to get sample data via http://localhost:5601/app/home#/tutorial_directory

✅ Create Index Pattern works as expected

[2022-04-27 20:39] peternied commented on #1800
Number of hits that match:
[code]
Response ✅
[code]

Looking at the FlightNum field:
[code]
Response ✅
[code]

✅ Dashboards Basics works as expected

[2022-04-27 20:41] peternied commented on #1800
* Created new tenant as an admin
* User `petern` cannot see the tenant via the switch tenant UX

✅ Multi-tenancy works as expected

[2022-04-27 20:45] peternied commented on #1800
As an admin user making the following calls:

#### Create tenant
Request
[code]
Response ✅
[code]

#### Create User
Request:
[code]

Response ✅
[code]

#### Create role
Request
[code]
Response ✅
[code]
#### Create role mapping
Request
[code]
Response ✅
[code]

✅ Running security api with dev-tool requests works as expected

[2022-04-27 20:45] peternied commented on #1800
All responses are working as expected.

[2022-04-27 20:45] #1800 closed

[2022-04-27 21:38] peternied commented on #1771
I am actively looking into this issue

[2022-04-27 21:40] peternied commented on #1665
Deprecate did not make it in time for the v2.0.0 release, it will be targeted for v2.1.0

[2022-04-27 21:56] peternied commented on #1771
I was unable to reproduce this bug, note; I am unable to use the docker-compose setup and instead did the following:

#### Setup OpenSearch Instance:
[code]
_Note; while java 11 is called out in the bug description the docker-compose script isn't altering the jdk under use, its Temurin-17.0.2+8_

#### Get IndexManagement tests
[code]
Tests passes, xmloutput:
[code]

[2022-04-27 21:56] #1771 closed

[2022-04-27 22:16] peternied commented on #1753
Track with https://github.com/opensearch-project/security/issues/1790 instead

[2022-04-27 22:16] #1753 closed

[2022-04-27 22:17] peternied commented on #1790
Since we've got a pull request to track, closing out this issue

[2022-04-27 22:17] #1790 closed

[2022-04-27 22:23] peternied commented on #1777
We were able to bypass via the dco tool, will reopen if this looks like more trouble is getting caused

[2022-04-27 22:23] #1777 closed

[2022-04-27 22:24] peternied commented on #1788
We aren't going to backport this change into 1.x

[2022-04-27 22:24] #1788 closed

[2022-04-27 22:25] peternied commented on #1763
Documentation bug for follow up https://github.com/opensearch-project/documentation-website/issues/530

[2022-04-27 22:42] peternied commented on #1527
I've looked into this issue, this is OK, we are pulling the URI for the JwksUri from the OpenIdConnect endpoint, the endpoint needs to be trusted it required to be can be specified by the user.

I'll dig in and see if we can suppress this issue more strongly.

[2022-04-27 22:43] peternied commented on #1527
Look at https://github.com/opensearch-project/security/security/code-scanning/9 as well

[2022-04-27 22:53] peternied commented on #1761
I think we should capture the minimal set of functionality we should test from the sanity tests that we run on a release from https://github.com/opensearch-project/security/issues/1800

[2022-04-28 16:06] prudhvigodithi opened #1801 "Publish plugin zips to maven repo"
### Description

With existing setup the plugin jars are only published to maven repo, but not the generated plugin zips.

### Related META issue

https://github.com/opensearch-project/opensearch-build/issues/1916

### Current Behavior

Existing all maven publications target the jar files to publish to maven, but not the generated distribution zips.

### Expected Behavior

Along with plugin jars,

[2022-04-28 16:22] peternied commented on #1338
We are not supporting backporting to opendistro branches, support for them has been discontinued

[2022-04-28 16:22] #1338 closed

[2022-04-28 19:35] davidlago commented on #1665
Talked to @cliu123 offline, he is working on this and we are still targeting 2.0 GA.

[2022-04-28 19:45] DarshitChanpura opened #1802 "Fix WhiteSouce reported vulnerabilities"
WhiteSource reported 22 vulnerabilities (15 highs, 12 med, 2 lows) for security plugin. These should be fixed in these 3 branches:
- [ ] #1803
- [ ] #1804
- [ ] #1805

[2022-04-28 19:45] DarshitChanpura opened #1803 "main"

[2022-04-28 19:45] DarshitChanpura opened #1804 "1.x"

[2022-04-28 19:45] DarshitChanpura opened #1805 "1.3"

[2022-04-28 19:47] peternied commented on #1527
Dug in, the security alert was last triggered 8 months ago and hasn't cropped back up even with minor changes in [KeySetsRetriever](https://github.com/opensearch-project/security/blob/main/src/main/java/com/amazon/dlic/auth/http/jwt/keybyoidc/KeySetRetriever.java).  I think we can safely close this issue and not worry about it.

[2022-04-28 19:47] #1527 closed

[2022-04-28 21:06] #1802 closed

[2022-04-28 21:07] #1765 closed

[2022-04-28 21:07] #1729 closed

[2022-04-28 21:07] #1721 closed

[2022-04-28 22:39] cliu123 commented on #196
Thanks for filing the issue! This message reflects the status of security plugin and security index. The error goes away when security plugin is loaded properly. Please feel free to re-open the issue if the error blocks any of your use cases.

[2022-04-28 22:39] #196 closed

[2022-04-28 22:46] cliu123 commented on #326
The issue is not reproducible. If you're having issue with one permission overwriting the other permission, you can upgrade to OpenSearch 2.0.0-rc1 when it's available use the new setting `plugins.security.dfm_empty_overrides_all` to overwrite how it works.

[2022-04-28 22:46] #326 closed

[2022-04-29 17:33] zelinh opened #1809 "[BUG] CI distribution build failed on security plugin for 1.3.2"
**What is the bug?**
Our distribution build is currently failing because of a security issue. Here is the context:
[code]

**How can one reproduce the bug?**
Run `./build.sh manifests/1.3.2/opensearch-1.3.2.yml --component security`

**What is the expected behavior?**
A clear and concise description of what you expected to happen.

**What is your host/environment?**
 - OS: [e.g. iOS]
 - Version [e

[2022-04-29 17:43] cliu123 commented on #1809
@peternied 1.3.2 infra build pipeline fails. Looks like related to `security-admin-standalone` zip file. Can you take a look?

[2022-04-29 20:16] peterzhuamazon commented on #1809
We should consider remove it from 1.3 branch if not needed anymore.
Adding custom security script is not ideal consider @peternied just removed the custom script for 2.0.0 a while ago.
https://github.com/opensearch-project/opensearch-build/pull/1927

[2022-04-29 20:34] peterzhuamazon commented on #1809
Approve #1811 for now as this script only touch 1.3 branch.

[2022-05-02 12:34] jezsy opened #1815 "[BUG] do_not_fail_on_forbidden_empty does not work for cat api"
**What is the bug?**
Setting `do_not_fail_on_forbidden` to true does not seem to have any impact on some APIs like cat/_indices and cat/_aliases - the whole operation is rejected even if indices exist for which the user has access to.

_cat/indices/some-index-* would work, but not _cat/indices because it include internal indices which the user does not permission for.

Adding permissions under ind

[2022-05-02 14:52] peternied opened #1816 "[Bug] jackson dependencies should be synchronized with OpenSearch"
This is the second time we've had a distribution build break because both OpenSearch and security plugin have imported different versions of the jackson libraries.  We need a way to make sure the correct dependencies are in the security plugin and those dependencies will not create conflicts with OpenSearch.

[2022-05-02 15:46] reta commented on #1816
@peternied the problem at large is that `security` plugin does not rely on `opensearch.opensearchplugin` (like in template [1] fe) so it is not possible to benefit from the shared versions using:

[code]

Do you by any chance now why the `opensearch.opensearchplugin` is skipped over?

[1] https://github.com/opensearch-project/opensearch-plugin-template-java/blob/main/build.gradle

[2022-05-02 17:12] peternied commented on #1809
https://github.com/opensearch-project/security/pull/1811 has been closed

[2022-05-02 17:12] #1809 closed

[2022-05-02 17:14] cliu123 commented on #1816
@reta Security plugin [migrated the build system from Maven to Gradle](https://github.com/opensearch-project/security/pull/1592), but still does not use `pensearch.opensearchplugin` as of now.

[2022-05-02 17:36] reta commented on #1816
Thanks @peternied , should we repurpose this issue to use `opensearch.opensearchplugin` in `security` instead of patching versions?

[2022-05-02 17:38] peternied commented on #1816
@reta Lets close this issue, and I'll use the follow up in security to prevent a 3rd incident

[2022-05-02 19:35] peternied commented on #1664
Before we close this lets add a checkstyle rule to look for this terminology and error if it is detected

[2022-05-02 19:48] peternied commented on #1630
@setiah could you incorporate some of these ideas into the admin experience?

[2022-05-02 19:48] #1630 closed

[2022-05-02 19:53] peternied commented on #45
[Triage] There is great thoughts in this space, this is in flux.  We don't have active plans to make improvements.  If there are other specific features please create issues for them.

@jimishs Please consider the topics raised in this issue as you think about the other efforts in OpenSearch / OpenSearch Dashboards, thanks!

[2022-05-02 19:53] #45 closed

[2022-05-02 22:24] peternied commented on #1815
Thanks for filing @jezsy, I am having trouble reproducing the issue with `/_search`.  As that data might be sensitive, could you email me directly at petern@amazon.com?  Sending the `security-auditlog-*` log entries, should give me the data I need to dive into this further.

[2022-05-04 12:53] aryannegi313 commented on #375
Faced a similar issue with OpenID authentication. The cookie size was greater than 4kb so the kibana UI authentication was not happening and was getting multiple redirection error.

I see this has been marked as an enhancement is there any update on this.
On which version will this problem be fixed?

[2022-05-04 17:12] DarshitChanpura opened #1822 "[Refactor] Rename `.opendistro_security` index to `.opensearch_security`"
This change is part of the renaming effort last year for the project from OpenDistro to OpenSearch. As a part of this effort:

- [ ] Look up `opendistro_security` and rename it to `opensearch_security`
- [ ] All the test cases should pass after this change
- [ ] Sanity test by installing this plugin in OpenSearch

[2022-05-04 19:25] peterzhuamazon opened #1823 "[2.0.0][Distribution]Remove rc1 qualifier reference in your code of 2.0 branch"
We are coming from this issue: https://github.com/opensearch-project/opensearch-build/issues/2078 in your `2.0` branch.

1. If you have `OpenSearch plugin` in your repo, make sure your `build.gradle` remove `rc1` reference, leave as `""`.
[code]

2. If you have `OpenSearch-Dashboards plugin` in your repo, make sure your `package.json` remove `rc1` reference, leave as `2.0.0.0`.
[code]

3. If you h

[2022-05-04 22:47] setiah commented on #1630
I am not sure if I understood the proposal fully, but I am aligned with the overall idea of removing demo certs and replacing them with auto-generated self-signed certificates out of the box. There are technical challenges we might need to think through such as how does this work for multi-node cluster

Could you please elaborate more on the approach and define `ClusterManager` and what it does.

[2022-05-05 01:41] peterzhuamazon opened #1824 "Release version 2.0.0 (GA)"
This is a component issue for 2.0.0 (GA).
Coming from [opensearch-build 2086](https://github.com/opensearch-project/opensearch-build/issues/2086). Please follow the following checklist.
__Please refer to the DATES in that post__.

<details><summary>How to use this issue</summary>
<p>

## This Component Release Issue

This issue captures the state of the OpenSearch release, on component/plugin leve

[2022-05-05 06:26] jgough opened #1825 "403 Forbidden Responses as anonymous user should be 401 Unauthorized"
**What is the bug?**
On a cluster with anonymous access enabled, when I try to access a resource for which I do not have permissions then I receive a `403 Forbidden` response

e.g.
[code]

According to [RFC 2616](https://datatracker.ietf.org/doc/html/rfc2616) a `403 Forbidden` means

A `401 Unauthorized` would be correct here as authentication is required.

This is causing interoperability issues

[2022-05-05 14:24] CodeGlitcher commented on #1392
Any news on this?
the documentaion around auditlog is stil not right.
https://opensearch.org/docs/latest/security-plugin/audit-logs/index/#exclude-users

[2022-05-05 14:57] peternied commented on #1630
_From https://github.com/opensearch-project/OpenSearch/issues/472#issuecomment-976967147_

This cluster startup process came from [Trust on First Use (TOFU)](https://en.wikipedia.org/wiki/Trust_on_first_use) that is also compliable for clusters that are inside a secured network.

#### Note: closing this issue
I realize that I did not included any context when I I closed this issue; while this is d

[2022-05-05 19:21] #1642 closed

[2022-05-06 06:20] gbbafna opened #1827 "[BUG] opendistro in API path to retrieve the cluster’s security certificates"
**What is the bug?**

API to retrieve  the cluster’s security certificates contains `_opendistro` instead of `_plugins` . This is inconsistent behavior as compared to all other security APIs.

**What is the expected behavior?**

API to retrieve  the cluster’s security certificates becomes  `_plugins/_security/api/ssl/certs`

**Do you have any additional context?**

[Documentation link](https://ope

[2022-05-06 11:59] Pythonov opened #1830 "No changes in config.yml"
**Describe the bug**
Hi! Could you please help me?
I'm trying to use custom config.yml for security plugin, but i can't see any changes in UI
For example:

basic_internal_auth_domain:
        description: "Authenticate via HTTP Basic against internal users database"
        http_enabled: true
        transport_enabled: true
        order: 3
        http_authenticator:
          type: basic

[2022-05-08 19:58] mend-for-github-com[bot] opened #1831 "CVE-2022-24823 (Medium) detected in netty-common-4.1.73.Final.jar"
## CVE-2022-24823 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>netty-common-4.1.73.Final.jar</b></p></summary>

<p></p>
<p>Library home page: <a href="https://netty.io/">https://netty.io/</a></p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnera

[2022-05-09 17:46] cliu123 opened #1832 "[Test Refactoring] Replace `Assert.assertEquals()` with `assertThat()`"
coming from a [PR review comment](https://github.com/opensearch-project/security/pull/1808/files#r864082852)
Use `assertThat(...)` to replace `Assert.assertEquals(...)`, as it will provide a more verbose error message.

[2022-05-09 20:32] cliu123 commented on #1827
Both `_plugins/_security/api` and `_opendistro/_security/api` are supported to retain backward compatibility.

[2022-05-09 20:36] DarshitChanpura commented on #1825
[Triage] You're right. There is an ambiguity to this area. Thank you for reporting this. As this is a breaking change w.r.t backwards compatibility, we're not going to change the response code in 2.0 release, but we'll keep this proposal in mind if there is an opportunity to update the behavior.

[2022-05-09 20:36] #1825 closed

[2022-05-09 20:56] #1797 closed

[2022-05-09 21:14] cliu123 commented on #1763
Security plugin validates certificate to make sure all connections are established with valid certificates, but it doesn't disconnect a connection estabilished with a certificate that is still valid(not expired) no matter whether a new cert gets loaded. If user wants to enforce the connection to pick up the new cert, restarting the node automatically does that.

[2022-05-09 22:16] peternied commented on #1799
Thanks for filing this issue @ryanvaloris, if you want to add an entry in the array, there is a slightly different syntax, see this example http://jsonpatch.com/#add

Retry the request with this body:
[code]

[2022-05-09 22:16] #1799 closed

[2022-05-10 10:28] kunal-parsewar opened #1843 "[Bug}[OpenSearch AD Role with Azure AD] How to map Azure AD roles in OpenSearch roles."
I have setup the SSO using saml between zure AD and OpenSearch.

Now I have many team using the opensearch via opensearch dashboard and they login using azure ad credentials. Now I have to create the different roles for each and every different team in the opensearch dashboard and need to add them individually into that roles.

How can i map the roles / groups created in Azure AD directly in the o

[2022-05-10 16:35] duhang opened #1833 "Question: what to do with the stale dependencies in THIRD_PARTY.txt"
**What is the bug?**
A clear and concise description of the bug.

The THIRD_PARTY.txt in this project hasn't been updated since 2019.

We are facing challenges to attribute properly to those 69 stale 3rd-party dependencies listed in THIRD_PARTY.txt.

My questions are:

1. Currently, is there any action/plan to update this THIRD_PARTY.txt and more importantly, to keep it updated as code base evolve

[2022-05-10 18:56] cliu123 commented on #1801
I see that @prudhvigodithi has already been working on this. [PR](https://github.com/opensearch-project/security/pull/1757)

[2022-05-10 23:56] prudhvigodithi commented on #1801
Hey @cliu123 , that was very early phase of testing of adding a subproject in each repo, now we have developed a custom plugin that can be just applied in each repo, here is the [documentation](https://github.com/opensearch-project/opensearch-plugins/blob/main/BUILDING.md#opensearchpluginzip) link of the custom plugin, please try and let me know if you are able add this custom plugin opensearch.pl

[2022-05-11 01:16] peterzhuamazon commented on #1834
Transfer to security plugin repo to take a look.

[2022-05-11 18:36] bbarani commented on #1801
@cliu123 @davidlago   Can you please make the necessary changes as listed on the document to support publishing your zips to Maven?

[2022-05-11 19:23] cliu123 commented on #1801
https://github.com/opensearch-project/opensearch-build/issues/1916#issuecomment-1124194740

[2022-05-11 19:55] peternied commented on #1801
@bbarani Unfortunately the security plugin was not onboarded in the same gradle pattern as the other plugins, we will need to spend time to re-write our build.gradle to take advantage of this work.  Is there someone that has experience in setting up one of these build files that we could work with to speed up the effort?

FYI @davidlago

[2022-05-11 19:56] setiah commented on #1787
The plan here is to add the bootstrap time auto-password generation logic behind a feature flag, with default disabled. In 2.x line, users can explicitly enable the flag to get out of the box strong passwords for in-built security users ("admin", "kibanaserver", "kibanaro", etc.). With the next major version, the flag can be changed to be enabled by default, which will bootstrap the cluster with d

[2022-05-12 10:28] igorneos commented on #1652
Any news?

[2022-05-12 13:40] jezsy commented on #1815
Hi @peternied. Apologies for the late response. Upon further tests, it seems my claim about /_search was wrong. kibana_1 was appearing in the results because I had my user mapped to the kibana_user role as well (was doing tests on the Dashboards Dev Tools), which had permissions for the kibana indices.

In that case, the main issue now is just extending usage of parameters do_not_fail_on_forbidden

[2022-05-12 13:58] jezsy commented on #1815
Similarly, I think the two parameters should also apply `GET _alias` and GET _aliases. At the moment, the whole operation is rejected instead of just filtering for those indices which the user does have permission for, even if the parameters are configured true

[2022-05-12 15:33] cliu123 commented on #1665
Closing with merging #1808.

[2022-05-12 15:33] #1665 closed

[2022-05-12 16:50] #1823 closed

[2022-05-12 19:18] peternied commented on #1652
@cliu123 did you have a chance to look into this?

[2022-05-12 19:21] peternied commented on #1815
Thanks for updating us on this issue, we have added this issue into items to be looked at so thank you very much for contributing to this project by filing.  Please feel free to open a pull request if you've got recommendations for this or other features.

[2022-05-13 19:17] peternied commented on #1768
We recommend that you ask your legal counsel how to properly attribute the binary. See Apache-2.0 license section 4c and 4d. We do not have any plan to update the notice text file.

[2022-05-13 19:17] #1768 closed

[2022-05-13 19:44] davidlago commented on #1801
This was not initially planned for 2.0 GA and it requires a rewrite of our build files, we might have to slate these changes in for 2.1 instead (cc @dblock @CEHENKLE )

[2022-05-13 19:48] cliu123 commented on #1822
The plan is not to rename indices.
Related discussion: https://github.com/opensearch-project/opensearch-plugins/issues/17#issuecomment-847204447

[2022-05-13 19:57] #1830 closed

[2022-05-13 19:57] cliu123 commented on #1830
@Pythonov Would you please re-route the support request to the [OpenSearch security forum](https://forum.opensearch.org/c/security/3), so everyone can have a reference.

[2022-05-13 19:58] peternied commented on #1822
We have a couple of conversations in flight about how/where security data is stored.  As we move forward in these efforts we can shift the index name.

[2022-05-13 19:58] #1822 closed

[2022-05-13 20:29] peternied commented on #1627
This work is done!

[2022-05-13 20:29] #1627 closed

[2022-05-13 21:19] cliu123 commented on #1834
Would you please re-route this support request to [OpenSearch security forum](https://forum.opensearch.org/c/security/3?), so everyone will have a reference to this?

[2022-05-13 21:19] #1834 closed

[2022-05-13 21:37] peternied commented on #1833
Thanks for opening @duhang, we do not have a timeline to update the THIRD_PARTY.txt.  We would be willing to accept pull requests to update it if you were so inclined. I think you'd want to pull from the [build.gradle](https://github.com/opensearch-project/security/blob/main/build.gradle#L87) dependencies if you were looking to recreate this list.

[2022-05-13 23:13] peternied opened #1839 "[Bug] Switch to standard OpenSearch gradle build process"
All plugins use a standard set of gradle tasks provided by OpenSearch, this allows for consistent build/test and other validation workflows.

Follow processes from;
* [Example build.gradle](https://github.com/opensearch-project/opensearch-plugin-template-java/blob/main/build.gradle)
* [Detailed building processes](https://github.com/opensearch-project/opensearch-plugins/blob/main/BUILDING.md#build

[2022-05-14 16:11] whitesource-for-github-com[bot] opened #1840 "CVE-2022-22970 (Medium) detected in spring-core-5.3.19.jar, spring-beans-5.3.19.jar"
## CVE-2022-22970 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>spring-core-5.3.19.jar</b>, <b>spring-beans-5.3.19.jar</b></p></summary>
<p>

<details><summary><b>spring-core-5.3.19.jar</b></p></summary>

<p>Spring Core</p>
<p>Path to dependency file: /build.

[2022-05-16 06:55] gbbafna commented on #1827
`_plugins/_security/api ` is not working . Only `_opendistro/_security/api` path is working for retrieving the security certificates . [Related forum post ](https://forum.opensearch.org/t/cant-get-the-node-s-dn-from-each-follower-cluster/9484)

[2022-05-17 14:47] pc-jedi opened #1842 "[BUG] too many (unnecessary) requests to the metadata URL"
**What is the bug?**
Whenever there is a write requests (`POST`, `PUT`, `DELETE`) towards the `/_plugins/_security/` API each OpenSearch node is requesting a fresh copy of SAML metadata from the IdP.
No matter if it is a role, tenant, user, etc. that gets created/updated/deleted.

Since we have a lot of OpenSearch clusters and we manage the internal user, roles, tenants, etc. for them, there are t

[2022-05-17 21:10] setiah commented on #1787
@ryanbogan I tested the current [implementation](https://github.com/ryanbogan/security/commit/114ba36716cbd6fd7f3802295ef2de60b7849910) for auto-generating passwords on bootstrap. There are a couple of issues that need to be fixed -

1. The passwords get auto-generated each time the node bootstraps even when the earlier bootstrap generated the password. Thus the previous password ends up getting o

[2022-05-18 08:11] shikharj05 opened #1849 "[BUG] Audit logging fails to log the request if Rest request is invalid"
**What is the bug?**
Audit logging doesn't log a failed request if request body fails to match content-type header or required parameters. For example, if request body logging is enabled and passed content-type is unsupported, the [following method](https://github.com/opensearch-project/security/blob/main/src/main/java/org/opensearch/security/auditlog/impl/AuditMessage.java#L384) can see ``OpenSea

[2022-05-18 14:51] peternied commented on #1842
Thanks for reaching out, @opensearch-project/security Could we have someone look into this?

[2022-05-18 16:11] peternied commented on #1843
Thanks for asking this question @kunal-parsewar, as this is about support with our features please use the [OpenSearch forums](https://forum.opensearch.org/c/security/3).  Consider adding a link to the discussion on this issue after you've created it.  Thanks.

[2022-05-18 16:11] #1843 closed, assigned to nobody

[2022-05-18 16:32] peternied opened #1852 "[BUG] When loading or setting a role permissions should be validated"
There was a typo during the creation of the `cluster:admin/opensearch/ml/stats/nodes` permission.  This wasn't noticed until much later when it was reported that this kind of permission didn't seem to work.  Rather than waiting until the permission was attempted to be used, there should be a way to check that a permission hasn't been declared and so the role isn't valid.

Great suggestion @rurspru

[2022-05-18 20:41] #1840 closed

[2022-05-19 02:48] HyunSeaHoon opened #1961 "[BUG] java.io.OptionalDataException error in OpenSearch 2.0 rc"
**Describe the bug**
I am collecting data with OpenSearch with Logstash.
OpenSearch throws java.io.OptionalDataException error during service operation.

This did not happen in the OpenSearch 1.3 operating environment.

The occurrence of errors is irregular, and errors sometimes disappear after a certain period of time has passed.

Data collection is collected in different indexes depending on the

[2022-05-19 18:36] frotsch commented on #1763
@cliu123 @peternied not sure why this was closed again? It makes me feel embarrassed and not taken seriously.

As [outlined above](https://github.com/opensearch-project/security/issues/1763#issuecomment-1107443768) restarting a node to pickup new certs is exactly was "hot" reloading is not about. And https://github.com/opensearch-project/security/issues/1763#issuecomment-1110073337 just explains t

[2022-05-20 14:46] rursprung opened #1858 "[FEATURE] usage of JWKS with JWT (w/o OpenID connect)"
**Is your feature request related to a problem?**
when using JWT it is cumbersome to manage the public keys / certificates directly in the config file (or as environment variables), making adding/removing issuers and general key rotation a pain.

**What solution would you like?**
it should be possible to define a JWKS endpoint for JWT-based authentication.

note: it _might_ be that this already wo

[2022-05-20 19:27] #1827 closed

[2022-05-20 19:39] DarshitChanpura commented on #1842
[Triage] Thank you for filing this. We'll get to this as soon as we can. In the meantime, if we can get as much information as we can it would be very helpful.

[2022-05-20 19:49] DarshitChanpura commented on #1849
[Triage] We wouldn't recommend logging invalid requests by default. However, we'd be interested to review a pull request.

@jimishs Can you please provide more inputs here?

[2022-05-20 19:51] DarshitChanpura commented on #1852
[Triage] Thank you for spotting this.

[2022-05-20 19:53] DarshitChanpura commented on #1858
[Triage] Thank you for filing this feature request.

[2022-05-20 20:46] cliu123 commented on #1849
@jimishs To be more clear - Invalid requests is pretty common. For example, a request in wrong syntax(could even be caused by a typo or anything) is an invalid request. It's not even reach server because it's a bad request. So it seems not related to security at all. In this case, we'd like to have your inputs on how much value to support this case in Audit Logging.

[2022-05-22 09:17] shikharj05 commented on #1849
Adding further comments-

Correct, not all invalid requests can be logged. However, if a request is reaching security plugin and it's AuthN is checked, plugin should not fail at logging it.

[2022-05-22 09:17] shikharj05 commented on #1849
Adding further comments-

Correct, not all invalid requests can be logged. However, if a request is reaching security plugin and it's AuthN is checked, plugin should not fail at logging it.

[2022-05-23 06:42] pc-jedi commented on #1842
Is there any particular information you would like to see?

Meanwhile I will test the issue with RC of 2.0.

[2022-05-23 21:04] tsgit opened #1859 "[BUG] "Tenant global_tenant is not allowed for user ..." and ldap authc/z"
**What is the bug?**
the global tenant cannot be selected in dashboard and the opensearch log shows

[WARN ][o.o.s.c.PrivilegesInterceptorImpl] [osearch-logging-node-1] Tenant global_tenant is not allowed for user ....

this started after upgrading from opensearch (-dashboards) 1.3.1 to 1.3.2

with version 1.3.1 there is no such problem.

**How can one reproduce the bug?**
Steps to reproduce the b

[2022-05-23 21:48] cliu123 commented on #1859
@tsgit I couldn't reproduce the issue on 1.3.2. Would you please share your steps to upgrade from 1.3.1 to 1.3.2?

[2022-05-23 22:18] tsgit commented on #1859
download and unpack
https://artifacts.opensearch.org/releases/bundle/opensearch/1.3.2/opensearch-1.3.2-linux-x64.tar.gzhttps://artifacts.opensearch.org/releases/bundle/opensearch-dashboards/1.3.2/opensearch-dashboards-1.3.2-linux-x64.tar.gz

copy opensearch-1.3.1/config/opensearch.yml to opensearch-1.3.2/config/opensearch.yml
copy opensearch-dashboards-1.3.1/config/opensearch_dashboards.yml opense

[2022-05-23 22:31] tsgit commented on #1859
I do not run the opensearch-tar-install.sh script, since the security plugin is already configured and the options certificates are set. I have used this approach for all releases since version 1.2.0.

[2022-05-23 23:52] ronniepg opened #1860 "[UX/UI] own_index role is required to make index_pattern based permissions work"
**What is the bug?**
A role giving permissions based on index pattern does not grant the user the specified permissions unless the own_index role is additionally provisioned for that user.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Create an internal role like so
`
curl -XPUT https://localhost:9200/_plugins/_security/api/roles/sem-role -H 'Content-Type: application/jso

[2022-05-24 00:32] ronniepg opened #1861 "[BUG] Certain index APIs fail with permission denied when user role is restricted based on index pattern"
**What is the bug?**
Certain index APIs fail with permission denied when user role is restricted based on index pattern

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Create an internal role like so
`
curl -XPUT https://localhost:9200/_plugins/_security/api/roles/sem-role -H 'Content-Type: application/json' -d' { "cluster_permissions": [ "cluster_monitor" ], "index_permiss

[2022-05-24 01:03] ronniepg opened #1862 "[BUG] Index Template APIs need to be specified under cluster permissions rather than index permissions"
**What is the bug?**
Index Template APIs need to be specified under cluster permissions rather than index permissions

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Create an internal role like so
`
curl -XPUT https://localhost:9200/_plugins/_security/api/roles/sem-role -H 'Content-Type: application/json' -d' { "cluster_permissions": [ "cluster_monitor" ], "index_permissio

[2022-05-25 08:02] shikharj05 opened #1863 "[FEATURE] Add support for PutComposableIndexTemplateRequest while resolving request"
**Is your feature request related to a problem?**
Security plugin doesn't support [PutComposableIndexTemplateRequest](https://github.com/opensearch-project/OpenSearch/blob/main/client/rest-high-level/src/main/java/org/opensearch/client/indices/PutComposableIndexTemplateRequest.java) while [resolving](https://github.com/opensearch-project/security/blob/78837b610bc35de8c07b46b33b7f8a5332f732e7/src/m

[2022-05-25 11:14] mrMigles commented on #429
Hi,
We have the same issue with clone operation.

User has the following rights:
[code]

But when it tries to clone an index, the exception occurred:

[code]

But the issue gone after we added global permission "*" for "indices:admin/resize":
[code]
Of course this is not a solution, because it allows users to clone indices to any new index names (not only for allowed pattern) without rights. Can a

[2022-05-25 11:18] mrMigles commented on #429
@vrozov, could you please take a look? Can't find an ability to re-open it.

[2022-05-25 17:46] #1780 closed

[2022-05-25 17:46] #1781 closed

[2022-05-25 21:48] peternied commented on #1863
Thanks for filing, we would be happy to accept a pull request for this issue.

[2022-05-25 22:19] cliu123 commented on #158
`kibana_user` is the role that you need.

[2022-05-25 22:19] #158 closed

[2022-05-26 18:06] cliu123 commented on #1763
@frotsch Thanks for bringing up this great idea to enhance the certs hot reloading feature! We understand that you've been working on the changes and ready to create a PR. We're happy to review your PR once it's open. But we're also here if you need any help make the PR.

[2022-05-26 20:47] cliu123 commented on #48
@opensearch-project/engineering-effectiveness Would you please transfer this issue to [opensearch-build](https://github.com/opensearch-project/opensearch-build) repo?

[2022-05-26 21:00] cliu123 commented on #48
ODFE is not actively supported anymore. We recommend you to move to OpenSearch that is actively supported. But OpenSearch hasn't support Debian package so far. Please file an issue in the [opensearch-build repo](https://github.com/opensearch-project/opensearch-build/issues) if you still need any help with this. Thanks! Closing this issue.

[2022-05-26 21:00] #48 closed

[2022-05-26 21:56] #1824 closed

[2022-05-27 15:57] peternied commented on #1842
@pc-jedi Thank you for your patience while we looked into this.  I have confirmed this behavior, the SAML metadata endpoint will be refreshed on any configuration change, easiest confirmation is a cache flush, [docs](https://opensearch.org/docs/latest/security-plugin/access-control/api/#cache).

This is the design of the security configuration index, upon _any_ change, all nodes refresh and rebuil

[2022-05-27 17:40] cliu123 commented on #147
@sathomps Thanks for bringing up the use case! But security plugin doesn't support automatically creating role upon index creation as of now. We'd love to accept a PR if you're interested in adding this contribution.

[2022-05-27 19:09] DarshitChanpura commented on #1859
[Triage] Can you please open this as a support request on [the forum](https://forum.opensearch.org/)

[2022-05-27 19:09] #1859 closed

[2022-05-27 19:25] DarshitChanpura commented on #1861
[Triage] Thank you for filing this. We'd love to review a pull request.

[2022-05-27 19:27] cliu123 commented on #1860
@ronniepg `own_index` static role is by default mapped to every user. Was the rolesmapping intentionally removed?

[2022-05-27 19:29] DarshitChanpura commented on #1862
[Triage] This is a documentation bug. The behavior you see is as expected.

[2022-05-27 19:30] DarshitChanpura commented on #1862
@opensearch-project/transfer-request Please move this bug to documentation repo.

[2022-05-27 20:00] DarshitChanpura commented on #1688
There are multiple types of permissions that allow `write` and the server doesn't know which permission to supply as it lacks the context in the request, and so there is an ambiguity between the permissions.

Closing this issue as this is the limitation that prevents us from fixing it.

[2022-05-27 20:00] #1688 closed

[2022-05-29 01:43] sathomps commented on #147
@cliu123

Thanks for reaching out.  After having some time to chew on this I think it's better to just close this one out.

[2022-06-01 17:07] patcable opened #1866 "[BUG] Security modules ignore plugins.security.ssl.transport.pemtrustedcas_filepath"
**What is the bug?**
When I attempt to authenticate to an LDAP server with `plugins.security.ssl.transport.pemtrustedcas_filepath` set, it's unable to validate the LDAP server's TLS certificate.

**How can one reproduce the bug?**
1. Set PEM Trusted CAs.
2. Try to authenticate against an LDAP server

**What is the expected behavior?**
The security module would use whatever trusted CA option is set

[2022-06-01 17:39] DarshitChanpura commented on #1863
@shikharj05 Can you list the steps to reproduce this issue?

[2022-06-01 17:53] DarshitChanpura opened #1867 "[Feature] Automate license header generation for all new files"
Created as a follow-up for [this issue](https://github.com/opensearch-project/security/issues/1744) to add automation to license header generation whenever a new file is created.

[2022-06-02 00:30] jimishs opened #1869 "[RFC] Dashboards object sharing (replace Dashboards tenants)"
## Background
OpenSearch users have adopted the security plugin to manage the data permissions of users across various teams within their organization. In addition to providing fine grained access control for actions on the data and the cluster, various authentication mechanisms including basic and SAML, the security plugin also provides the ability to isolate OpenSearch Dashboards objects using a

[2022-06-02 18:48] cliu123 commented on #1863
@DarshitChanpura The reproduce steps seem to be in [the description of another issue](https://github.com/opensearch-project/documentation-website/issues/619).

[2022-06-02 22:52] peternied opened #1872 "[BUG] Security configuration is bootstrapped in yml format and then converted into json"
**What is the bug?**
When configurating permissions for a cluster there is a yaml format, see https://opensearch.org/docs/latest/security-plugin/configuration/yaml/, after the cluster has started the security configuration on disk is not updated causing drift.  Updating the security configuration is done with JSON based structure, which while similar to yaml in structure is not human parsable for

[2022-06-02 22:59] peternied opened #1873 "[BUG] Fields of security options leak the abstraction model"
**What is the bug?**
There are fields such as `is_internal_user`, `user_requested_tenant` on the [account](https://opensearch.org/docs/latest/security-plugin/access-control/api/#account) object, field such as `static`, `hidden` on [action groups](https://opensearch.org/docs/latest/security-plugin/access-control/api/#action-groups) objects.

These fields are not documented or described, they expose

[2022-06-02 23:17] peternied opened #1874 "[BUG] Roles have several fields that could overlap making it hard to know what permissions are accessible"
**What is the bug?**
In the definition of the [role] object there are `cluster_permissions`, `index_permissions`, `tenant_permissions`.  These are 3 different kinds of permission, and they have different `allowed_actions` actions under them.

**What is the expected behavior?**
When there are nested permissions like this, it is hard to see what actions are granted or not for a given role, it also m

[2022-06-02 23:28] peternied opened #1875 "[BUG] Action groups are used as a crutch to fix bad permissions naming"
**What is the bug?**
[Action groups](https://opensearch.org/docs/latest/security-plugin/access-control/api/#action-groups) create a way to group together several permissions under another name.  These groups do not follow naming conventions or standards allowing confusing actions group names like "cluster_composite_ops".  Without any heirarchy or pattern its hard to interpret what this value means

[2022-06-02 23:32] peternied commented on #1833
@opensearch-project/plugins What do you think about the suggestion? I am in favor of option 1.

[2022-06-03 08:30] pc-jedi commented on #1842
I saw that the SamlHTTPMetadataResolver is using the [set cache functions](https://github.com/opensearch-project/security/blob/main/src/main/java/com/amazon/dlic/auth/http/saml/SamlHTTPMetadataResolver.java#L38-L40) iif the extended [HTTPMetadataResolver](https://javadoc.io/static/org.opensaml/opensaml-saml-impl/3.4.3/org/opensaml/saml/metadata/resolver/impl/HTTPMetadataResolver.html).

Neverthele

[2022-06-03 15:57] asfoorial opened #1876 "[BUG] securityadmin.sh -backup gives ERR: Seems audit from cluster is not in legacy format: java.io.IOException: A version of 1"
**What is the bug?**
I am getting the below error when try to take a backup of the security yml files.

ERR: Seems audit from cluster is not in legacy format: java.io.IOException: A version of 1 can not have a _meta key for AUDIT

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Untar opensearch 2.0.0 and run opensearch-tar-install.sh
2. Ran the below

./securityadmin.sh -bac

[2022-06-03 18:50] ronniepg commented on #1860
@cliu123 Well i had cleaned up all the demo users/roles/role-mappings and added only those user/role which were required. The own_index was also cleanup since its significance wasnt mentioned anywhere.

Why do we need own_index role to make a simple role like the one mentioned above work? I would expect each role to be independent of another role in a typical RBAC model.

If this own_index role is

[2022-06-06 04:20] shikharj05 commented on #1863
@DarshitChanpura - the issue can be reproduced using the steps here - https://github.com/opensearch-project/documentation-website/issues/619

You will see a debug log line -
[code]
However, since the workaround in above issue suggests adding **indices:admin/template/*** permission to cluster permissions, user can create index template for any index.

@cliu123 updated the description to include the

[2022-06-06 19:09] cliu123 commented on #1866
[Triage] Thanks for reporting the issue!

[2022-06-06 19:25] cliu123 commented on #1872
We have no plan to change the current YAML strategy. If there's a specific use case that needs to be addressed, please post on this issue and the issue will be re-opened.

[2022-06-06 19:25] #1872 closed, assigned to nobody

[2022-06-06 19:43] cliu123 commented on #1876
[Triage] Thanks for reporting the issue!

[2022-06-06 20:55] cliu123 commented on #1389
Closing the issue with merging https://github.com/opensearch-project/security/pull/1868.
Note: If a cluster is set up with recursive action groups initially, the cluster boostrap would fail. But this fix prevents recursive action groups from getting introduced into a running cluster.

[2022-06-06 20:59] peternied commented on #1389
Note; we do not plan to fix issues with the recursive definition from in a configuration file as the node was never operational comparted to a functioning cluster going down, if there is interest we would be happy to review a pull request that addresses the configuration loading issue, thanks!

[2022-06-06 21:45] amalgamm commented on #1876
Same for me. Configs are correctly validated for security admin v7, but the backup detects all configs as version 6
`Legacy index '.opendistro_security' (ES 6) detected (or forced). You should migrate the configuration!`

Dropping and recreating .opendistro_security index does not solved the problem.

[2022-06-06 21:51] cliu123 commented on #1876
OpenSearch 1.0.0 is a fork of Elasticsearch 7.10.2. It supports migration from ES 7.10.2 to OpenSearch 1.0.0, but doesn't support migration from ES 6 to OpenSearch.

[2022-06-06 21:57] amalgamm commented on #1876
There was no migration in my case. My opensearch cluster is quite fresh. It started from scratch on v1.2.4. Week ago I bumped it to 2.0.0 so .opensearch_security index was originally created with securityadmin v7 on opensearch 1.2.4.

This error appeared after upgrading to 2.0.0

[2022-06-06 22:52] saratvemulapalli commented on #1833
We do have repositories which maintain Third Party notices([1] OpenSearch-SDK).
Im not a legal expert but Option 1 seems like a cleaner approach if we're not ready to maintain it.
@hyandell @dblock  any thoughts here?

[1] https://github.com/opensearch-project/opensearch-sdk/blob/main/THIRD-PARTY-NOTICES

[2022-06-07 13:54] patcable opened #1877 "[FEATURE] Document behavior of live TLS certificate refresh"
**Is your feature request related to a problem?**
Sort of. There is functionality in opensearch-security to reload TLS certificates in opensearch-security. It's not really documented, though.

**What solution would you like?**
Let folks know about the `plugins.security.ssl_cert_reload_enabled` flag, and that certificate reloads can be triggered with a `PUT` to `/_opendistro/_security/api/ssl/{http

[2022-06-07 14:57] patcable commented on #1877
Also, Just noticed [this](https://github.com/opensearch-project/security/blob/1.3.2.0/src/main/java/org/opensearch/security/ssl/rest/SecuritySSLCertsInfoAction.java#L122-L126) which gets in the way of me having an internal user run the refresh command. This could be it's own permissions group, potentially.

[2022-06-07 16:15] peternied commented on #1877
Thanks for filing @patcable, documentation is managed in another repository and there is an issue tracking the missing documentation for the `reloadcerts` api, see https://github.com/opensearch-project/documentation-website/issues/530  I am going to close this issue as a duplicate.

Thanks for drawing attention to this, being unable to delegate actions to other accounts is a gap in the design.

[2022-06-07 16:35] peternied opened #1878 "[BUG] Several actions cannot be delegated to users and must be run as an admin user"
**What is the bug?**
There are APIs, such as [reloadcerts](https://github.com/opensearch-project/security/blob/main/src/main/java/org/opensearch/security/ssl/rest/SecuritySSLReloadCertsAction.java#L42), which are only authorized for full admin users.

**What is the expected behavior?**
There should be granular permissions that for all actions in OpenSearch to be individually assigned.  The large b

[2022-06-07 16:47] peternied commented on #1877
Filed a separate bug on that permissions design issue, so it can be tracked after this one is closed out.

[2022-06-07 16:47] #1877 closed

[2022-06-07 20:41] patcable commented on #1877
hmm. So, there's a documentation issue for sure that's captured well in opensearch-project/documentation-website#530. With that, @peternied do you think it'd be worth opening a feature ticket to allow other roles the ability to reload certs?

[2022-06-07 20:45] patcable commented on #1877
oh, just saw you captured that in #1878. Thanks!

[2022-06-07 22:03] peternied commented on #1842
Unfortunately, the architecture of the security configuration, on update a full recreation of all configuration derived objects is performed.  This is an issue because the internal idP shares the same configuration as the security config.  Believe me, I would very much like to fix this problem, but its a large body of work.

@cliu123 do you have context around the scale capabilities for the intern

[2022-06-08 07:48] phijojo opened #1879 "[BUG] on opensearch 2.0.0, securityadmin.sh is still looking for whitelist.yml instead of allowlist.yml"
**What is the bug?**
While running the script `securityadmin.sh`  on OpenSearch 2.0.0, I can see it is checking for whitelist.yml. According to the [documentation](https://opensearch.org/docs/latest/breaking-changes/#deprecate-outdated-nomenclature), the whitelist.yml is deprecated and is replaced with allowlist.yml in 2.0.0. It reproducible on docker images

**How can one reproduce the bug?**
Ste

[2022-06-08 20:48] #1744 closed

[2022-06-09 20:13] #1581 closed

[2022-06-09 20:14] peternied commented on #1581
@trondhindenes I know you filed this a way back, but it should be fixed in the next release of OpenSearch

[2022-06-13 11:50] prudhvigodithi commented on #1801
Hey @cliu123 @davidlago dave, just following up to see if `opensearch.pluginzip` is integrated, if not please make the necessary changes to add `opensearch.pluginzip` to support publishing your zips to Maven.

[2022-06-13 17:27] cliu123 commented on #1801
@prudhvigodithi `opensearch.pluginzip` has not been integrated yet, but [it](https://github.com/opensearch-project/security/issues/1839) is in our backlog.

[2022-06-13 19:27] waza-ari commented on #1681
I have a very similar issue, this seems to be a bug to me. I double and triple-checked the configuration and can't seem to find anyone who successfully managed to connect OpenSearch to Keycloak via SAML.

It is posted in the forum here: https://forum.opensearch.org/t/failing-to-configure-saml-between-opensearch-and-keycloak/

Not sure if that's a Keycloak Issue or an OpenSearch issue though

[2022-06-13 19:31] peternied commented on #1879
[Triage] Thanks for filing this issue.  @cliu123 do you have more context on this issue you could added?

[2022-06-13 19:37] peternied commented on #1576
There was a related issue filed https://github.com/opensearch-project/security-dashboards-plugin/issues/1008 where the admin password was not able to be updated in the UX

[2022-06-13 19:48] cliu123 commented on #1879
@phijojo  [The allowlist config and API](https://github.com/opensearch-project/security/pull/1808) will be introduced in OpenSearch 2.1.0 release as [planned](https://github.com/opensearch-project/OpenSearch/issues/2589#issuecomment-1101707941). We do apologize that the documentation does not reflect the accurate information.

[2022-06-13 19:48] #1879 closed

[2022-06-13 19:55] DarshitChanpura opened #1884 "[BUG] `index_template` action type is not part of cluster-permissions check even though `template` is."
The part of code which evaluates an action to be of cluster permission type [here](https://github.com/opensearch-project/security/blob/main/src/main/java/org/opensearch/security/privileges/PrivilegesEvaluator.java#L596) is missing the logic to check for `index_template` action type.

*__Behavior before change:__*
 All the actions with pattern `indices:admin/index_template/` are not evaluated as cl

[2022-06-13 20:57] peternied commented on #1863
[Triage] We've looked into this request for supporting this permissions on an index level, and with the current architecture this proposal would create many problems.  For example templates do not apply to existing indices that can be permissioned, instead they are associated with a patterns of future created indices, who can control reducing or increasing the scope of these patterns is a hard thi

[2022-06-13 20:57] #1863 closed

[2022-06-14 05:35] cliu123 commented on #1664
No more action items for this issue.

[2022-06-14 12:45] rockybean commented on #1860
Also met an issue with this `own_index` role. We have some username starting with `_` and this will cause exceptions as below when try to bulk write.
[code]

[2022-06-14 14:05] peternied commented on #1664
Searching for 'master' in our codebase has [26 results](https://github.com/opensearch-project/security/search?q=master produces).  Lets see if we can get that to zero, that checkstyle rule hasn't been enabled, we should turn it on and also drive that count to zero.

[2022-06-15 14:47] #1533 closed

[2022-06-15 17:36] #1884 closed

[2022-06-16 13:35] jgough commented on #1869
We love the concepts of tenants, however I am slightly worried about this proposal to replace them on my understanding of what I've read.  There's a lot written above so I may be misinterpreting some of it -  if this is the case please help me understand better the proposal!

We use tenants to organise data from various _products_ into verticals where each tenant (product) is compartmentalised and

[2022-06-16 15:11] squiddy-gh commented on #1869
Will have to keep this brief, so sorry for the stream of consciousness response...

As for the notion of "tenancies" being misinterpreted as providing data separation, fair enough - but we use it in the manner suggested, to provide compartmentalization of dashboards and visualizations.  Like @jgough above, we don't wish to lose that aspect of the tenancy nomenclature.

However, having a means to p

[2022-06-16 17:14] cliu123 commented on #1664
There are multiple APIs in OpenSearch core still have `master` terminology, so security plugin cannot remove all of them: `node.master`, `ClusterChangedEvent.localNodeMaster()`, `org.opensearch.action.support.master`, `MasterNodeOperationRequestBuilder`.

[2022-06-16 17:21] tlfeng commented on #1664
Hey @cliu123, thanks for pointing out. I'm trying deprecating all the Java APIs (public class, method, variable) with "master" terminology, and providing the alternative usage with "cluster manager" in OpenSearch 2.1 by the issue https://github.com/opensearch-project/OpenSearch/issues/1684.
I will update the description in the issue to ask for using the alternative Java APIs in a further 2.x versi

[2022-06-16 17:47] cliu123 opened #1887 "Rename the usages of OpenSearch core Java API containing "Master" nomenclature"
OpenSearch core engine JAVA API changes are tracked in https://github.com/opensearch-project/OpenSearch/issues/1684.
This issue is to track the changes in security plugin that needs to align with the changes in OpenSearch core engine.

[2022-06-16 21:44] cliu123 opened #1889 "BWC test to support multiple upgrade paths"
This issue is to track the pending item mentioned in [the PR review comment](https://github.com/opensearch-project/security/pull/1883#pullrequestreview-1004722820).
BWC tests need to support multiple upgrade paths. This needs a generic solution in BWC test framework that can applied to all OpenSearch components.

[2022-06-17 11:08] trondhindenes commented on #1581
thanks!

[2022-06-17 16:59] rursprung opened #1891 "[BUG] file permission check should not complain about symlinks but instead follow them"
**What is the bug?**
when using Kubernetes (in our specific case: OpenShift) things like certificates are defined as [secrets](https://kubernetes.io/docs/concepts/configuration/secret/) and then [mounted into the image](https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-files-from-a-pod). for the mounted volume the file mode can be specified, e.g. `defaultMode: 256` (256 de

[2022-06-18 05:26] swapnilsvaidya commented on #545
I am also hitting this issue.
I am having dls setup in my role

[2022-06-19 12:54] swapnilsvaidya opened #1892 "[BUG] Getting exception while indexing document with user having role with document level security enabled"
**What is the bug?**
A clear and concise description of the bug.
I have created a user which is mapped with role having document level security enabled.
If I try to index the document through Bulkrequest using this user I get following exception:

 [ElasticsearchException[Elasticsearch exception [type=security_exception, reason=_opendistro_security_dls_query does not match (SG 900D)]]]

In OpenSea

[2022-06-19 18:30] j0hnth0m commented on #1876
'm getting exactly the same error on a freshly created cluster v 2.0.1.

[2022-06-20 01:48] prudhvigodithi opened #1893 "[BUG] Securityadmin error: Not a valid protocol version: This is not an HTTP port."
**What is the bug?**
Running `/usr/share/opensearch/plugins/opensearch-security/tools/securityadmin.sh` on port `9300` throws error `Caused by: org.apache.http.ParseException: Not a valid protocol version: This is not an HTTP port`
Full Error log:
[code]
From 2.0 release notes I see Transport client is deprecated, however the [documentation](https://opensearch.org/docs/latest/security-plugin/confi

[2022-06-20 10:10] mirisu2 commented on #1859
did you manage to resolve this problem?
I have the same error too.
`[2022-06-20T13:06:32,515][WARN ][o.o.s.c.PrivilegesInterceptorImpl] [opensearch-2] Tenant global_tenant is not allowed for user ...`
opensearch version is 1.3.2

[2022-06-20 11:45] pawelw1 commented on #1893
@prudhvigodithi The 2.0.x documentation has been updated with the correct port.

https://opensearch.org/docs/latest/security-plugin/configuration/security-admin/#basic-usage

[2022-06-20 11:53] prudhvigodithi commented on #1893
Hey @pawelw1, https://opensearch.org/docs/latest/security-plugin/configuration/security-admin/#opensearch-settings, I see as 9300 as transport port?, but ya basic usage shows 9200, should we consider changing the doc that says ? `-p | OpenSearch port. Default is 9300—not the HTTP port.` or is there any specific reason to add 9300 ?
Thank you

[2022-06-20 12:03] prudhvigodithi commented on #1893
Found similar forum post
https://forum.opensearch.org/t/securityadmin-sh-uses-http-port-9200-and-not-transport-port-9300-in-opensearch-2-0-0/9760

[2022-06-20 12:15] Sandy381 opened #1960 "[BUG]Unable to create proper roles based access for a particular index-pattern in Opensearch Roles Management"
**Unable to create proper roles based access for a particular index-pattern in Opensearch Roles Management**

Unable to create proper roles based management in Opensearch Roles & User Management.
I create a particular role with restricted access to only a single index pattern with user mapped to it. My goal is that particular user should only see only selected single index pattern data & should no

[2022-06-20 19:44] peternied commented on #1889
Waiting on https://github.com/opensearch-project/OpenSearch/issues/3607

[2022-06-20 19:59] peternied commented on #1891
[Triage] Thanks for filing @rursprung

[2022-06-21 00:26] gaiksaya opened #1894 "Release version 2.1.0"
This is a component issue for __2.1.0__.
Coming from [opensearch-build#1818](https://github.com/opensearch-project/opensearch-build/issues/1818). Please follow the following checklist.
__Please refer to the DATES in that post__.

<details><summary>How to use this issue</summary>
<p>

## This Component Release Issue

This issue captures the state of the OpenSearch release, on component/plugin level

[2022-06-21 03:44] mousemaxx commented on #1876
I have some problem after migration ODFE 1.13.1.0 to OpenSearch 2.0.0
Before migration ODFE was checked for the need to update system indexes:
`/securityadmin.sh -migrate ....`

`...`
`Elasticsearch Version: 7.10.2`
`Open Distro Security Version: 1.13.1.0`
`...`
`Clusterstate: GREEN`
`Number of nodes: 74`
`Number of data nodes: 50`
`.opendistro_security index already exists, so we do not need to c

[2022-06-21 17:19] saratvemulapalli opened #1895 "[FEATURE] Security support for extensions"
Coming from:
[Meta] Making OpenSearch Extensible https://github.com/opensearch-project/OpenSearch/issues/2447
[Meta] Plugin Sandboxing (a.k.a extensions) https://github.com/opensearch-project/OpenSearch/issues/1422

To build a MVP for extensions we are working on building Anomaly Detection plugin and help run it as an extension.
Our end goal is to have:
- Load third party extensions securely
- Pro

[2022-06-21 17:46] cliu123 opened #1896 "[BUG] The exceptions causing security not initilzed are not logged"
**What is the bug?**
When OpenSearch cluster is red, security plugin cannot be initilized. But the exceptions causing security plugin not initilized are not logged. It is necessary to log all the exceptions to facilitate debugging security plugin initiation issues.

**How can one reproduce the bug?**
[code]

[2022-06-21 22:28] prudhvigodithi opened #1898 "[BUG] Securityadmin error: exits with node reported failures"
**What is the bug?**
Executing `/usr/share/opensearch/plugins/opensearch-security/tools/securityadmin.sh` throws error as `FAIL: Expected 2 nodes to return response, but got 0`
Full error
[code]

**How can one reproduce the bug?**
Start the docker container with some persistence storage and when executed `/usr/share/opensearch/plugins/opensearch-security/tools/securityadmin.sh` throws this error.

[2022-06-22 00:16] prudhvigodithi commented on #1898
This could be an issue
[code]
Trying to create an index early, causing this error, after a certain period, then I get `Done with success`, would be helpful, if this can be handled by `/usr/share/opensearch/plugins/opensearch-security/tools/securityadmin.sh` script.

[2022-06-22 11:18] ict-one-nl commented on #1652
Guys, with 2.0.1 my workaround with restoring specific indexes doesn't work anymore. Basically I can't recover my cluster with my default admin credentials.

I do not want to be pushy, but this is getting **really** annoying and breaks the snapshotting functionality completely......

![image](https://user-images.githubusercontent.com/2643715/175016208-9add7316-05d2-41f3-84cd-232d9cf613ac.png)

![i

[2022-06-22 11:35] ict-one-nl commented on #1652
Trick with the admin certificate works though.

[2022-06-22 21:28] kgcreative commented on #1869
@squiddy-gh and @jgough - I'm hearing the need for some kind of either workspace, or other organizational concept that would allow users to easily share objects together without having to look through and parse through a bunch of additional "noise" to get to what they are looking for. This makes me wonder if either a hierarchichal organization structure could be added as an option (perhaps folders

[2022-06-23 07:29] jgough commented on #1869
Are there many forum posts around this issue and the problems people are having?  I had a quick search but couldn't find anything.  I'd really like to understand if I'm an outlier in liking the existing tenant system.

[2022-06-23 14:56] oridool opened #1900 "[BUG] PUT _index_template/mytemplate API failed (403 Forbidden) when setting correct permissions"
**What is the bug?**
I have a user with limited privileges (applying to least privileges pattern).
When calling the API
`PUT _index_template/my_template  { ... }'

It failed with 403 even though the correct permission is applied.
The error message is:
[code]

**How can one reproduce the bug?**
Steps to reproduce the behavior:

create a user with the following cluster permissions:
[code]

Execute t

[2022-06-23 15:25] #1664 closed

[2022-06-23 20:08] DarshitChanpura commented on #1761
[Update] This won't be completed in time for 2.1.0 and is to be moved to 2.2.0

[2022-06-24 00:04] peternied commented on #1895
This security plugin is not in a good position to support a feature that is built into OpenSearch's codebase, looking at how we are considering building extensions security related features should be built into the core of OpenSearch instead of through its plugin systems.  I am going to close this issue.

However, having a hand in developing security for extensions is a discussion we would like to

[2022-06-24 00:09] peternied commented on #1895
All in all - I think we have an opportunity to design a better security posture for OpenSearch and its extensibility models.  Asks like this highlight the need for more thought and alignment generation in this space, thanks for calling out these concerns.

[2022-06-24 11:22] swapnilsvaidya commented on #1892
@peternied Hi Peter, Could you please confirm if you are looking into this issue?

[2022-06-24 13:50] smlx commented on #1898
Can you please share a full `docker-compose.yaml` reproducing this error?

[2022-06-24 15:04] oridool commented on #1900
In the meanwhile, I have found a workaround, as provided in this thread:
https://forum.opensearch.org/t/unable-to-set-permissions-for-put-index-template/4863/9

[2022-06-24 17:22] #1801 closed

[2022-06-24 17:22] #1816 closed

[2022-06-24 17:22] #1839 closed

[2022-06-24 17:24] mend-for-github-com[bot] opened #1904 "CVE-2020-9488 (Low) detected in log4j-1.2.17.jar"
## CVE-2020-9488 - Low Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>log4j-1.2.17.jar</b></p></summary>

<p>Apache Log4j 1.2</p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /home/wss-scanner/.gradle/caches/modules-2/files-2.1/log4j/log4j

[2022-06-24 17:24] mend-for-github-com[bot] opened #1905 "CVE-2022-23307 (High) detected in log4j-1.2.17.jar"
## CVE-2022-23307 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>log4j-1.2.17.jar</b></p></summary>

<p>Apache Log4j 1.2</p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /home/wss-scanner/.gradle/caches/modules-2/files-2.1/log4j/log

[2022-06-24 17:24] mend-for-github-com[bot] opened #1906 "CVE-2021-4104 (High) detected in log4j-1.2.17.jar"
## CVE-2021-4104 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>log4j-1.2.17.jar</b></p></summary>

<p>Apache Log4j 1.2</p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /home/wss-scanner/.gradle/caches/modules-2/files-2.1/log4j/log4

[2022-06-24 17:24] mend-for-github-com[bot] opened #1907 "CVE-2022-23305 (High) detected in log4j-1.2.17.jar"
## CVE-2022-23305 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>log4j-1.2.17.jar</b></p></summary>

<p>Apache Log4j 1.2</p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /home/wss-scanner/.gradle/caches/modules-2/files-2.1/log4j/log

[2022-06-24 17:24] mend-for-github-com[bot] opened #1908 "CVE-2022-23302 (High) detected in log4j-1.2.17.jar"
## CVE-2022-23302 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>log4j-1.2.17.jar</b></p></summary>

<p>Apache Log4j 1.2</p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /home/wss-scanner/.gradle/caches/modules-2/files-2.1/log4j/log

[2022-06-24 17:24] mend-for-github-com[bot] opened #1909 "CVE-2019-17571 (High) detected in log4j-1.2.17.jar"
## CVE-2019-17571 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>log4j-1.2.17.jar</b></p></summary>

<p>Apache Log4j 1.2</p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /home/wss-scanner/.gradle/caches/modules-2/files-2.1/log4j/log

[2022-06-24 17:24] mend-for-github-com[bot] opened #1910 "CVE-2020-9493 (High) detected in log4j-1.2.17.jar"
## CVE-2020-9493 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>log4j-1.2.17.jar</b></p></summary>

<p>Apache Log4j 1.2</p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /home/wss-scanner/.gradle/caches/modules-2/files-2.1/log4j/log4

[2022-06-24 18:59] #1904 closed

[2022-06-24 18:59] #1905 closed

[2022-06-24 18:59] #1906 closed

[2022-06-24 18:59] #1907 closed

[2022-06-24 18:59] #1908 closed

[2022-06-24 18:59] #1909 closed

[2022-06-24 18:59] #1910 closed

[2022-06-27 12:28] daxxog commented on #1898
I ran into this same issue with `securityadmin.sh` timing out (`java.net.SocketTimeoutException: 30,000 milliseconds`) when try to deploy an OpenSearch `2.0.0` cluster on Kubernetes. I am running my `securityadmin.sh` as a k8s `Job`, which fails with the timeout and re-creates the pod and yields the same `.opendistro_security index already exists, so we do not need to create one.` and `Done with f

[2022-06-27 12:35] prudhvigodithi commented on #1898
Hey @daxxog just to add as a hack, this [sleep scenario](https://github.com/prudhvigodithi/opensearch-k8s-operator/blob/operator-2.0/opensearch-operator/pkg/builders/cluster.go#L749-L750) should work temporarily, but still there are some chances this can re-occur. Also yes this causing with slow disk startups with using `StorageClass`.
CC. @bbarani @peterzhuamazon

[2022-06-27 12:49] daxxog commented on #1898
Even with the sleep I was unable to get it to work, as my cluster storage was just slow in general (not just at startup). What I ended up doing:
* Created a 3-node manager cluster using `emptyDir: {}`
* Ran `securityadmin.sh`, without errors
* Added 6 manager-eligible data nodes to the cluster, using my slow `StorageClass`
* Waited for cluster to be `green`
* Deleted the original 3 manager nodes
*

[2022-06-27 17:13] peternied commented on #1892
Hi @swapnilsvaidya I am not currently looking into this issue, and it has been added to our work queue.  If you would like to create a pull request the maintainers and I would gladly review it.

[2022-06-27 19:02] peternied opened #1917 "Test reliability is impacting CI workflows"
There has been an increased number of test failures that have started to prevent continuous integration for pull requests.  It looks like this has been accelerated by the recent cut over to the Randomizer test runner.  While there has been progress with pull requests like https://github.com/opensearch-project/security/pull/1914, we should continue to invest in this space to keep our build and test

[2022-06-27 20:25] DarshitChanpura opened #1918 "[BUG] BWC tests are failing after upgrading to OpenSearch 3.0.0"
BWC tests encountered failure after the 3.0.0.0 version bump on the main branch. Seems like an issue with a cluster not coming-up in time.

[code]

You can view the completed error log [here](https://pipelines.actions.githubusercontent.com/serviceHosts/9abab72e-2b42-4dc8-8d43-6a838a1f584b/_apis/pipelines/1/runs/6734/signedlogcontent/2?urlExpires=2022-06-27T20%3A08%3A09.1700367Z&urlSigningMethod=HM

[2022-06-27 20:29] cliu123 commented on #1918
There's an [open issue](https://github.com/opensearch-project/OpenSearch/issues/3615) in core. Could that be related?

[2022-06-28 12:18] pawelw1 commented on #1876
I still have the same issue in 2.0.1

[2022-06-28 14:39] asfoorial commented on #1876
I suggest to deprecate the securityadmin tools in favor of the Security REST API. Let the admin user, or users with the right permissions, to manage security configuration through the REST API.

[2022-06-28 14:51] Jakob3xD commented on #1876
How should the `config/opensearch-security/config.yml` file be managed? I am not aware of an REST API for that.

[2022-06-28 15:10] asfoorial commented on #1876
Below is a call to update the security config. It is all documented here https://opensearch.org/docs/latest/security-plugin/access-control/api/#update-configuration

PUT _plugins/_security/api/securityconfig/config
{
  "dynamic": {
    "filtered_alias_mode": "warn",
    "disable_rest_auth": false,
    "disable_intertransport_auth": false,
    "respect_request_indices_options": false,
    "opensear

[2022-06-28 15:14] asfoorial commented on #1876
Moreover, the current securityadmin utility also calls a (hidden) REST API. I think that API should be visible to the admin user. As for the reserved users such as the admin, you can set it as a regular user first time you start the cluster. In fact, I still wonder why the "reserved" admin is designed not to be able to change his own password!

As far as I have seen, all securityadmin functionalit

[2022-06-28 19:08] DarshitChanpura commented on #1896
[Triage] Need more information about reproducing the error. We are happy to accept a PR for this issue.

[2022-06-28 19:26] DarshitChanpura commented on #1900
[Triage] This fix has been implemented to 2.0 and so we would suggest you to upgrade. If it's not a viable option, a backport to 1.3 and wait for its scheduled release as a plan B.

[2022-06-28 19:35] prudhvigodithi commented on #1898
Hey @DarshitChanpura, I have used a hack to make it work but looks like for @daxxog its not yet resolved he ended up with another hack, the idea here is for `securityadmin` to handle this connection to the cluster and create a `.opendistro_security` index once the cluster is fully ready, could we consider reopening this and can be tracked here ?
Thank you

[2022-06-28 19:44] DarshitChanpura commented on #1898
Hey @prudhvigodithi Would you mind providing more details on how to reproduce this as it seems like a migration issue from  an older version. What are the steps needed to follow to reproduce the issue independently, including which previous version you were using?

[2022-06-28 19:45] DarshitChanpura commented on #1917
[Triage] Thank you for filing this. @peternied Please update this issue with when you will be done with it.

[2022-06-28 19:47] DarshitChanpura commented on #1918
[Triage] This is blocking security from moving to `3.0.0`

[2022-06-28 20:06] prudhvigodithi commented on #1898
Hey @DarshitChanpura this is an installation from scratch for 2.0.1 version, here are the steps that we can re-produce in kubernetes. For 1.x version somehow this error does not show up as the connection is initiated via transport client using port 9300, have seen this with port 9200 (or with another port from `http.port` ) http connection.

1) Create `securityadmin.sh` as a k8s Job that can conne

[2022-06-28 20:14] cliu123 commented on #1898
@prudhvigodithi The scenario that you have does not seem to be exactly same as the one originally being filed. Looking at the issue description, I see the following in the logs. That indicates that there was an existing `.opendistro_security` index in the cluster. So there are more than 1 use case that needs to be investigated here.
[code]

[2022-06-28 20:18] prudhvigodithi commented on #1898
Hey @cliu123, it starts with `java.net.SocketTimeoutException: 30,000`, and then upon retry it says `.opendistro_security index already exists, ` and error as `FAIL: 2 nodes reported failures. Failure is /{"_nodes":{"total":2,"successful":0,"failed":2,"failures":[{"type":"failed_node_exception","reason":"Failed node `

I suspect the `.opendistro_security` gets created even with the error  `java.ne

[2022-06-28 20:35] DarshitChanpura opened #1922 "Add build script to scripts folder"
Security is missing `build.sh` under scripts folder which is preventing it from getting published to maven.

[2022-06-28 20:46] prudhvigodithi commented on #1922
Hey @DarshitChanpura you can leverage the existing [build flow](https://github.com/opensearch-project/opensearch-build/tree/main/src/build_workflow).
For this PR I have executed
`./build.sh manifests/2.1.0/opensearch-2.1.0.yml --snapshot --component security`

With manifest entry as
[code]

Log shows the build script being called from security/scripts/build.sh
[code]

Inside Output folder I can se

[2022-06-28 21:47] pawelw1 commented on #1876
@asfoorial In the same link you have a note that suggests using securityadmin.sh as it is far safer thank REST API call.
Also to enable PUT API for config update, you need to set `plugins.security.unsupported.restapi.allow_securityconfig_modification:` option which already suggests that is  unspported.

[2022-06-28 23:36] #1922 closed

[2022-06-29 02:02] peternied commented on #1917
Another instance of `ComplianceAuditlogTest.testComplianceEnable` impacting a pull request https://github.com/opensearch-project/security/pull/1923, failures in https://github.com/opensearch-project/security/actions/runs/2579777726/attempts/1

[2022-06-29 14:37] pc-jedi commented on #1842
Any news here?

We mitigated the issue by having a SAML metadata cache as a separate component in palace. We did this by rewriting the SAML metadata URL so it points to our cache, which is then responding to the OpenSearch nodes.
That is by far not perfect.

Besides changing the SAML metadata URL, we still see some OpenSearch Nodes still trying to connect to the previous URL.
We could not find a c

[2022-06-29 17:37] peternied commented on #1842
No news on this front, at this point I am inclined to close out this issue by design.  I know this isn't the desired outcome, but it is a reality of the current implementation.  I am open to examine proposals/pull requests to resolve these fundamental issues.

[2022-06-29 17:37] #1842 closed

[2022-06-29 20:34] peternied commented on #1917
Another instance in https://github.com/opensearch-project/security/pull/1924, `TenantInfoActionTest.testTenantInfoAPIAccess` was the blocking test

[2022-06-30 16:27] daxxog commented on #1898
My issue was also encountered during a from-scratch installation, not an upgrade.

[2022-06-30 19:15] nibix commented on #1869
This is an interesting topic. I share the opinion that the current multi-tenant mechanism leaves a lot to be desired. So, I strongly appreciate your initiative. Still, the topic has lots of different facets, dimensions and external constraints, which makes it hard to find a solution which suits all needs.

First of all, it would be nice if the feature would be designed in such a way that  3rd part

[2022-07-01 16:14] msoler8785 opened #1927 "[BUG] java.io.OptionalDataException - Cache Timeout"
**What is the bug?**
When the auth cache expires it isn't properly updated causing a `java.io.OptionalDataException` exception to be returned from OpenSearch.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Use the Bulk API after the `plugins.security.cache.ttl_minutes` period has elapsed.

**What is the expected behavior?**
The cache is refreshed and there are no errors.

[2022-07-01 18:16] #1831 closed

[2022-07-04 13:59] Yury-Fridlyand commented on #1731
Sorry @peternied, I missed your messages.
The test intentionally uses deprecated APIs and checks deprecation warnings. Activating security plugin affects this.

[2022-07-05 12:45] prudhvigodithi opened #1930 "Staging for version increment automation"
### Description

Gradle project: Staging to add gradle tasks (`setVersion` and `versionIncrement`) that support version increment automation for supported versions and add/update `gradle.properties` file to the project.

### Related META issue

Part of: https://github.com/opensearch-project/opensearch-build/issues/1375
From solution: https://github.com/opensearch-project/opensearch-build/issues/13

[2022-07-05 16:04] peternied commented on #1731
Thanks for the reply, based on your comment, if depreciated APIs are used then this seems like expected behavior or at least an issue in the [opensearch-net](https://github.com/opensearch-project/opensearch-net) project.

If there is an API call to a non-deprecated API of the security plugin, and a deprecation message is shown, that sounds like a bug we should fix, if you can provide the API call

[2022-07-06 22:48] peternied commented on #1895
Note; Leaving this open until those called out areas are documented in the SDK

[2022-07-07 13:21] hume-github commented on #1876
Existing documentation tells the user to use securityadmin.sh, specifically recommending it over using API calls (which are barely documented).  At the same time securityadmin.sh spews errors and 0-byte files when trying to protect existing configurations (as the documentation recommends).

This leaves the user in limbo.

[2022-07-07 15:05] peternied commented on #1876
The documentation issues are tracked with https://github.com/opensearch-project/documentation-website/issues/530  If there are more things that you'd like to see please file issues on the documentation website and we can see about providing better details, or if you'd like to improve the docs themselves we would be happy to review pull requests.

[2022-07-08 00:00] cliu123 commented on #1687
Labeling the issue as untriaged as it needs to be re-triage. The CVE with `jackson-databind-2.13.2` has not been resolved: https://github.com/opensearch-project/security/pull/1931/checks?check_run_id=7242017037

[2022-07-11 07:50] saikaranam-amazon opened #1934 "[BUG] Security plugin fails to load locally on 1.3 (latest changes) branch"
**What is the bug?**
Security plugin fails to load locally on 1.3 (latest changes) branch

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Build security plugin on 1.3 branch
2. Install and load the plugin on opensearch 1.3.4 version
3. Failures can be observed from the node logs
[code]

**What is the expected behavior?**
security plugin should be initialised properly and no

[2022-07-11 09:43] rursprung commented on #1891
i just learnt something new: the [manpage for symlink(7)](https://man7.org/linux/man-pages/man7/symlink.7.html) states:

so it's expected that symlinks will always have 0777 and accordingly shouldn't be reported by the check.

[2022-07-11 17:35] cliu123 commented on #1934
[The netty version](https://github.com/opensearch-project/OpenSearch/blob/1.3/buildSrc/version.properties#L24) in OpenSearch core got upgraded 4 days ago, could the new version of netty have something causing this issue?

[2022-07-11 19:21] zelinh commented on #1934
@saratvemulapalli Could you maybe take a look at this and see if this is related to the OS core change?

[2022-07-11 19:25] peternied commented on #1896
[Triage] @cliu123 I don't see any updates, could you please provide more details?

[2022-07-11 19:30] peternied commented on #1898
[Triage] @cliu123 could you look into this and let us know what your findings are?

[2022-07-11 19:31] peternied commented on #1900
[Triage] Closing out this issue as the fix has been merged and released in 2.1

[2022-07-11 19:31] #1900 closed

[2022-07-11 19:33] peternied commented on #1917
[Triage] @cwperks after you've fix the blocking test lets close out this issue.

[2022-07-11 19:45] peternied commented on #1927
[Triage] Thanks for filing this issue @msoler8785 we will look into this issue.

[2022-07-11 22:01] peternied commented on #1934
Thanks for picking this up @cwperks

[2022-07-12 07:31] mousemaxx commented on #1876
Updating to 2.1.0 didn't solve the issue with securityadmin.sh

[2022-07-12 15:21] cliu123 commented on #1896
All exceptions causing [security plugin not initilizing successfully](https://github.com/opensearch-project/security/blob/main/src/main/java/org/opensearch/security/privileges/PrivilegesEvaluator.java#L180) need to be caught.

[2022-07-12 15:33] cliu123 commented on #1898
The error does not happen when using `emptyDir` as @prudhvigodithi [mentioned](https://github.com/Opster/opensearch-k8s-operator/pull/198#issuecomment-1179009442).

[2022-07-12 15:49] prudhvigodithi commented on #1898
I have some findings for securityadmin error, the fix has to be from the client end (which is on our case the securityadmin)to use `.setSocketTimeout`  for the RestHighLevelClient.
So `socketTimeout` should be set during client creation.
Something like `.setSocketTimeout(OpenSearchConfig().getClientSocketTimeout());`

[2022-07-12 16:49] cliu123 commented on #1898
@prudhvigodithi Good finding! If you'd like to PR the fix, we'd love to review. Thanks!

[2022-07-12 21:31] peternied commented on #1896
@cliu123 could update the description to include reproduction steps?

[2022-07-12 22:26] cliu123 commented on #1896
The issue was reported offline. I'm also waiting for the reproduce steps from the source of the issue. I couldn't find the alias on Github to tag the right person. But I already requested reproduce steps offline. Let's give them some time to rely.

[2022-07-13 05:22] cliu123 commented on #1896
@devardee Thanks for sharing your GitHub alias! Would you please provide the reproduce steps for the error message and add more details on what errors need to be logged?
[code]

[2022-07-13 10:52] kdbmadhavi opened #1944 "Open search roles and users is not working for any index pattern expect for '*'"
I was trying to create new user ans role for certain indices
i used https://opensearch.org/docs/latest/security-plugin/access-control/users-roles/ document
I created the role where i specified required index-pattern, user and mapped role, it always ended up showing up
{"statusCode":403,"error":"Forbidden","message":"no permissions for [indices:data/read/search] and User [name=aicasino, backend_rol

[2022-07-13 20:42] cliu123 commented on #1934
@cwperks Thanks for resolving the issue!

[2022-07-13 21:32] DarshitChanpura opened #1938 "Jar-hell error while executing integTestRemote task"
**Current Behavior:**

I keep running into jar hell error everytime I run `integTestRemote` task, but gradle build seems to be running fine with regular tests.

This issue is blocking development of #1761

### Error
[code]

### Repro
Checking out https://github.com/DarshitChanpura/security/tree/initial-test-distr-suite and run `./gradlew integTestRemote` to see the

### Additional details
<details

[2022-07-14 07:57] TheMeier commented on #1876
Same problem with a completely fresh install of opensearch 2.1.0

[2022-07-14 13:24] kzinas-adv opened #1941 "[BUG] auth/http/saml/Saml2SettingsProvider.java still using _opendistro/ instead of _plugins/"
**What is the bug?**
A clear and concise description of the bug.
opensearch-project/security-dashboards-plugin in version 2.1.0 changed SAML2 authentication endpoint to   `_plugins/_security/saml/acs`
while  opensearch-project/security use old one `/_opendistro/_security/saml/acs`
This creates clash as users need modify this place by hand to get SAML working.

**How can one reproduce the bug?**
St

[2022-07-14 16:18] peternied commented on #1938
I was able to work around this issue with https://github.com/DarshitChanpura/security/pull/4  This is not the correct solution but you can use this to build up the test while we figure out how to resolve the conflicting jars

[2022-07-14 20:26] #1687 closed

[2022-07-15 03:43] saikaranam-amazon commented on #1934
@cliu123 @cwperks
Do we know why only security plugin was affected due to this dependency?  and
Curious to know as to why CI passed on 1.3 with the latest commit (without adding this dependency)?

Let's close this issue by attaching the above information.

[2022-07-15 05:05] cliu123 commented on #1934
@saikaranam-amazon

The dependency is only needed in SSLHandler that only security plugin has.

Security plugin 1.3 does not reference the netty version of OpenSearch core, so it specifies netty version in security plugin itself, so is not affected by this missing dependency.

[2022-07-15 05:42] saikaranam-amazon commented on #1934
Thanks @cliu123
The CI failure (attached in the description) was observed while bringing up the nodes for Integration tests with security plugin. As this is the installation step, Does security CI not covering it?

[2022-07-15 06:22] cliu123 commented on #1934
The `Plugin Install` [workflow](https://github.com/opensearch-project/security/runs/7155347031?check_suite_focus=true) was supposed to catch this issue. The reason why it didn't catch needs to be investigated. @peternied has more context on this workflow.

[2022-07-15 15:53] rursprung opened #1950 "[FEATURE] create action group for search template permissions"
**Is your feature request related to a problem?**
n/a

**What solution would you like?**
it'd be great if the permissions for search templates could be grouped in an action group.
namely this should be a cluster-level action group which maps to the following index-level permissions:
* `indices:data/read/search/template`
* `indices:data/read/msearch/template`

**What alternatives have you considere

[2022-07-15 15:58] prudhvigodithi opened #1951 "Implement OpenSearch core branching strategy"
### Description

Ensure `MAJOR_VERSION.x` branch exists, the `main` branch acts as source of truth effectively working on 2 versions at the same time.

### Related META issue

https://github.com/opensearch-project/opensearch-plugins/issues/142

### Current Behavior

Currently plugins follow a branching strategy where they work on `main` for the next development iteration, effectively working on 2

[2022-07-15 16:17] peternied commented on #1951
This has already been adopted for this repository, what is the intended action of this issue?

[2022-07-15 17:17] peternied commented on #1934
@cliu123 That [link](https://github.com/opensearch-project/security/runs/7155347031?check_suite_focus=true) is from a CI test against OpenSearch version 2.1 whereas the bug report is for version 1.3.

Reopenining, as I think the fix for this issue needs to be backported to 1.3, @cwperks can you look into this?

[2022-07-15 18:19] prudhvigodithi commented on #1951
Hey @peternied if Core branching is already adopted to security, we can close this issue.

[2022-07-18 07:46] pratikshavyas opened #1952 "plugins.security.ssl.http.enabled setting cannot be disabled on Rest layer as securityadmin.sh execution fails."
**What is the bug?**
With setting "plugins.security.ssl.http.enabled" as false, securityadmin.sh execution fails.

**How can one reproduce the bug?**
Disable TLS on Rest layer in Opensearch cluster by setting  "plugins.security.ssl.http.enabled" to false and then run securityadmin.sh script to initialize .opendistro_security index.

**What is the expected behavior?**
Securityadmin.sh must execute

[2022-07-18 08:36] kzinas-adv commented on #1941
https://github.com/opensearch-project/security/pull/1936/commits

[2022-07-18 22:07] kdbmadhavi commented on #1944
any progress on the issue

[2022-07-18 23:38] jimishs commented on #1869
@nibix Thanks so much for taking the time to evaluate and share your feedback on this proposal.

That is a fair point that a role like `all_access` will need to have access to multiple tenants. But the flip side of that is often users log in to a tenant where the default index pattern is different from what their role allows access to. This means that every role who logs in to the same tenant, nee

[2022-07-18 23:55] jimishs commented on #1869
Thank you @jgough and @squiddy-gh on sharing your thoughts regarding the benefits of compartmentalization and how it is suitable for your usecases. While many users have requested to disable tenants entirely or make the experience simpler, i understand that usecases like yours still benefit from the current design. I will need to think a little bit more about this and how we can keep the benefits

[2022-07-19 07:32] TheMeier commented on #1927
I suspect this might be the reason for a problem we are seeing. We have installed a fresh cluster version 2.1.0. We deliver logs with fluent-bit. Every hour the delivery fails with:
[code]
It fails for roughly one hour and starts working again. Then one hour later the cycle repeats.
Clearing the cache (via dashboards or curl) does not resolve the problem.

What does resolve the problem ist to run

[2022-07-19 11:19] ankitkala opened #1953 "Bump the main branch to 3.0"
**Is your feature request related to a problem?**
We're working on few changes in cross cluster replication for 3.0. For us to be able to use CCR on 3.0, we need to have security plugin also bumped up to 3.0.
I see that was already done as part of [this PR](https://github.com/opensearch-project/security/pull/1890) but was reverted [here](https://github.com/opensearch-project/security/pull/1901).

[2022-07-19 13:56] GadskyPapa commented on #1866
There is the same trouble using keycloak. I've added to ca.crt a self-signed CA of my opensearch cluster and Digicert's CA of the cert of keycloak.domain.com. And it doesn't work, look at the error below. Then I took cacerts from an embedded java /usr/share/opensearch/jdk/lib/security/cacerts and put it to the opensearch config directory. And It works. I use the official docker image v 2.1.0.

fro

[2022-07-19 14:46] nibix commented on #1869
@jimishs

I don't really understand this scenario. In the status quo, there are three cases:

- RoleB has all necessary permissions, thus it sees the same as RoleA
- RoleB gets either an error message (for `do_not_fail_on_forbidden: false`)
- RoleB sees a (possibly empty) subset of the visualisation (for  `do_not_fail_on_forbidden: true`).

If you change the index pattern to be user-specific, woul

[2022-07-19 15:56] elkh510 commented on #1898
hi
any updates
thank you !

[2022-07-19 19:31] cliu123 commented on #1944
@kdbmadhavi Would you please provide more information about the issue by following this template?
[code]

[2022-07-19 19:33] cliu123 commented on #1950
@rursprung Thanks for filing the feature request! We would love to review a PR.

[2022-07-19 19:39] cliu123 commented on #1953
The change was reverted in [this PR](https://github.com/opensearch-project/security/pull/1901) because it failed the BWC, so it was blocking 2.1.0 release.

[2022-07-19 19:45] cliu123 commented on #1952
@pratikshavyas Thanks for filing the issue!

[2022-07-19 19:57] cliu123 commented on #1573
The issue is being investigated.
I see the issue is being labeled for 2.2.0 release. Is this needed for the particular release? If not, could the label be removed?

[2022-07-19 20:29] kdbmadhavi commented on #1944
sure @cliu123 ,thanks for responding back ,i need the solution ASAP
so the issue occured when i am trying to assign user with few index pattern
AIM: is to create a seperate user for some of the indices in opensearch
Procedure followed:

I followed mainly steps from the following link https://opensearch.org/docs/latest/security-plugin/access-control/users-roles/#set-up-a-bulk-access-role-in-opensea

[2022-07-20 18:00] cliu123 commented on #1918
Issue still perisists. I updated the latest status in the OpenSearch issue.

[2022-07-21 06:59] TheMeier commented on #1927
Even that does not reliably fix the problem.

[2022-07-21 07:17] df-cgdm commented on #1876
+1

[2022-07-22 08:41] df-cgdm commented on #1876
For users and roles we can use the API but I think it is important that we can update the security config in a secure manner (not with API mainly when it's not "supported" => plugins.security.unsupported.restapi.allow_securityconfig_modification )

[2022-07-22 09:04] asfoorial commented on #1876
I am in favor of replacing securityadmin tool with the API. I still wonder why it still not supported. It is more consistant to have everything done through the API.

[2022-07-22 13:30] df-cgdm commented on #1876
if it's done through API, it would be good to work like the "restricted" user and roles => Only admin user authentified with SSL Certificate should be able to call this API.

[2022-07-25 13:09] ict-one-nl commented on #1667
I would like to do it a bit more granular: add ip whitelist for a role in opensearch. We have implemented this ourselfs so that a JWT with appid X can only access the cluster from specific CIDR's.

Currently you can apply a role based on ip-ranges, but this is different from that.

[2022-07-25 15:50] peternied commented on #1573
@cwperks Last we discussed this issue it sounds like you were going to attempt to fix in bouncy castle, could you update this issue with what you are thinking?

[2022-07-25 16:25] cwperks commented on #1573
Hey @peternied, this is a work in progress and current plans are to open a PR with netty to add support for pkcs#1 in the SSLContextBuilder. Netty currently only supports PKCS#8.

[2022-07-25 17:07] aabukhalil commented on #1961
According to log traces, it all ends in [Base64Helper](https://github.com/opensearch-project/security/blob/main/src/main/java/org/opensearch/security/support/Base64Helper.java#L173) in security plugin
[code]
and all workarounds and steps to reproduce are security plugin related. I tried to reproduce same issue without security plugin and it didn't happen.

[2022-07-25 18:21] peternied commented on #1866
@GadskyPapa could you paste more of your configuration .yml, please redacat as needed, it seems like there might be additional properties that need to be assigned for OpenID Connect.  Could you take a look at https://opensearch.org/docs/latest/security-plugin/configuration/openid-connect/#certificate-validation and see if that unblocks using keycloak?

[2022-07-25 18:21] reta opened #1962 "[FEATURE] Update to Gradle 7.5"
**Is your feature request related to a problem? Please describe.**
Gradle 7.5 is out [1]

[1] https://github.com/gradle/gradle/releases/tag/v7.5.0

**Describe the solution you'd like**
Update to Gradle 7.5

**Describe alternatives you've considered**
Keep using Gradle 7.4.2

**Additional context**
Related to https://github.com/opensearch-project/OpenSearch/issues/3901

[2022-07-25 18:24] peternied commented on #1962
This should target v3.0.0, as this was where OpenSearch applied the updated

[2022-07-25 18:26] reta commented on #1962
@peternied it was backported to 2.2.0

[2022-07-25 19:23] cliu123 commented on #1960
@Sandy381 Thanks for filing the issue! Would you please confirm that the index management cluster permission has been granted to this user? If that does not help, please transfer the questions to the [forum](https://forum.opensearch.org/c/security/3).

[2022-07-25 19:27] #1960 closed

[2022-07-25 19:28] cliu123 commented on #1944
@kdbmadhavi Thanks for filing the issue! The index permission mentioned in the issue is `*` that is different from the index pattern permission being granted in the screenshot. Would you please provide your configurations and transfer your questions to [the forum](https://forum.opensearch.org/c/security/3)?

[2022-07-25 19:28] #1944 closed

[2022-07-25 19:36] cliu123 commented on #1961
@cwperks Would you mind taking the first look at this issue?

[2022-07-26 15:16] pratikshavyas commented on #1952
Hi @cliu123
Can you please share the plan on fixing this issue and when can we expect a solution?

[2022-07-26 16:39] peternied commented on #1952
@pratikshavyas This is very low on our internal backlog as we would always recommend clusters operate with TLS enabled.  We are happy to accept pull requests if you'd like this functionality to be added sooner.

[2022-07-26 18:29] #1962 closed

[2022-07-26 21:27] peterzhuamazon opened #1969 "Release Version 2.2.0"
Release Version 2.2.0

This is a component issue for __2.2.0__.
Coming from [opensearch-build#2271](https://github.com/opensearch-project/opensearch-build/issues/2271). Please follow the following checklist.
__Please refer to the DATES in that post__.

<details><summary>How to use this issue</summary>
<p>

## This Component Release Issue

This issue captures the state of the OpenSearch release, on

[2022-07-27 15:57] davidlago commented on #1051
Closing in favor of https://github.com/opensearch-project/security-dashboards-plugin/issues/53

[2022-07-27 15:57] #1051 closed

[2022-07-27 15:59] davidlago commented on #1052
Closing in favor of https://github.com/opensearch-project/security-dashboards-plugin/issues/53

[2022-07-27 15:59] #1052 closed

[2022-07-27 15:59] #140 closed

[2022-07-27 16:02] davidlago commented on #142
Closing as `do_not_fail_on_forbidden` addresses this issue's use case.

[2022-07-27 16:02] #142 closed

[2022-07-27 16:03] davidlago commented on #150
Closing as we are unable to troubleshoot further. Please feel free to reopen with more details as asked by @pawelw1. Thanks!

[2022-07-27 16:03] #150 closed

[2022-07-27 16:06] davidlago commented on #290
Closing as at this point we might not be able to reproduce with the information above, especially as reporting user has since moved on from ODFE.

[2022-07-27 16:06] #290 closed

[2022-07-27 16:07] davidlago commented on #366
Closing unable to reproduce given the information above. Please feel free to re-open if this is still an issue in current versions of OpenSearch. Thanks!

[2022-07-27 16:07] #366 closed

[2022-07-27 16:12] davidlago commented on #580
Unable to reproduce. Please feel free to reopen with further repro info. Thanks!

[2022-07-27 16:12] #580 closed

[2022-07-27 16:15] davidlago commented on #817
@peternied would this issue be ready to close as #1813 merged?

[2022-07-27 16:15] #817 closed

[2022-07-27 16:16] #1006 closed

[2022-07-27 16:22] davidlago commented on #1163
Apologies for the radio silence... This no longer seems to be an issue with the current docker images for the project. If in fact there is still an issue, please add repro steps and we'll take a look. Thanks!

[2022-07-27 16:22] #1163 closed

[2022-07-27 16:26] davidlago commented on #1339
It seems like [this is still the case](https://github.com/opensearch-project/security/blob/f431ec2201e1466b7c12528347a1f54cf64387c9/src/main/java/org/opensearch/security/securityconf/impl/v7/InternalUserV7.java#L103). @opensearch-project/security we should take a look.

[2022-07-27 16:31] davidlago commented on #1449
Closing and tagging this issue (#1755) to the overall tools deprecation initiative as this no longer looks like an AD issue but a question about better ways of running the security admin tools.

[2022-07-27 16:31] #1449 closed

[2022-07-27 16:33] davidlago commented on #1471
Closing due to missing repro steps... please feel free to re-open if this is still an issue and provide additional reproduction steps. Thanks!

[2022-07-27 16:33] #1471 closed

[2022-07-27 16:33] #1501 closed

[2022-07-27 16:35] davidlago commented on #1736
Closing due to inactivity without next repro steps. Please feel free to re-open with more details if this is still an issue. Thanks!

[2022-07-27 16:35] #1736 closed

[2022-07-27 17:59] davidlago commented on #1032
We've received reports of this being fixed in 1.13.2. @Phandora if this is not resolved for you, could you please provide additional repro details to help us troubleshoot?

Additionally, [we strongly recommend migrating to OpenSearch](https://opendistro.github.io/for-elasticsearch/blog/2021/12/the-future-of-open-distro/) as that is where we are fixing security issues and others moving forward. Tha

[2022-07-27 17:59] #1032 closed

[2022-07-27 21:25] GadskyPapa commented on #1866
I have the same error "Unable to initialize auth domain openid_auth_domain=AuthcDomain ..." without "plugins.security.ssl.transport.truststore_filepath: cacerts" in opensearch.yml. And it doesn't matter is there "pemtrustedcas_filepath" in opensearch-security/config.yml or not.

opensearch.yml
===================================================
cluster.name: opensearch-test
node.name: os-data1
net

[2022-07-28 11:32] pratikshavyas commented on #1952
We have a use case to use Opensearch with security for authorization and authentication and integrate with istio for handling TLS.
I have raised a ticket for the same on Opensearch discussion forum: https://forum.opensearch.org/t/integration-of-opensearch-security-with-istio/10283
Can you please provide some insight or recomment a way on how to integrate istio with Opensearch security.

[2022-07-28 16:22] peternied commented on #1866
It looks like `pemtrustedcas_content` needs to be added to get this working [1], can you make an update like the following and see if this gets things working?

[code]

[1] https://github.com/opensearch-project/security/blob/main/src/main/java/com/amazon/dlic/util/SettingsBasedSSLConfigurator.java#L181

[2022-07-28 20:21] peternied commented on #1952
Thanks for bringing up this use case, we will look into this

[2022-07-28 20:45] ict-one-nl commented on #1652
Guys... although we have solved it by using certificates this is quite an irritating bug, if you don't understand what's happening you won't be able to restore. When people are already in panic with a cluster that has exploded this can be frustrating.

[2022-07-29 02:54] yogi1990 commented on #1969
Can we look for updating below:
Need to use node version 14.20.0 or 16.20.0
Need to use moment version 2.29.4

Seems earlier release Opensearch-dashboard 2.1.0  has security issues:
Critical CVEs: CVE-2022-32213 CVE-2022-32214 CVE-2022-32215
High CVEs: CVE-2022-32212 CVE-2022-31129 CVE-2022-25844

[2022-07-29 05:17] smlx commented on #1652
@ict-one-nl could you elaborate exactly what the workaround is for this?

[2022-07-29 17:03] getsaurabh02 commented on #566
Hi Team, is there a plan to prioritize this one yet. This seems to be a very essential functionality to be able to identify the current user's permission. Lack of a direct API from the security side, have led to plugins building adhock workarounds, which has lead to performance and availability issues in the past. Such as : https://github.com/opensearch-project/index-management/issues/414

[2022-07-29 17:05] getsaurabh02 commented on #566
cc : @davidlago @peternied

[2022-07-29 17:25] peternied commented on #566
Thanks for the interest, I know this is a great feature request, but with the current architecture of the security plugin it isn't possible to do this in a complete fashion due to permissions being written on N objects (DLS/FLS).

We are revisiting some of the security plugins architecture with the work on extensions and we might have better mechanisms to do this as we integrate security features

[2022-07-29 19:58] lezzago commented on #566
This would also be beneficial to plugins that integrated with security. This allows the frontend of those plugins know that the user does not have access to a feature of the plugin and can proactively inform the customer that they do not have access to that. This can greatly enhance the user experience for these plugins.

For example:
The Alerting plugin has integrated with the security plugin. On

[2022-08-01 06:20] pratikshavyas opened #1975 "Need to provide both whitelist.yaml and allowlist.yml in the security configuration even when whitelist.ym should have been replaced with allowlist.yml"
**What is the bug?**
As part of Opensearch 2.x to include more inclusive naming conventions, whitelist.yml is replaced with allowlist.yml in security configuration files.
However, I observed that we still need to provide both whitelist.yml and allowlist.yml files in the configuration, otherwise it throws an error while running security admin.

**How can one reproduce the bug?**
Install opensearch

[2022-08-01 06:40] cliu123 commented on #1975
@pratikshavyas Thanks for filing this issue!
`whitelist.yml` is deprecated, but won't be removed until OpenSearch 3.0. It was designed to be honored only when `allowlist.yml` is not present in the cluster. The behavior that you run into in the securityAdmin tool is not expected and we'll investigate it.

[2022-08-02 16:11] cwperks commented on #1573
Yes, you can remove the label. We can schedule this for a release once the netty changes have been complete and released in a future version of netty.

[2022-08-02 16:40] nateynateynate commented on #1112
@Whizzzer - thanks so much for bringing this up at our community meeting today. I recall you mentioning needing some guidance on how to get ready to contribute and how you can best get started. I wanted to point you towards https://github.com/opensearch-project/.github/blob/main/CONTRIBUTING.md and https://github.com/opensearch-project/security/blob/main/MAINTAINERS.md. Those will at least help yo

[2022-08-04 02:01] DarshitChanpura opened #1991 "Add / create tests that verify basic security functionality"

[2022-08-04 13:10] ict-one-nl commented on #1652
Use certificate based authentication instead of basic auth, then it won't be a problem. We switched over to certificate based auth because of this.

[2022-08-04 19:25] #1991 closed

[2022-08-04 21:27] peternied commented on #1930
@prudhvigodithi This work is done, can we close this issue?

[2022-08-05 08:27] Whizzzer commented on #1112
@nateynateynate - Well, "bringing it up today" is perhaps not really accurate, but I get your point.. ;-)

But to come back to @pjcon (I haven't monitored this thread last 12 months): I ended up with using Keycloak as a central authentication system in which I can do whatever and however I want.. One or more Azure AD's combined with accounts otherwise kept local and so on. And the selection is don

[2022-08-05 09:21] jchipmunk opened #1995 "[BUG] Triple logging of audit messages"
**What is the bug?**
OpenSearch log contains extra audit messages:
[code]

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Perform the following request:
[code]
   to get information about `.opendistro_security` index.
2. Check log messages

**What is the expected behavior?**
The log must only contain one audit message instead of three:
[code]

**What is your host/environmen

[2022-08-05 12:19] tfmm opened #1997 "[BUG] After starting rolling cluster restart, SAML auth breaks"
**What is the bug?**
Cluster is container-based, running on AWS ECS. After a non-opensearch related issue required one of the cluster VM hosts to be terminated, and a new host and container comes up, SAML (and potentially all other) auth is broken. If I remove the new container from the cluster, auth works again.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Terminate one

[2022-08-05 16:59] dredwilliams opened #1998 "[BUG] No handler found for URI /_plugins/_security/api/nodesdn"
The API for the security plugin does not seem to be able to handle the API for the nodes_dn data.

From the Dev Console inside dashboards or externally using curl and the admin keys, this request:

[code]

results in

[code]

This is a new install of RPM-based OpenSearch 2.1.0 running on RHEL8

I use the `plugins.security.nodes_dn` parameter in the `opensearch.yml` file to implement host validatio

[2022-08-05 18:44] cwperks commented on #1573
Submitted a PR to netty to add support for PKCS#1 keys. PR is [here](https://github.com/netty/netty/pull/12670).

[2022-08-05 20:29] #1998 closed

[2022-08-08 12:46] peternied commented on #1995
Thanks for filing, and thank you for the pull request!

[2022-08-08 13:16] peternied commented on #1998
@dredwilliams I see that this was closed shortly after it was opened, Is there an issue around this feature or its documentation?

[2022-08-08 16:15] pawelw1 commented on #1866
@GadskyPapa Have you tried moving tls-ca-bundle.pem file to the `/usr/share/opensearch/config/` folder?
@peternied  `pemtrustedcas_content` requires the content of the .pem file and not the file path.
i.e.

[code]

[2022-08-08 19:08] peternied commented on #1975
Thanks for filing, when we remove whitelist.yml for 3.0.0 this scenario will be a little cleaner without the extraneous references.

[2022-08-08 19:08] #1975 closed

[2022-08-08 19:11] peternied commented on #1997
Thanks for filing, we will look into this issue

[2022-08-08 19:12] peternied commented on #1997
@opensearch-project/security Please investigate and determine how widespread the impact of this issue is.

[2022-08-10 08:59] amalgamm commented on #1961
Any update on this one?

[2022-08-10 10:06] mrunichs opened #2010 "[BUG] Unable to create tenants using securityadmin.sh tool"
### What is the bug?

- We noticed that we can no longer create tenants using  the `securityadmin.sh` tool.

- After investigating we found out that that the problem was introduced by the following commit https://github.com/opensearch-project/security/commit/4581a3d76ae3287c0821cd9beb3734b9fdcc57e8

![image](https://user-images.githubusercontent.com/103516012/183869964-5097b64d-2a54-4729-bb11-76fc

[2022-08-10 14:28] peternied commented on #1938
Good news, kafka `3.4.0` will include the build fix for this issue, [fix pull request](https://github.com/apache/kafka/pull/12407), when this version is released we can remove this workaround

[2022-08-10 15:26] peternied commented on #1961
@amalgamm thanks for asking, this should be closed and the fix will be released in the upcoming OpenSearch `2.2.0` release, track it via [opensearch-build#2271](https://github.com/opensearch-project/opensearch-build/issues/2271). Release candidate builds are available and linked on that issue.

[2022-08-10 15:26] #1961 closed

[2022-08-10 16:27] #1917 closed

[2022-08-10 18:17] cwperks commented on #1573
The netty [PR](https://github.com/netty/netty/pull/12670) has been merged as of this morning and is tagged in the milestone for `4.1.80.Final`. Once the netty release is issued we can schedule this change to be completed.

[2022-08-10 19:17] peterzhuamazon opened #2015 "[IntegTest][Bug] security failed on no-security integ-test on 2.2.0"
[code]

[2022-08-10 21:49] peterzhuamazon commented on #2015
New failure after using the main branch for testing:
[code]

[2022-08-10 22:28] #2015 closed

[2022-08-11 16:30] peternied opened #2021 "[Infrastructure] Intermittent tests failures blocking pull requests"
Blocked pull request: https://github.com/opensearch-project/security/runs/7735891837?check_suite_focus=true
Full logs from associated failed leg: https://github.com/opensearch-project/security/suites/7723457626/artifacts/323573420

Failed tests, `TenantInfoActionTest. testTenantInfoAPIUpdate` was the blocking test
[code]

Commonly logged failure message:
[code]

I think we need more debugging info

[2022-08-12 12:05] tfmm commented on #1997
Is there any further information or troubleshooting steps available for this? Trying to get this resolved before deploying multiple more Opensearch clusters.

[2022-08-12 14:58] pawelw1 commented on #1876
2.2.0 has still the same issue.

[2022-08-12 17:16] cwperks opened #2023 "[Infrastructure] Intermittent 1.3 branch CI failures"
The recent [update](https://github.com/opensearch-project/security/pull/2004) of dependencies in 1.3 took 6 times of the CI running to pass CI.

This was a minor fix to increment dependencies flagged by whitesource as having vulnerabilities and `jackson-databind` was upgraded to align with 1.x and with core's `version.properties`.

Some of the tests that failed intermittently include:

[code]

[2022-08-12 19:29] peternied commented on #1952
@pratikshavyas After considering this scenario, the security plugin's TLS system is used to authenticate the connection with the security plugin.  Without this authentication we cannot authorize the actions run by the security admin tool - a huge security risk if this were to be allowed.

[2022-08-12 19:29] #1952 closed

[2022-08-12 19:33] peternied opened #2025 "[Support] How should we signal a release is no longer supported?"
As of the writing of this issue there are many branches in this codebase that are not supported such as `opendistro-*` as well as `1.0`.  How should we communicate the currently supported versions?  What actions should we take or not on these branches?  Should we delete branch pointers since tags have been created for these releases?

[2022-08-15 14:15] #1761 closed

[2022-08-15 14:17] cwperks commented on #1930
@prudhvigodithi This PR was included in the 2.2.0 release. Closing this issue.

[2022-08-15 14:17] #1930 closed

[2022-08-15 15:44] cwperks commented on #1894
@DarshitChanpura Can we close this issue?

[2022-08-15 16:09] cwperks commented on #1339
This is wrong on the documentation website. I opened a [PR](https://github.com/opensearch-project/documentation-website/pull/892) to address this.

[2022-08-15 17:24] gaiksaya commented on #1894
Please release the components on GH https://github.com/opensearch-project/security/releases. Looks like its missing few releases but I can see drafts there.
Thanks!

[2022-08-16 19:00] cwperks commented on #1640
I did a little more digging on this issue to understand why the re-arranged distinguished name (dn) was reporting an error.

`opensearch-security` uses `LdapName` from `javax.naming.ldap`. See https://github.com/opensearch-project/security/blob/f431ec2201e1466b7c12528347a1f54cf64387c9/src/main/java/org/opensearch/security/configuration/AdminDNs.java#L144.

`.contains` uses `.equals` under the hood

[2022-08-16 19:14] cwperks commented on #2010
Hey @mrunichs, thank you for filing this issue. We would gladly accept a PR.

[2022-08-17 10:08] Martin-Kemp opened #2032 "[BUG] ldap config setting `custom_attr_allowlist` does not do anything."
**What is the bug?**
Ldap config setting `custom_attr_allowlist` which is supposed to limit the attributes searched for does not appear to do anything.

**How can one reproduce the bug?**
1. Download the example docker-compose files here: https://opensearch.org/docs/2.2/security-plugin/configuration/ldap/
2. Add some custom attributes to the config.yml file.
3. `docker-compose up`
4. Run a query a

[2022-08-17 14:31] Freeaqingme commented on #1898
I'm having a similar problem as well. Am trying to bootstrap a 2.2.0 cluster from scratch, and when running securityadmin I get:
[code]

The script finishes in ~3 seconds, so I'm not sure if it's related to a timeout. In my case it's run on Ubuntu, without k8s or anything. Is there an obvious fix I'm missing here?

[2022-08-17 16:56] peternied commented on #2032
@Martin-Kemp Thanks for filing this issue

[2022-08-17 17:00] peternied commented on #1898
@Freeaqingme Have you examined the local opensearch log? Exceptions/errors should be visible to help you troubleshoot what is at issue.

[2022-08-17 18:01] Martin-Kemp commented on #2032
@peternied no problem. Let me know if it's not clear enough or you can't reproduce it.

[2022-08-17 19:57] Freeaqingme commented on #1898
Actually I was about to update this. It's possible that this specific node was installed with 2.1.0, and right after upgraded to 2.2.0. I did follow the logs, but the only exception I noticed was "Unable to load static tenants". Having said that, I removed its datadir and afterwards everything ran just fine. So in this case, that was one way of solving the problem...

[2022-08-18 07:37] Martin-Kemp commented on #2032
It looks like the `custom_attr_allowlist` doesn't end up in the user object's attributes.

I ran the test `testCustomAttributes`:

[code]

Then forcing it to fail with:

[code]

We can then see the custom attributes `*objectclass*` and `entryParentId` don't appear in the users object's attributes:

[code]

[2022-08-18 10:17] pratikshavyas commented on #1952
Hi @peternied
Does that mean the parameter plugins.security.ssl.http.enabled cannot be disabled at all? Has this been documented? If not, please do so and kindly share the link for our reference.

[2022-08-18 11:54] rursprung commented on #1498
@peternied: is the problem reported by @sastorsl the one you fixed in #1999 or is this yet another problem (and maybe still unresolved)?

[2022-08-18 13:38] rursprung opened #2034 "rationale for disabling security cache when using only JWT auth"
the documentation states that the security cache should be disabled when only JWT auth is used:

see https://github.com/opensearch-project/documentation-website/blob/5d5729c4c00d15b7c3d3204038cf49a5ed48e2aa/_security-plugin/configuration/configuration.md?plain=1#L277-L278

what is the rationale behind this? this is neither specified in the documentation nor could i find anything in this repository

[2022-08-18 14:08] rursprung commented on #1892
i haven't seen the corresponding comment in the OpenSearch Security documentation, but e.g. Search Guard explicitly declares that roles with DLS enabled mustn't have write access: https://docs.search-guard.com/latest/document-level-security#dls-and-write-access

i presume the same applies for OpenSearch Security and needs to be documented (and maybe enforced by a check in a new major release?)

[2022-08-18 14:22] rursprung opened #2035 "duplicate check for role in ConfigModelV7#TenantHolder#mapTenants"
the check looks for `kibana_user` twice:
https://github.com/opensearch-project/security/blob/6b7a5869c84d453bb22be861a88b744512fa0d64/src/main/java/org/opensearch/security/securityconf/ConfigModelV7.java#L1130-L1131

this is obviously not needed. the question is what it should be in reality, if there should be something else or if the duplicate line can just be removed.

furthermore the case-sensi

[2022-08-18 15:07] aggarwalShivani opened #2036 "[BUG] Opensearch 2.x (with security enabled) does not work with istio"
**What is the bug?**
Background:

- We use Opensearch in kubernetes environment with istio handling the mtls (pod-to-pod TLS communication).
- Istio integration was achieved by disabling SSL for Opensearch on the REST layer by disabling the parameter  plugins.security.ssl.http.enabled.  SSL was only enabled for the transport layer and the port 9300 was excluded from istio envoy redirection.
- So a

[2022-08-18 15:53] peternied commented on #2032
@Martin-Kemp  I think I found the source of the issue while doing code inspection, the value is `custom_attr_whitelist` in the codebase- can you adjust the setting and see if this resolves your issue?

Assuming this lets you work around it, we need to update the key to the inclusive terminology `allowlist` and we need to fix the documentation until this variant is avaliable.

[2022-08-18 16:42] peternied commented on #1952
I've created an issue to document this is clearer language.

[2022-08-18 17:43] peternied commented on #1498
@sastorsl Could check if this scenario is resolved in the recent [2.2.0 release](https://opensearch.org/downloads.html)?  If you still see a vulnerability please contact aws-security@amazon.com and CC me petern@amazon.com so we can investigate further.

[2022-08-18 17:45] peternied commented on #1498
@rursprung Thanks for noticing this, I'm not sure based on the report if it is the same issue or a different issue without knowing more about the system configuration.

[2022-08-18 19:18] peternied commented on #2036
@jimishs Can you look into this issue?

[2022-08-19 06:53] Martin-Kemp commented on #2032
@peternied Thanks for the suggestion, I have tried using `custom_attr_whitelist` too but still the same issue:

[code]

The problem is that `SRCH attr=* +` shows that we're still requesting all attributes from the ldap server.

Could you try to reproduce the issue on your side? It's quite quick to do with the zip file supplied in the documentation. Just add:

[code]

to `config.dynamic.authz.ldap_

[2022-08-19 06:55] Martin-Kemp commented on #2032
I also haven't been able to get this working with Opendistro either. So I'm guessing the issue predates the change to inclusive terminology.

[2022-08-22 10:41] olwe0002 opened #2039 "[BUG] update to 2.2.0 leads to "Not yet initialized (you may need to run securityadmin)""
**What is the bug?**
all 4 nodes are constantly logging

Not yet initialized (you may need to run securityadmin)

`the dashboards in the browser are reporting "OpenSearch Dashboards server is not ready yet".`
running the securityadmin.sh leads to:

`Legacy index '.opendistro_security' (ES 6) detected (or forced). You should migrate the configuration!`

I have no idea how to "migrate the configurat

[2022-08-22 11:10] Martin-Kemp opened #2040 "[FEATURE] Support UserInfo Endpoint for OpenID"
**Is your feature request related to a problem?**
We're currently trying to use OpenID but can't use it for fine grained authorization because Opensearch does not support the UserInfo Endpoint.

**What solution would you like?**
Support UserInfo Endpoint as defined by OpenID: https://openid.net/specs/openid-connect-core-1_0.html#UserInfo
This is supported by Elasticsearch through xpack: https://ww

[2022-08-22 12:44] df-cgdm commented on #173
Hello, any progress on this requirement?

[2022-08-22 19:18] DarshitChanpura commented on #2039
Thank you for filing this issue. @opensearch-project/security team is looking into this.

[2022-08-22 19:23] DarshitChanpura commented on #2040
Thank you for filing this request.

[2022-08-22 19:52] DarshitChanpura commented on #1997
Hey @tfmm Will you be able to provide us the complete `authc:` configuration?

[2022-08-22 19:59] tfmm commented on #1997
Sure, Here it is with sensitive information redacted.

[code]

[2022-08-22 20:21] peternied commented on #173
No progress, but we'd gladly review a pull request for this functionality

[2022-08-22 21:56] cwperks commented on #2039
@olwe0002 Could you provide the entire output from running `securityadmin.sh` and any sample of the logs from the nodes on startup?

[2022-08-23 06:59] Cai-Chen opened #2045 "'no handler found for uri' for certificate api"
[Certificate API](https://opensearch.org/docs/2.0/security-plugin/access-control/api/#certificates) in security plugin says its introduced in 1.0, but I tested in version 1.3.4 and 2.0 that:
`GET _plugins/_security/api/ssl/certs` is available in 2.0 and 2.2 but not in 1.3.4
`PUT _opendistro/_security/api/ssl/http/reloadcerts` is unavailable in either one

Error message:

Is this expected?

[2022-08-23 13:05] olwe0002 commented on #2039
pod startup log:

[code]

securityadmin.sh command:
[code]
securityadmin.sh output:

[code]

[2022-08-23 15:26] DarshitChanpura commented on #2036
Hey @aggarwalShivani As you mentioned, it is by design that the ability to make remote calls using Transport layer was removed, which leaves REST layer as the only means for communication and so SSL **is required** to be enabled for HTTP calls. Hope this answers your question.

[2022-08-23 18:01] cwperks commented on #2032
@Martin-Kemp From what I've been able to put together of tracing through the codepath it looks like searching all attributes is expected. See [LdapHelper.search](https://github.com/opensearch-project/security/blob/main/src/main/java/com/amazon/dlic/auth/ldap/util/LdapHelper.java#L62). This is the method used to locate the user and return an `LdapEntry`.

The `custom_attr_whitelist` and `custom_att

[2022-08-23 19:23] Martin-Kemp commented on #2032
Thanks for the clarification @cwperks. So then I misunderstood the documentation.

Our need is to limit the attributes requested by Opensearch because some attributes may contain sensitive information.

We can do this with `ldapsearch` for example:

[code]

ldap logs:
[code]

So if filtering on the client side (Opensearch) is expected behaviour then I suppose this feature is not supported.

[2022-08-23 21:11] cliu123 opened #2047 "[BUG] Security admin does not handle allowlist.yml in all the places where it handles whitelist.yml"
**What is the bug?**
Security admin tool should handle `allowlist.yml` in all the places where it handles `whitelist.yml`.

[2022-08-23 21:48] #2047 closed

[2022-08-24 06:56] Martin-Kemp commented on #2032
In the documentation it's under authz, maybe that should be changed then.

[2022-08-24 07:32] Martin-Kemp commented on #2032
Yeah, you're right. If I hard code an attribute there it works as I expected:
[code]
Then rebuilding results in ldap logs:
[code]
I wonder if supporting custom return attributes would be helpful to anyone else. Maybe I could do this and open a PR?

[2022-08-24 13:38] reta opened #2049 "[FEATURE] Support for HTTP/2 (server-side)"
**Is your feature request related to a problem?**
The HTTP/2 support is being worked on for Openseach core [1], the SSL/TLS support is required in order to properly implement HTTP/2 requrements related to secure communication.

[1] https://github.com/opensearch-project/OpenSearch/issues/3651

**What solution would you like?**
Implement SSL/TLS support for HTTP/2

**What alternatives have you consi

[2022-08-24 13:54] cwperks opened #2050 "Remaining areas to replace legacy references of opendistro and move to inclusive language"
There have been a few recent updates to the Documentation Website to update documentation in areas that were missed from the transition away from legacy `opendistro` references or to the use of inclusive language.

Here are three examples:

- [ ] [Fix setting name for LDAP custom attribute filter](https://github.com/opensearch-project/documentation-website/pull/912)
- [ ] [Update documentation fro

[2022-08-24 18:44] cwperks commented on #2032
@Martin-Kemp That would be welcomed. We would gladly accept a PR with your contribution.

[2022-08-25 06:59] mysinmyc commented on #1876
I had the same error by running securityadmin.sh in a cluster v2.0.0  after upgrade from version 1.2.2

In my case it seems that the issue was caused by te following check inside the _src/main/java/org/opensearch/security/tools/SecurirtyAdmin.java_

[code]

as workaround i've tried to recompile a copy  _src/main/java/org/opensearch/security/tools/SecurirtyAdmin.java_ by forcing legacy to _false_ a

[2022-08-25 11:08] emollusion commented on #1504
+1 on this one, good to have when implementing "machine to machine" where cert auth is not possible.

[2022-08-26 10:16] hquan5397 commented on #1652
@ict-one-nl Can you provide how to generate certificate to perform certificate based authentication in AWS

[2022-08-26 11:54] ict-one-nl commented on #1652
We have deployed it locally in kubernetes, so I'm afraid I have little knowledge of the AWS setup :)

[2022-08-26 13:19] rursprung commented on #1574
i _think_ this has been solved at some point, at least i hadn't seen the error anymore and @cliu123 removed the offending class in fa9cd5b (released with 2.0.0.0), so this ticket can probably be closed by now?

[2022-08-26 13:42] rursprung commented on #2025
i'd also strongly suggest to not have a plugin-specific mechanism for this but instead solve this at an organisation-level: the support duration and corresponding handling of the branches should be the same for all repos under the opensearch-project umbrella. probably even [opensearch-plugins](https://github.com/opensearch-project/opensearch-plugins) is the wrong place to discuss this as this isn'

[2022-08-26 14:05] rursprung commented on #1891
a valid solution might be to just remove `LinkOption.NOFOLLOW_LINKS` everywhere which would mean that it'd properly follow symlinks (as the rest of the code will also do when reading the files). this would solve both problems: (a) it wouldn't try to evaluate the permissions on symlinks (which will always be 0777) and (b) it would evaluate the permissions of the final file which will be read by Ope

[2022-08-29 10:14] olwe0002 commented on #2039
did not find any solution so I reinstalled the previous 2.1.0 (dashboards 2.2.2) versions which work fine, but give me the same warning at securityadmin.sh, but without a index health status "red". If this index is somehow retired, there should be done a migration or at least instructions provided how to replace this index.

[2022-08-29 10:14] #2039 closed

[2022-08-29 10:56] Cai-Chen commented on #2045
Turns out `plugins.security.ssl_cert_reload_enabled` should be `True`.
Better to add that to doc.

[2022-08-29 10:56] #2045 closed

[2022-08-29 12:27] kkensy opened #2054 "hostname_verification using only SAN IP address"
**What is the bug?**
After successfully replacing the demo certificates with my own, I am having a problem enabling the `plugins.security.ssl.transport.enforce_hostname_verification`. Im following the documentation:
https://opensearch.org/docs/latest/security-plugin/configuration/generate-certificates/
https://opensearch.org/docs/latest/opensearch/install/docker-security/

The `X509v3 Subject Alte

[2022-08-29 13:51] cwperks commented on #1573
Netty released `4.1.80.Final` this past Friday: https://netty.io/news/2022/08/26/4-1-80-Final.html

We can now close the loop on this.

[2022-08-29 14:51] rursprung commented on #1573
just saw https://github.com/netty/netty/issues/12745 - maybe you need to wait for this one to be released as well as it was created after the 4.1.80.Final release?

[2022-08-29 16:27] prudhvigodithi opened #2055 "opensearch.opensearchplugin add groupID field to org.opensearch.plugin"
### Description

The configuration modification for the gradle plugin `opensearch.pluginzip` to make sure the `groupId` is added as `org.opensearch.plugin` to the publication `pluginZip` inside the `build.gradle` file.

### Related META issue

Part of: https://github.com/opensearch-project/opensearch-build/issues/2521
From solution: https://github.com/opensearch-project/OpenSearch/issues/3692

###

[2022-08-29 16:58] cwperks commented on #2054
@kkensy Thank you providing an example configuration. I noticed that the configuration works when all instances of `network.host: 0.0.0.0` are removed from `docker-compose.yml` and `custom-opensearch.yml`. It looks like this issue arrises when binding to all interfaces.

[2022-08-29 18:05] kkensy commented on #2054
If I remove all the `network.host` entries, it will bound to localhost and the cluster will not be formed. And with `network.host:_site_` the same errors are occuring.

[2022-08-29 18:51] cliu123 commented on #1892
@opensearch-project/transfer-request This looks a documentation issue. Could you transfer to documentation repo? Thanks!

[2022-08-29 19:05] peternied commented on #1953
Following up in OpenSearch, see https://github.com/opensearch-project/OpenSearch/issues/3615

[2022-08-29 19:08] peternied commented on #2050
@cwperks Thanks for filing this, could we separate out the individual actions that we need to take, maybe create issues for the legacy API paths, update legacy settings, or change documentation around the roles.  This way we can close them as they are completed.

[2022-08-29 19:21] peternied commented on #2054
@kkensy Thanks for filing this issue, this looks like a defect in our support for hostname verification.

[2022-08-29 19:33] peternied commented on #2034
@cwperks Could you provide guidance on this documentation and create a bug/PR to include it in our documentation website?

[2022-08-29 21:24] cliu123 commented on #2034
The cache speeds up authorization based on LDAP or internal database as it avoids fetching roles every time. JWT-based authorization does not need cache as the roles are provided in the JWT.
@opensearch-project/transfer-request Please update the documentation with more details per users request. Thanks!

[2022-08-29 21:27] cwperks commented on #2034
@rursprung See @nibix' in depth description of the cache.

can be quite slow if authentication backends are involved - such as an
active directory server. An authentication round trip with an active
directory server can take well above 100 ms. Without this cache, this
overhead would be added to *each* response coming from OpenSearch.
Applications which need low latency (such as Dashboards) would s

[2022-08-30 06:14] rursprung commented on #2034
thanks a lot for the detailed clarification @nibix & @cwperks ❤️

[2022-08-30 08:42] lukasz-soszynski-eliatra opened #2057 "[FEATURE] Integration tests should generate X.509 certificates in the course of tests execution"
**Is your feature request related to a problem?**
The issue is related to the new test framework, please see https://github.com/opensearch-project/security/pull/1967#discussion_r952757079

**What solution would you like?**
Use certificates which are generated dynamically instead of certificates which are hard coded in source code.

**What alternatives have you considered?**
It is possible to still

[2022-08-30 13:45] cwperks commented on #2034
@cwillum I think this would be good to transfer to the [Documentation Website](https://github.com/opensearch-project/documentation-website) repo to determine if anything should be changed regarding documentation. There is a line in the security configuration that states that the user cache should be disabled if JWT auth is the only authentication method used. While it is safe to disable the user c

[2022-08-30 14:10] cwperks opened #2058 "Legacy reference to `opendistro` in `internal_users.yml`"
There is a reference to `opendistro` in `internal_users.yml` as an attribute name `opendistro_security_roles`. This was discovered in (https://github.com/opensearch-project/security/issues/1339) where a user had copied the example configuration on the documentation website which referenced `opensearch_security_roles` and received an `Unrecognized field` error when running security admin.

The docu

[2022-08-30 14:24] Gradlon opened #2061 "[BUG] securityadmin.sh not writing changes to cluster"
**Describe the bug**
Running
[code]
Has no effect, the config remains unchanged.
The only message I get is:
[code]
I don't see anything suspicious in the opensearch logs or audit logs.

Running Opensearch 2.1.0

I used this tool before with version 1.3.1, and it worked fine.

Furthermore, I noticed that running
[code]
dons not return anything else than
[code]

**To Reproduce**
1. Install opensearc

[2022-08-30 14:32] cwperks opened #2059 "Replace non-inclusive term "whitelist" in LDAP configuration"
A recently filed issue (https://github.com/opensearch-project/security/issues/2032) revealed a discrepancy between the documentation website and the actual config parameter when configuring LDAP for an authentication backend. The documentation website was displaying a parameter `custom_attr_allowlist`, while the security plugin looks for `custom_attr_whitelist`. The documentation website has been

[2022-08-30 14:48] cwperks opened #2060 "SAML auth uses legacy `_opendistro` route"
OpenSearch Security 2.1.0 release broke SAML authentication when a change in [security-dashboards-plugin](https://github.com/opensearch-project/security-dashboards-plugin) (https://github.com/opensearch-project/security-dashboards-plugin/pull/895) to replace SAML routes from using legacy `/_opendistro/_security/...` to using `/_plugins/_security` was included without a corresponding change in this

[2022-08-30 14:50] cwperks commented on #2050
@peternied 3 new issues have been created to track each issue independently.

- https://github.com/opensearch-project/security/issues/2059
- https://github.com/opensearch-project/security/issues/2058
- https://github.com/opensearch-project/security/issues/2060

[2022-08-30 17:37] cwillum commented on #2034
@cwperks Yes, I understand the rationale for removing the note from the "Backend configuration" page. Seems unnecessary to set "ttl = 0" if the system bypasses cache when no backend is configured anyhow. I'll create a new issue for the docs repo, remove this guidance from the Backend config page, and add a definition for the `plugins.security.cache.ttl_minutes` property to `opensearch.yml` in the

[2022-08-30 22:48] peternied commented on #2025
Closing this out in favor of https://github.com/opensearch-project/.github/issues/83 thanks for the feedback @davidlago @rursprung

[2022-08-30 22:48] #2025 closed

[2022-08-31 06:42] gaiksaya opened #2063 "Release version 2.3.0"
This is a component issue for __2.3.0__.
Coming from [opensearch-build#2447](https://github.com/opensearch-project/opensearch-build/issues/2447). Please follow the following checklist.
__Please refer to the DATES in that post__.

<details><summary>How to use this issue</summary>
<p>

## This Component Release Issue

This issue captures the state of the OpenSearch release, on component/plugin level

[2022-08-31 12:14] tfmm commented on #1997
Any further information I can provide to help troubleshoot this?

[2022-08-31 21:18] DarshitChanpura opened #2064 "[BUG] Flaky test in permissions_spec.js in functional-tests dashboards repo"
Intermittent test failure for a test in [permission_spec.js](https://github.com/opensearch-project/opensearch-dashboards-functional-test/blob/main/cypress/integration/plugins/security/permissions_spec.js) with unknown root cause.

**How can one reproduce the bug?**
It is difficult because of the flakiness but you can run this command to run the tests in the file:
[code]

**What is the expected beh

[2022-08-31 21:33] DarshitChanpura commented on #2064
This seems related: https://github.com/cypress-io/cypress/issues/18524

[2022-09-02 09:28] wkruse opened #2065 "[BUG] AccessControlException: access denied on start"
We are running the official `opensearchproject/opensearch:2.2.1` Docker container and getting following exception on start:

[code]

[2022-09-02 09:54] #1995 closed

[2022-09-02 20:59] lsa5521 opened #2067 "[BUG]There is no complete mTLS handshake when REST client connects to mTLS enabled opensearch ES"
**What is the bug?**
When connected with curl having client certificate to mTLS enabled ES saw expected mTLS handshake sequence but
when did the same with opensearch REST client saw only TLS handshake in a tcpdump.
The functionally it worked and there was a proper response from the ES

**How can one reproduce the bug?**
Steps to reproduce the behavior:
Description of the test is in the README file

[2022-09-06 05:34] mend-for-github-com[bot] opened #2068 "CVE-2022-25857 (High) detected in snakeyaml-1.26.jar - autoclosed"
## CVE-2022-25857 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>snakeyaml-1.26.jar</b></p></summary>

<p>YAML 1.1 parser and emitter for Java</p>
<p>Library home page: <a href="http://www.snakeyaml.org">http://www.snakeyaml.org</a></p>
<p>Path to dependency file:

[2022-09-06 05:34] mend-for-github-com[bot] opened #2069 "CVE-2022-38749 (Medium) detected in snakeyaml-1.26.jar - autoclosed"
## CVE-2022-38749 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>snakeyaml-1.26.jar</b></p></summary>

<p>YAML 1.1 parser and emitter for Java</p>
<p>Library home page: <a href="http://www.snakeyaml.org">http://www.snakeyaml.org</a></p>
<p>Path to dependency fil

[2022-09-06 05:34] mend-for-github-com[bot] opened #2070 "CVE-2022-38752 (Medium) detected in snakeyaml-1.26.jar"
## CVE-2022-38752 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>snakeyaml-1.26.jar</b></p></summary>

<p>YAML 1.1 parser and emitter for Java</p>
<p>Library home page: <a href="http://www.snakeyaml.org">http://www.snakeyaml.org</a></p>
<p>Path to dependency fil

[2022-09-06 05:34] mend-for-github-com[bot] opened #2071 "CVE-2022-38751 (Medium) detected in snakeyaml-1.31.jar - autoclosed"
## CVE-2022-38751 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>snakeyaml-1.31.jar</b></p></summary>

<p>YAML 1.1 parser and emitter for Java</p>
<p>Library home page: <a href="https://bitbucket.org/snakeyaml/snakeyaml">https://bitbucket.org/snakeyaml/snakeyaml

[2022-09-06 05:34] mend-for-github-com[bot] opened #2072 "CVE-2022-38750 (Medium) detected in snakeyaml-1.26.jar - autoclosed"
## CVE-2022-38750 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>snakeyaml-1.26.jar</b></p></summary>

<p>YAML 1.1 parser and emitter for Java</p>
<p>Library home page: <a href="http://www.snakeyaml.org">http://www.snakeyaml.org</a></p>
<p>Path to dependency fil

[2022-09-06 14:41] tfmm commented on #1997
I was unable to wait for further troubleshooting on this. Upgrading the cluster to 2.2.x has resolved the problem. Closing this Issue.

[2022-09-06 14:41] #1997 closed

[2022-09-06 17:12] cwperks commented on #2069
Security plugin gets this dependency transitively from core. Snakeyaml was updated from 1.26 -> 1.31 in core in this PR: https://github.com/opensearch-project/OpenSearch/pull/4341

[2022-09-06 17:12] cwperks commented on #2070
Security plugin gets this dependency transitively from core. Snakeyaml was updated from 1.26 -> 1.31 in core in this PR: https://github.com/opensearch-project/OpenSearch/pull/4341

[2022-09-06 17:15] qreshi opened #2073 "[BUG] OpenSearch 2.3.0 Docker staging image crashing with error from Security Plugin"
**What is the bug?**
The following exception can be seen when OpenSearch is starting up using the 2.3.0 staging docker image:

[code]

**What is the expected behavior?**
No crashing when OpenSearch starts up.

**What is your host/environment?**
 - OS: [e.g. iOS]
 - Version [e.g. 22]
 - Plugins

**Do you have any screenshots?**
If applicable, add screenshots to help explain your problem.

**Do you

[2022-09-06 17:39] cwperks commented on #2073
@qreshi I had a change merged into netty which was included in the `4.1.80.Final` release. See https://github.com/netty/netty/pull/12670.

There were 2 bugs associated with this PR that were identified and fixes have been merged and targeted for `4.1.81.Final` (unreleased) version of netty.

- https://github.com/netty/netty/pull/12743
- https://github.com/netty/netty/pull/12746

We can revert core

[2022-09-06 19:30] peternied commented on #2050
@cwperks Thanks for filing these issues, we will close them as we work these issues.

[2022-09-06 19:30] #2050 closed

[2022-09-06 19:33] peternied commented on #2058
Thanks for filing this, I think that this would be a good fix, but this might not be a good time to make this change.

[2022-09-06 19:33] #2058 closed

[2022-09-06 19:34] peternied commented on #2059
Lets make sure we deprecate this config value in the 2.X line, and make sure that this has been replaced for the 3.0 release.

[2022-09-06 19:39] peternied commented on #2060
@cliu123 Can you make sure all the required changes go in together?

[2022-09-06 19:42] peternied commented on #2061
@Gradlon Please create a thread in the OpenSearch forums for support https://forum.opensearch.org/c/security/3

[2022-09-06 19:42] #2061 closed

[2022-09-06 19:44] jimishs commented on #2036
Hey @aggarwalShivani . Thanks for bringing this to our attention. To add to what @DarshitChanpura already said, for security reasons, the administrative remote calls are required to be authenticated using TLS. The SecurityAdmin tool depends on TLS to authenticate its requests in OpenSearch 1.0.0. In OpenSearch 2.0.0+ this has been changed to a single interface (due to removal of Transport layer fo

[2022-09-06 19:57] peternied commented on #2065
It sounds like @cwperks provided a work around, @wkruse can you attempt this?

If that doesn't work please use the support forums https://forum.opensearch.org/c/security/3 for future requests.

[2022-09-06 20:03] peternied commented on #2073
[Triage] We should revert back to the last functional version of netty, `netty:4.1.79.Final` and then try again in a future release when these issues are no longer present.

[2022-09-06 20:09] peternied commented on #2067
@lsa5521 Could you please create a support request in https://forum.opensearch.org/c/security/3.

[2022-09-06 20:09] #2067 closed

[2022-09-06 20:10] peternied commented on #2036
[Triage] Closing out this issue as there is no action to take at this time.

[2022-09-06 20:10] #2036 closed

[2022-09-07 00:06] cliu123 commented on #2072
@cwperks looks like there is no action item in security plugin, and this should be fixed in OpenSearch core?

[2022-09-07 01:26] cwperks commented on #2072
@cliu123 That's right. Core has already upgrade to 1.31 so this will be resolved in the next release.

[2022-09-07 13:15] #1969 closed

[2022-09-07 18:02] lsa5521 commented on #2067
Posted in the forum https://forum.opensearch.org/t/there-is-no-complete-mtls-handshake-when-rest-client-connects-to-mtls-enabled-opensearch-es/10859

[2022-09-09 10:42] wkruse commented on #2065
Adding `allowlist.yml` fixes the exception on start.

As `allowlist.yml` should replace the `whitelist.yml`, after adding the former we removed the latter. But then we get the following error from `securityadmin.sh`:

[code]

So it looks like, OpenSearch server expects having `allowlist.yml`, but `securityadmin.sh` expects having `whitelist.yml`.

Closing it, as the exception on start is fixed for

[2022-09-09 10:42] #2065 closed

[2022-09-12 10:45] sabil05 commented on #1876
Hello @cwperks / All,

I am also trying to integrate the OpenID connect with Opensearch and I am executing the securityadmin.sh and getting the same error message as mentioned above..

[code]

[2022-09-12 17:33] bharath-techie opened #2087 "Point in time security model"
## Point in time security model

### Context:

#### What is point in time ?

User can create a Point In Time for a set of indices. A Point In Time is a set of segments which are frozen in time taken at the moment of creation. We lock the segments of those indices’ shards and create contexts to access and query only those shards.

Such point in time contexts can be reused across multiple search que

[2022-09-12 17:41] bharath-techie commented on #2087
@peternied @cliu123  please review this.

@reta  @Bukhtawar

[2022-09-12 18:11] #2068 closed

[2022-09-12 18:11] #2072 closed

[2022-09-12 18:11] #2069 closed

[2022-09-12 18:51] cwperks commented on #1876
@mysinmyc Thank you for the detailed explanation of the incorrect legacy check in the security admin script! A fix for the issue has been scheduled for the 2.3.0 release.

[2022-09-12 19:47] cwperks commented on #2087
Assigning this issue to @peternied to provide next steps.

[2022-09-12 19:53] cwperks commented on #2070
@DarshitChanpura Can you check to see if core is tracking this or if a version of snakeyaml with a patch for this is available?

[2022-09-12 19:54] #2034 closed

[2022-09-12 20:01] DarshitChanpura commented on #2070
As of 12 Sept 2022, 1.31 is the [latest version](https://mvnrepository.com/artifact/org.yaml/snakeyaml) for snakeyaml. And, there is no issue in core tracking this.

[2022-09-12 23:16] peternied commented on #2087
@bharath-techie Thanks for writing this up and its really useful to have available.  This is a really meaty document with many questions and assumption inside it - this is making it hard for me to build up a model for how this system works.  It will be faster to build on smaller scenarios first as we move towards encapsulating all scenarios you'd like to support.

I am having serious issues with t

[2022-09-12 23:16] peternied commented on #2087
#### From List all PITs Design

I'm not sure I understand the argument against writing the additional code.  Using a PIT focus action filter seems like a good separation of concerns.

[2022-09-13 05:51] sabil05 commented on #1876
Hello @cwperks,

Thank you so much for the information.

[2022-09-13 05:52] bharath-techie commented on #2087
List all PITs API is exposed so that user can view all PITs assigned to them. (cat indices for example ) So the need of the API is to get the IDs and additional info - so we can't pass ID to the api.

For delete,
We are not doing something different from existing APIs.
https://opensearch.org/docs/latest/opensearch/rest-api/scroll/ -- scroll supports deleting all and deleting list ( ids are passed

[2022-09-13 12:59] davidlago commented on #487
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 12:59] #487 closed

[2022-09-13 12:59] davidlago commented on #518
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 12:59] #518 closed

[2022-09-13 12:59] davidlago commented on #554
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 12:59] #554 closed

[2022-09-13 13:00] #625 closed

[2022-09-13 13:00] davidlago commented on #656
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:00] #656 closed

[2022-09-13 13:00] davidlago commented on #592
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:00] #592 closed

[2022-09-13 13:00] davidlago commented on #719
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:00] #719 closed

[2022-09-13 13:00] davidlago commented on #754
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:00] #754 closed

[2022-09-13 13:00] davidlago commented on #657
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:00] #657 closed

[2022-09-13 13:00] davidlago commented on #534
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:00] #534 closed

[2022-09-13 13:00] davidlago commented on #843
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:00] #843 closed

[2022-09-13 13:00] davidlago commented on #871
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:00] #871 closed

[2022-09-13 13:00] davidlago commented on #888
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:00] #888 closed

[2022-09-13 13:01] #989 closed

[2022-09-13 13:01] davidlago commented on #301
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:01] davidlago commented on #1025
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:01] #1025 closed

[2022-09-13 13:01] davidlago commented on #1034
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:01] #1034 closed

[2022-09-13 13:01] davidlago commented on #1035
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:01] davidlago commented on #894
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:01] #894 closed

[2022-09-13 13:01] davidlago commented on #868
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:01] #868 closed

[2022-09-13 13:01] #893 closed

[2022-09-13 13:01] davidlago commented on #986
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:01] #986 closed

[2022-09-13 13:02] davidlago commented on #1106
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:02] #1106 closed

[2022-09-13 13:02] davidlago commented on #887
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:02] #887 closed

[2022-09-13 13:03] davidlago commented on #1041
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:03] #1041 closed

[2022-09-13 13:04] davidlago commented on #1108
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:04] #1108 closed

[2022-09-13 13:04] davidlago commented on #1125
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:04] #1125 closed

[2022-09-13 13:04] davidlago commented on #1003
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:04] #1003 closed

[2022-09-13 13:04] davidlago commented on #1097
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:04] #1097 closed

[2022-09-13 13:04] davidlago commented on #1049
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:04] #1049 closed

[2022-09-13 13:04] davidlago commented on #1159
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:04] #1159 closed

[2022-09-13 13:04] davidlago commented on #1288
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:04] #1288 closed

[2022-09-13 13:04] davidlago commented on #1182
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is