[2022-09-13 13:04] #1182 closed

[2022-09-13 13:05] davidlago commented on #1182
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:05] #1151 closed

[2022-09-13 13:05] davidlago commented on #1136
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:05] #1136 closed

[2022-09-13 13:05] davidlago commented on #1201
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:05] #1201 closed

[2022-09-13 13:05] davidlago commented on #985
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:05] #985 closed

[2022-09-13 13:05] davidlago commented on #1096
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:05] #1096 closed

[2022-09-13 13:05] davidlago commented on #1099
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:05] #1099 closed

[2022-09-13 13:05] davidlago commented on #1446
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:05] #1446 closed

[2022-09-13 13:05] davidlago commented on #194
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:05] #194 closed

[2022-09-13 13:07] davidlago commented on #777
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:07] #777 closed

[2022-09-13 13:07] davidlago commented on #549
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:07] #549 closed

[2022-09-13 13:07] davidlago commented on #551
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:07] davidlago commented on #540
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:07] #540 closed

[2022-09-13 13:07] davidlago commented on #535
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:07] #535 closed

[2022-09-13 13:07] davidlago commented on #1053
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:07] #1053 closed

[2022-09-13 13:07] davidlago commented on #429
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:07] #429 closed

[2022-09-13 13:07] davidlago commented on #384
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:07] #384 closed

[2022-09-13 13:07] davidlago commented on #307
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:07] #307 closed

[2022-09-13 13:07] davidlago commented on #273
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:07] #273 closed

[2022-09-13 13:07] davidlago commented on #229
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:07] #229 closed

[2022-09-13 13:07] davidlago commented on #181
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:07] #181 closed

[2022-09-13 13:08] davidlago commented on #175
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:08] #175 closed

[2022-09-13 13:08] davidlago commented on #173
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:08] #173 closed

[2022-09-13 13:08] davidlago commented on #171
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:08] #171 closed

[2022-09-13 13:08] davidlago commented on #168
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:08] #168 closed

[2022-09-13 13:08] davidlago commented on #165
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:08] #165 closed

[2022-09-13 13:08] davidlago commented on #432
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:08] #147 closed

[2022-09-13 13:08] davidlago commented on #1050
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:08] #1050 closed

[2022-09-13 13:08] davidlago commented on #51
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:08] #37 closed

[2022-09-13 13:09] davidlago commented on #1336
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:09] #1336 closed

[2022-09-13 13:09] davidlago commented on #1339
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:09] #1339 closed

[2022-09-13 13:10] davidlago commented on #1208
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:10] #1208 closed

[2022-09-13 13:10] davidlago commented on #1187
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:10] #1187 closed

[2022-09-13 13:10] davidlago commented on #1120
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:10] #1120 closed

[2022-09-13 13:10] davidlago commented on #1102
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:10] #1102 closed

[2022-09-13 13:10] davidlago commented on #1040
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:10] #1040 closed

[2022-09-13 13:10] davidlago commented on #944
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:10] #944 closed

[2022-09-13 13:10] davidlago commented on #901
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:10] #901 closed

[2022-09-13 13:10] davidlago commented on #948
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:10] #948 closed

[2022-09-13 13:11] davidlago commented on #1250
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:11] #1250 closed

[2022-09-13 13:11] davidlago commented on #1433
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:11] #1433 closed

[2022-09-13 13:11] davidlago commented on #1876
We are doing some "spring cleaning in the fall", and to make sure we focus our energies on the right issues and we get a better picture of the state of the repo, we are closing all issues that we are carrying over from the ODFE era (ODFE is no longer supported/maintained, see post [here](https://opendistro.github.io/for-elasticsearch/blog/2022/08/Open-Distro-is-archived/)).

If you believe this is

[2022-09-13 13:12] nperon commented on #901
All right. Thank you for the update.

[2022-09-13 13:34] asfoorial commented on #1876
This issue is related to OpenSearch 2.x and not ODFE. Some of us talked about an upcoming fix in 2.3.0 but it is not released yet for us to verify.

[2022-09-13 15:05] peternied commented on #1876
I think @davidlago closed out this issue by accident, I'm reopening since there is active discussion here.

[2022-09-13 15:20] peternied commented on #1208
@cjcjameson This is a great question, we've got the codebase configured with dependabot to file issues, for example see _CVE-2022-38751 (Medium) detected in snakeyaml-1.31.jar_ - https://github.com/opensearch-project/security/issues/2071

If you know about an issue in a dependency that can be updated we are happy to receive pull requests to resolve these issues, thanks for the contribution you mad

[2022-09-13 15:27] davidlago commented on #1876
Indeed I did, sorry!

[2022-09-13 16:38] peternied commented on #2087
Lets focus in on where PIT is closely related to scroll and set aside the `cluster/admin*` scenarios:

Scroll has fewer permissions `indices:data/read/scroll` and `indices:data/read/scroll/clear`.  Why do we need the additional permissions?

Looking at the capabilities of a PIT object and what warrants protection:
- Creation PIT objects allows for allocation of resources on the cluster, safe guard

[2022-09-13 17:10] bharath-techie commented on #2087
[code]
This is how search operation uses PIT as well, indices are not present as part of search operation, whenever PIT ID is used as PIT comprises of indices information.

So PIT will include index information as that's per the current design.

[2022-09-13 19:59] scrawfor99 opened #2089 "[FEATURE] Interface suggestions from exploration"
**Is your feature request related to a problem?**
It would be nice if we could implement several features or make their use more user-friendly. Specifically:
1) I think all users should be able to visualize and create a demo dashboard with the test data (airline etc.)--I understand that we do not want to allow permissions across all users but perhaps we can flag the permissions for access of the t

[2022-09-14 05:25] reta commented on #2087
Thanks @bharath-techie , I think with `Option 1: New action filter for PITs in security plugin` we could also eliminate the need to have "cluster:admin/point_in_time/readall" and only use "indices:data/read/point_in_time/readall", correct?

[2022-09-14 06:31] bharath-techie commented on #2087
No @reta if we need to use "indices:data/read/point_in_time/readall", user needs "all indices read permission", which we are trying to avoid.

Because "indices:data/read" actions either needs indices as part of request or user needs all indices read permission.

All action filter will do is filter all the PITs which we will get after "cluster:admin/readpits" fetches all the pits.

So we can't get

[2022-09-14 13:49] davidlago commented on #2087
Perhaps naïve questions but I'll ask regardless:

- Are FGAC checks (DLS/FLS etc) are still enforced based on the user sending the search query using a PIT?
- Are we comfortable with the information being `base64` encoded in the `pit_id` being known by any user interacting with this feature?
- Are the copies of the data PIT makes readable in any other way outside of selecting them by `pit_id` in a

[2022-09-14 15:17] bharath-techie commented on #2087
-     Are FGAC checks (DLS/FLS etc) still enforced based on the user sending the search query using a PIT?
      -  Yes in rest layer we decode PIT ID to indices and all checks done on a normal search operation will be done for PIT search as well.

-     Are we comfortable with the information being base64 encoded in the pit_id being known by any user interacting with this feature?
      - All inf

[2022-09-14 16:09] peternied commented on #2087
I understand there are implementation considerations, but I'd like us to focus on the user scenarios - we add permission objects to protect a kind of resource/information.  Can you help me align use case for applying individual permissions and their rules.

#### Cases where no PIT permissions are needed

PITs, as I understand them, are not user-specific resources, they are system-wide resources.

[2022-09-14 21:40] ComBin commented on #1755
Can I know will replaced for what?

[2022-09-15 05:44] sabil05 commented on #1876
Hello @cwperks,

I have used 2.3.0 version and executed the securityadmin.sh.. Still getting the errors

The Legacy index error has disappeared.
[code]
However, still getting the following error message.
[code]

[2022-09-15 09:59] Martin-Kemp opened #2090 "[FEATURE] Support LDAP pool pruning"
**Is your feature request related to a problem?**

LDAP pool pruning is a common requirement for connecting to productive ldap servers. Currently the pruning period and idle time is hard coded to 5 and 10 minutes respectively. It would be nice to be able to configure this through `config.yml`.

**What solution would you like?**

Configure ldap connection pool pruning period and idle time through `

[2022-09-15 11:27] bharath-techie commented on #2087
To simplify the security model and to address the concerns about '_all' type operations, we discussed with @peternied and are proposing this new model.

#### Granular permissions:
Granular permissions will still be permitted for APIs where explicit PITs are provided by user.
 - Create PIT
 - Search PIT
 - Delete list of PITs
 - Segments list of PITs

#### Handling 'all' type operations:
User will

[2022-09-15 11:36] reta commented on #2087
@bharath-techie @peternied thank you guys for clearing out the concerns and simplifyng the model. I think it looks logical and concise now, the workaround are gone.

[2022-09-15 15:21] cwperks commented on #1876
@sabil05 Let's move this conversation to the forum here: https://forum.opensearch.org/t/openid-connect-integration-with-opensearch/10876/9

It sounds like you encountered this bug when running security admin, but there is a separate configuration issue preventing the nodes from starting up that is unrelated to this bug.

[2022-09-16 08:50] Martin-Kemp commented on #2032
@cwperks, I submitted a PR, would you mind having a look? https://github.com/opensearch-project/security/pull/2093

[2022-09-16 15:28] prudhvigodithi commented on #1898
For me I got this with fresh installation itself, so nothing to do with the old version nodes ;), just following up to see if there is any update with this issue?
@peternied @cliu123
Thank you

[2022-09-16 15:55] kcharikrish commented on #1898
Hello All,
I have tried to explain my scenario in points.

1. Installed opensearch and opensearch dashboards - version 2.2.1 using yum
2. Was able to start both opensearch and opensearch dashboards without any issues
3. Accessed OS dashboards using Chrome and even data ingestion from metric beat was successful
4. As it was single node cluster, tried building a cluster formation with one cluster-ma

[2022-09-16 20:03] cwperks commented on #1573
Netty released https://netty.io/news/2022/09/08/4-1-81-Final.html with 2 bugfixes related to the BouncyCastlePemReader changes. This can now be upgraded in core and completed.

[2022-09-19 15:45] rursprung commented on #1892
@cliu123: seems that your transfer request hasn't happened yet. would it make sense to instead raise a new, well described, issue in the documentation repo and then close this one here with a reference to the new one?

[2022-09-20 14:45] mend-for-github-com[bot] opened #2095 "CVE-2022-34917 (High) detected in kafka-clients-3.0.1.jar - autoclosed"
## CVE-2022-34917 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>kafka-clients-3.0.1.jar</b></p></summary>

<p></p>
<p>Library home page: <a href="https://kafka.apache.org">https://kafka.apache.org</a></p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to v

[2022-09-20 19:25] ict-one-nl commented on #1652
Guys, any news on this? Although there is a workaround this will give more novice users a headache.

[2022-09-20 19:31] ict-one-nl commented on #1448
Seems related to https://github.com/opensearch-project/security-dashboards-plugin/issues/828

[2022-09-21 00:48] hquan5397 commented on #1652
@ict-one-nl I set "include global state" to false then i can take a snapshot

[2022-09-21 21:49] ict-one-nl commented on #1652
Problem is restoring it :) See the first posts, all requests to validate this are present :)

[2022-09-22 00:56] hquan5397 commented on #1652
Oh that's my mistake. i mean i can restore it if i set include global state to false @ict-one-nl

[2022-09-22 15:46] peternied commented on #2090
The fix for this issue has been merged, and will be released in the next 2.X distribution

[2022-09-22 15:46] #2090 closed

[2022-09-22 16:32] peternied opened #2098 "[FEATURE] Tests should be able to detect if warnings/errors were logged"
**Is your feature request related to a problem?**
There are many condictions within the security plugin that warn/error on bad configuration or help guide users away from deprecated features.  There should be a way to confirm that the warnings/errors were actually fired for users/administrators to see.

**What solution would you like?**
We could add a mechanism to listen to the logger output and m

[2022-09-23 01:04] mend-for-github-com[bot] opened #2100 "CVE-2022-40155 (High) detected in woodstox-core-6.2.6.jar - autoclosed"
## CVE-2022-40155 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>woodstox-core-6.2.6.jar</b></p></summary>

<p>Woodstox is a high-performance XML processor that implements Stax (JSR-173),
SAX2 and Stax2 APIs</p>
<p>Library home page: <a href="https://github.com/Fa

[2022-09-23 01:04] mend-for-github-com[bot] opened #2101 "CVE-2022-40154 (High) detected in woodstox-core-6.2.6.jar - autoclosed"
## CVE-2022-40154 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>woodstox-core-6.2.6.jar</b></p></summary>

<p>Woodstox is a high-performance XML processor that implements Stax (JSR-173),
SAX2 and Stax2 APIs</p>
<p>Library home page: <a href="https://github.com/Fa

[2022-09-23 01:04] mend-for-github-com[bot] opened #2102 "CVE-2022-40151 (High) detected in woodstox-core-6.2.6.jar - autoclosed"
## CVE-2022-40151 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>woodstox-core-6.2.6.jar</b></p></summary>

<p>Woodstox is a high-performance XML processor that implements Stax (JSR-173),
SAX2 and Stax2 APIs</p>
<p>Library home page: <a href="https://github.com/Fa

[2022-09-23 01:04] mend-for-github-com[bot] opened #2103 "CVE-2022-40153 (High) detected in woodstox-core-6.2.6.jar - autoclosed"
## CVE-2022-40153 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>woodstox-core-6.2.6.jar</b></p></summary>

<p>Woodstox is a high-performance XML processor that implements Stax (JSR-173),
SAX2 and Stax2 APIs</p>
<p>Library home page: <a href="https://github.com/Fa

[2022-09-23 01:04] mend-for-github-com[bot] opened #2104 "CVE-2022-40152 (High) detected in woodstox-core-6.2.6.jar - autoclosed"
## CVE-2022-40152 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>woodstox-core-6.2.6.jar</b></p></summary>

<p>Woodstox is a high-performance XML processor that implements Stax (JSR-173),
SAX2 and Stax2 APIs</p>
<p>Library home page: <a href="https://github.com/Fa

[2022-09-23 12:19] cebor opened #2105 "[BUG] OpenID Connect redirects to "/" even if server.basePath is set"
**What is the bug?**
Since i upgraded from 1.3.0 to 2.3.0 Opensearch-Dashboards configured with OICD always redirects to "/" not to the value defined in `server.basePath`.

**What is the expected behavior?**
After a successful login it should redirect to the value defined in `server.basePath`

**What is your host/environment?**
 - OS: docker on ubuntu 22.04
 - Version 2.3.0
 - Plugins: security

*

[2022-09-26 18:45] RyanL1997 commented on #2089
@scrawfor99 Thank you for filing this. @peternied Could you please follow up on this?

[2022-09-26 19:08] RyanL1997 commented on #2105
Tracking related issue: https://github.com/opensearch-project/security-dashboards-plugin/issues/1098 and closing this.

[2022-09-26 19:08] #2105 closed

[2022-09-26 22:10] peternied commented on #2089
@scrawfor99 Thanks for filing, it looks like almost all of these issues apply to [security-dashboards-plugin](https://github.com/opensearch-project/security-dashboards-plugin) so they might be better suited if the issue was over there.

As it stands we don't have a good way to process this issue as it is.  We try to work through discrete issues towards a goal, sometimes you'll see 'Meta' issues th

[2022-09-26 22:39] peternied opened #2109 "Reenable BWC tests once they are operational in our CI checks"
This was disabled in https://github.com/opensearch-project/security/pull/2108, we should 'undo' this change once the tests are stable again.

[2022-09-27 07:37] Martin-Kemp commented on #2032
https://github.com/opensearch-project/security/pull/2093 has been merged.

[2022-09-27 07:37] #2032 closed

[2022-09-27 15:43] #1387 closed

[2022-09-28 00:59] peternied commented on #2109
These tests were never disabled via the associated pull request, closing this out.

[2022-09-28 00:59] #2109 closed

[2022-09-28 10:51] lukasz-soszynski-eliatra opened #2113 "[BUG] Inconsistent behaviour of msearch operation when feature "do_not_fail_on_forbidden" is enabled or disabled"
**What is the bug?**
Various set of permissions is required to perform msearch operation when the feature "do_not_fail_on_forbidden" is enabled or disabled

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Create and index `marvelous_songs`
2. Add some documents to index `marvelous_songs`
3. Disable feature do_not_fail_on_forbidden in security plugin configuration
4. Create a

[2022-09-28 11:42] lukasz-soszynski-eliatra opened #2114 "[BUG] Two contradictory audit logs when restoring snapshot with lacking permissions"
**What is the bug?**
When a user tries to restore a snapshot but she or he is lacking permissions related to the target index then two audit logs are generated

1. audit_category: MISSING_PRIVILEGES, audit_transport_request_type: RestoreSnapshotRequest
2. audit_category: GRANTED_PRIVILEGES audit_transport_request_type: RestoreSnapshotRequest

These two audit logs contain contradictory information.

[2022-09-28 14:01] cwperks commented on #2104
There's active discussion on this issue in both the woodstox and xstream repos. I don't see a jar available with a patch.

xstream: https://github.com/x-stream/xstream/issues/304
woodstox: https://github.com/FasterXML/woodstox/issues/157

[2022-09-28 15:40] mend-for-github-com[bot] opened #2115 "CVE-2022-40156 (High) detected in woodstox-core-6.2.6.jar - autoclosed"
## CVE-2022-40156 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>woodstox-core-6.2.6.jar</b></p></summary>

<p>Woodstox is a high-performance XML processor that implements Stax (JSR-173),
SAX2 and Stax2 APIs</p>
<p>Library home page: <a href="https://github.com/Fa

[2022-09-28 15:40] #2071 closed

[2022-09-29 12:48] anubisg1 commented on #1678
i am hitting this as i have the same identical problem listed  here

https://forum.opensearch.org/t/no-permissions-on-indices-data-read-search-template-when-the-permission-is-attached-in-the-role/9991/9

[2022-09-29 13:38] anubisg1 commented on #1678
in the specific my role has the following permissions

[code]

`do_not_fail_on_forbidden: true` is also configured

when loggin in, the api call

[code]

returns with:

[code]

adding the following permissions does nothing.

[code]

the only way i can get some progress is by granting:

[code]

in that case, the previous call succeed

and returns

[code]

unfortunately there are still problems as t

[2022-09-29 13:48] lukasz-soszynski-eliatra commented on #2113
A similar problem occurs in the case of scrolling and permission `indices:data/read/scroll`

[2022-09-29 14:35] anubisg1 opened #2120 "[BUG] - permissions on specific indeces do not work unless get and indices:data/read/search are granted to *"
**What is the bug?**
When granting permissions to a specific index, no request will work unless also `get` and `indices:data/read/search` are granted to all indeces `*` .

This grants too much and allows users that should be restricted to access a single index to see much more than they should

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. make sure at least 2 indeces exis

[2022-09-29 15:10] anubisg1 commented on #2113
this seem also related to https://github.com/opensearch-project/security/issues/2120 and https://github.com/opensearch-project/security/issues/1678

[2022-09-29 15:56] peterzhuamazon opened #2122 "[BUG] 2.3.0 Security not able to load during OpenSearch Startup in Windows Agent"
Hi @opensearch-project/security we recently see this error in 2.3.0 builds for windows.

How to reproduce:

1. Download: https://ci.opensearch.org/ci/dbc/bundle-build-zhujiaxi/2.3.0-SNAPSHOT/12/windows/x64/zip/dist/opensearch/opensearch-2.3.0-SNAPSHOT-windows-x64.zip
2. Use the bin/opensearch.bat file to start on Windows machine, cluster exit with the following errors.
3. Remove security plugin, c

[2022-09-29 16:46] dblock commented on #1951
Could we please double-check that:

- [ ] main is building 3.0
- [ ] 2.x is building next 2.x, which is currently 2.4.0
- [ ] 2.3 is building next 2.3, which is 2.3.1
- [ ] manifests in https://github.com/opensearch-project/opensearch-build/tree/main/manifests include all 3

[2022-09-29 16:58] cwperks commented on #2122
@peterzhuamazon Just want to double check did you perform steps 6 and 7 from the linked Meta issue?

[code]

[2022-09-29 18:24] dblock commented on #1953
Nothing should be blocking this anymore.

[2022-09-29 19:19] owaiskazi19 opened #2124 "Bump jackson and snakeyaml dependencies"
**Is your feature request related to a problem?**
Core has bumped jackson and snakeyaml dependencies [here](https://github.com/opensearch-project/OpenSearch/pull/4556) to 2.13.4 and 1.32 respectively for versions 2.x, 2.3 , 2.2 , 2.1 , 2.0, 1.3 and 1.x. Plugin and client teams should do the same to align with core.

**What solution would you like?**
A clear and concise description of what you want

[2022-09-29 19:43] #1953 closed

[2022-09-29 19:43] #2049 closed

[2022-09-29 19:44] #2100 closed

[2022-09-29 19:44] #2101 closed

[2022-09-29 19:45] #2115 closed

[2022-09-29 19:45] #2102 closed

[2022-09-29 19:45] #2103 closed

[2022-09-29 19:45] #2104 closed

[2022-09-29 19:45] peternied opened #2125 "[HTTP/2] Functional Test cases"
With https://github.com/opensearch-project/security/pull/2051 the security plugin supports HTTP/2 but there are no new tests cases that verify this functionality.  We should make sure before the release of 3.0.0 we have checks in place to ensure there are no regressions.

[2022-09-29 19:48] peternied commented on #2125
@reta Did you have anything you'd like to expand on this issue?

[2022-09-29 19:54] reta commented on #2125
@peternied yes, we basically do not have client support at the moment for HTTP/2 side, I am working on it [1] but it takes a bit longer than I planned. So basically may question would be: is it acceptable to add tests which a) either use Netty HTTP/2 client b) or use Apache HttpClient 5.x? Rest Client and HLRC are out of options right now.

[1] https://github.com/opensearch-project/OpenSearch/pull

[2022-09-29 20:00] peternied commented on #2125
Assuming the final OpenSearch Rest Client implementations leverage Netty, Apache, or another standard library for the communication interface, using HTTP/2 implementation from Netty/Apache for the tests in this library would be fine to me.

If we were developing anything outside the standard that needed additional verification, then it might make to hold off until the RC/HLRC were avaliable, or at

[2022-09-29 20:04] peternied commented on #2125
As we have lead time on v3.0.0 - I am not concerned about delivering these test quickly, but instead making sure that we do not forget them and build them with appropriate coverage.

[2022-09-29 20:17] #2095 closed

[2022-09-29 20:29] reta commented on #2125
@peternied if you don't mind, please assign this issue to me, I will make sure the test suites are present

[2022-09-29 20:32] DarshitChanpura commented on #2124
Security plugin inherits snakeyaml as a transitive dependency from core. I will make relevant PRs for jackson changes

[2022-09-29 21:48] peterzhuamazon commented on #2122
Now that reminds me in ODFE we have a script to run the demo configurations script.
Seems like that step is missed in OpenSearch.
Thanks @cwperks let me add some code and test again.

[2022-10-03 08:06] ankitkala commented on #1953
@peternied @DarshitChanpura Can you guys also add security to 3.0 manifest: https://github.com/opensearch-project/opensearch-build/blob/main/manifests/3.0.0/opensearch-3.0.0.yml

[2022-10-03 19:09] scrawfor99 commented on #1951
I will look at this as well @scrawfor99

[2022-10-03 19:12] #2089 closed

[2022-10-03 19:14] scrawfor99 commented on #2114
Hi, @cwperks could you mark this as #triaged and #help_wanted.

[2022-10-03 19:21] scrawfor99 commented on #2113
Hi @cwperks  could you mark this as #help_wanted and #triaged?
Thank you

[2022-10-03 19:23] scrawfor99 commented on #2120
@cwperks could tag this as #help_wanted and #triaged?

[2022-10-03 19:27] scrawfor99 commented on #2122
Hi @peterzhuamazon, @peternied & @cwperks are going to take a look at this and confirm that everything set up for this.

[2022-10-03 19:30] #2124 closed

[2022-10-04 07:32] mend-for-github-com[bot] opened #2137 "CVE-2022-36944 (High) detected in scala-library-2.13.8.jar - autoclosed"
## CVE-2022-36944 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>scala-library-2.13.8.jar</b></p></summary>

<p>Standard library for the Scala Programming Language</p>
<p>Library home page: <a href="https://www.scala-lang.org/">https://www.scala-lang.org/</a></p>

[2022-10-04 18:53] scrawfor99 commented on #1951
@peternied, main is building 3.0.0; 2.x is building 2.4.0; and 2.3 is building 2.3.1 so the backend is all set!

[2022-10-04 18:53] #1951 closed

[2022-10-04 19:12] #2063 closed

[2022-10-04 20:54] peternied commented on #2122
@peterzhuamazon I was able to spin up the OpenSearch process on my local machine any connect to it via https with the admin account. Setup note; I did have to execute the demo cert script, which worked fine with [WSL](https://learn.microsoft.com/en-us/windows/wsl/) installed.

[2022-10-04 21:53] peternied commented on #1476
The *nix script does work if you've got [WSL](https://learn.microsoft.com/en-us/windows/wsl/) installed, what do you think about having that as a prereq?

[2022-10-04 23:05] peterzhuamazon commented on #2122
Before we verify this change in Jenkins Please do not close the issue.

Thanks.

[2022-10-05 11:12] kt-eliatra opened #2141 "[BUG] Privileges are incorrectly evaluated in case of shrink, clone and split index operations"
**What is the bug?**
A forbidden response is returned for shrink, clone and split operations even when user has all required permissions to the source index.
In addition, it seems that permissions to create the target index are not verified at all.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Define user, role, and role mapping, e.g.:
[code]
2. Upload configuration
3. Cr

[2022-10-05 15:36] Jakob3xD opened #2142 "[FEATURE] Bulk Audit Logs"
**Is your feature request related to a problem?**
Currently when using an external Opensearch Cluster as Audit log destination the src Opensearch does a Index request for each audit log. This is inefficient and results in a huge lode on the external Opensearch.

**What solution would you like?**
It would be nice if the security plugin caches the audit logs for a configurable amount of logs and the

[2022-10-05 21:37] mend-for-github-com[bot] opened #2146 "CVE-2022-42003 (High) detected in jackson-databind-2.13.4.jar"
## CVE-2022-42003 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.13.4.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">h

[2022-10-06 20:52] #2059 closed

[2022-10-06 22:10] peternied commented on #2146
There is no officially released version of jackson avaliable to migrate.  There is a RC build, but it produces the following error when added to OpenSearch:

From OpenSearch, run with command `./gradlew precommit`
[code]

[2022-10-06 22:25] peternied commented on #2122
@peterzhuamazon is there a way we can help verify and close out the issue?  The repro steps from this issue do not seem to embody the scenario that isn't working.

[2022-10-06 23:00] peterzhuamazon opened #2148 "[BUG] Security Plugin does not have batch script for install demo configurations for windows"
As a follow up to this issue:
https://github.com/opensearch-project/security/issues/2122

The install demo configuration script is only available in Shell form.
This means it is not possible to run it in Windows env.

In ODFE we run the script pre-configured for user in LINUX machine before assembling the windows zip.
We have to do the same now for OpenSearch: https://github.com/opensearch-project

[2022-10-06 23:01] peterzhuamazon commented on #2122
Temp solution: opensearch-project/opensearch-build#2704.
Follow up: https://github.com/opensearch-project/security/issues/2148

[2022-10-07 21:35] cwperks commented on #2137
I don't see any usages of `LazyList` in the codebase. There is a patch version of the jar available so we should upgrade to the jar with the patch.

[2022-10-08 00:12] opensearch-ci-bot opened #2149 "[AUTOCUT] OS Distribution Build Failed for security-3.0.0"
***Received Error***: **Error building security, retry with: ./build.sh manifests/3.0.0/opensearch-3.0.0.yml --component security --snapshot**.
                      The distribution build for security has failed.
                      Please see build log at https://build.ci.opensearch.org/job/distribution-build-opensearch/6131/consoleFull

[2022-10-10 15:50] peternied commented on #2149
New compilation failures from OS 3.0.0 - this will start impacting our main builds

[code]

[2022-10-10 19:29] vinayak15 commented on #2141
[Triaged] @cliu123 Can you please help to look into this issue ?

[2022-10-10 19:44] vinayak15 commented on #2148
[Triaged] @cwperks Can you please follow up with peterzhuamazon regarding this issue.

[2022-10-10 19:48] vinayak15 commented on #2149
[Triage] @cwperks Can you follow up with @opensearch-project/engineering-effectiveness  regarding this issue .

[2022-10-11 18:54] #1894 closed

[2022-10-11 19:28] peternied commented on #1918
The BWC tests passed when we bumped to version 3, see this run https://github.com/opensearch-project/security/actions/runs/3151467687/jobs/5125449978

Pull request reference https://github.com/opensearch-project/security/issues/1953

[2022-10-11 19:28] #1918 closed

[2022-10-12 13:22] davidlago opened #2157 "[FEATURE] Use stronger TLS ciphers as defaults"
The default settings currently seem to allow weak TLS ciphers & protocols. These can be changed in the settings (using `enabled_ciphers` and `enabled_protocols`) to harden them, but we should consider changing the default in the upcoming 3.0 release (as it’d be a breaking change)?

Considering following the [configuration from Mozilla](https://wiki.mozilla.org/Security/Server_Side_TLS) (note: “int

[2022-10-12 13:24] davidlago commented on #2157
Tagging @rursprung as this request is coming from a conversation with him.

[2022-10-12 13:40] rursprung commented on #2157
note: i just stumbled over https://github.com/opensearch-project/OpenSearch-Dashboards/issues/838; it seems that in order to go to the "modern" configuration in the full stack OpenSearch Dashboards must first add support for TLSv1.3

[2022-10-12 17:56] #2149 closed

[2022-10-12 18:16] shubhmkr-amazon opened #2159 "[BUG] hasValidDNs is not handling the rdn order change of subject and issuerDN."
**What is the bug?**
After changing the order of subjectDN field of the new certificate giving a cert validation error response(500).  As it is comparing the whole DN field as a whole String.
Current cert Subject: C=DE, L=Test, O=Test, OU=SSL, CN=node-1.example.com
New cert  Subject: CN=node-1.example.com, OU=SSL, C=DE, L=Test, O=Test

**How can one reproduce the bug?**
Steps to reproduce the beha

[2022-10-12 18:21] peterzhuamazon opened #2160 "Release Version 2.4.0"
Release Version 2.4.0

This is a component issue for __2.4.0__.
Coming from [opensearch-build#2649](https://github.com/opensearch-project/opensearch-build/issues/2649). Please follow the following checklist.
__Please refer to the DATES / CAMPAIGNS in that post__.

<details><summary>How to use this issue</summary>
<p>

## This Component Release Issue

This issue captures the state of the OpenSearch

[2022-10-13 15:01] DarshitChanpura opened #2165 "[Failing CI] Main branch build is failing"
# Description

`main` CI started failing due to an effort to migrate http client/core to 5.x via https://github.com/opensearch-project/OpenSearch/pull/4459

Since we transitively pull these dependencies which were removed, the CI failed.
[code]

There is an ongoing effort to fix this.

# Expectations
CI should be green

[2022-10-13 23:09] ronniepg opened #2168 "[BUG] User object deserialization prevents Rolling upgrade from version 1.x to 2.2.1"
**What is the bug?**
User object deserialization prevents Rolling upgrade from version 1.x to 2.2.1

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Setup a fresh 1.2.4 cluster with security enabled. Users, Roles, Role mapping, etc. are all maintained in the internal security index, i.e. no integration with external LDAP for authn and authz.
2. Upgrade one of the master node

[2022-10-14 09:35] lukasz-soszynski-eliatra opened #2169 "[BUG] An inconsistent number of audit logs is created when a snapshot is taken."
**What is the bug?**
A variable number of audit logs is created when a snapshot is taken:

1. One or two audit logs are created with the category `AUTHENTICATED` and request path `/_snapshot/test-snapshot-repository/snapshot-positive-test`
2. Two or four audit logs are created with the category `GRANTED_PRIVILEGES` and request type `GetSnapshotsRequest`

**How can one reproduce the bug?**
The bug

[2022-10-15 17:31] SohamRatnaparkhi commented on #2157
Hi, I would like to work on this issue. Can you assign it to me?

[2022-10-17 19:14] scrawfor99 commented on #2168
[TRIAGE] @cliu123 can you please take a look at this?

[2022-10-17 19:27] scrawfor99 commented on #2159
[TRIAGE] @cwperks can you review the associated pull request? Thank you.

[2022-10-17 19:28] peternied commented on #2159
It looks like this is related to https://github.com/opensearch-project/security/issues/2054 @shubhmkr-amazon Can you confirm if you are addressing the behavior of this other issue as well?

[2022-10-17 19:35] #2087 closed

[2022-10-17 19:38] scrawfor99 commented on #2122
[CLOSE] Closing since 2.3.0 is shipped and new changes intended for future release.

[2022-10-17 19:38] #2122 closed

[2022-10-17 19:48] scrawfor99 commented on #1876
[CLOSED] Closed because original issue was addressed. Any further issues are encouraged to file a new issue ticket.

[2022-10-17 19:48] #1876 closed

[2022-10-17 19:56] scrawfor99 commented on #1898
[TRIAGE] @peternied can you follow up with this issue to make sure the issue remains. Thank you.

[2022-10-17 20:00] scrawfor99 commented on #1652
[TRIAGE] @scrawfor99 follow-up with poster.

[2022-10-17 20:17] reta opened #2171 "[FEATURE] Migrate client transports to Apache HttpClient / Core 5.x"
### Is your feature request related to a problem?
Reflecting changes in core to migrate to Apache HttpClient / Core 5.x

### What solution would you like?
Migrate client transports to Apache HttpClient / Core 5.x

### What alternatives have you considered?
N/A

### Do you have any additional context?
https://github.com/opensearch-project/OpenSearch/issues/4256

[2022-10-17 20:17] reta commented on #2165
https://github.com/opensearch-project/security/issues/2171

[2022-10-17 20:20] scrawfor99 commented on #1652
HI @ict-one-nl, I wanted to reach out to share this documentation link with you and see if this was at all helpful. Please feel free to follow-up if you have further questions or concerns.

https://opensearch.org/docs/1.2/opensearch/snapshot-restore/#security-plugin-considerations

[2022-10-17 20:42] peternied opened #2173 "[SecurityAdmin] Failure when "OpenSearch Security not initialized""
Hello All,
I have tried to explain my scenario in points.

1. Installed opensearch and opensearch dashboards - version 2.2.1 using yum
2. Was able to start both opensearch and opensearch dashboards without any issues
3. Accessed OS dashboards using Chrome and even data ingestion from metric beat was successful
4. As it was single node cluster, tried building a cluster formation with one cluster-ma

[2022-10-17 20:43] peternied commented on #1898
@kcharikrish To capture the discussion about your issue, I've created https://github.com/opensearch-project/security/issues/2173 to so we can close out this older issue.

[2022-10-17 20:48] prudhvigodithi commented on #1898
Hey @peternied I would suggest to keep this issue open and track the progress on this same issue as there are lot of good points/discussions from multiple users. Also the concern raised by @kcharikrish is the same that was raised earlier by myself and others, only difference I see is the installation is by yum and not by docker or k8s but the error is same. Long story short lets keep this issue op

[2022-10-17 20:52] peternied commented on #2173
This is likely what is causing all the trouble, when the cluster is coming online the security plugin replicates all of its settings to each node via a special index called `.opendistro_security`.  This index has to be present on each node, you would need to troubleshoot if that error was resolved because the index was initialized and synced between nodes.  If you can run `GET /_cat/shards?v` and

[2022-10-17 20:53] peternied commented on #2173
Note, unless we hear back in 2 weeks, Nov 1st, we will automatically close out this issue assuming it was workaround-able

[2022-10-17 21:43] peternied commented on #1898
@prudhvigodithi There is a lot of discussion on this issue making it hard to understand what is a problem that needs resolution, what was an incidental issue, and what remains.  What scenario is broken that you think needs to be resolved?

[2022-10-17 22:04] peternied commented on #2157
@SohamRatnaparkhi Thanks for volunteering, I've assigned the issue to you.

[2022-10-18 03:49] ict-one-nl commented on #1652
Yes I'm aware of the limitations, global state and the opendistro security index are mentioned in the bug report already. To what are you referring specifically?

[2022-10-18 04:56] SohamRatnaparkhi commented on #2157
Hello,
Can someone guide me as to what I have to do to solve the issue. Which files in the codebase affect the change?

[2022-10-18 06:44] nishp77 opened #2174 "[BUG] - Documentation guide not building the project"
**What is the bug?**
During ./gradlew clean assemble when setting up the project throws error of detecting some dependencies tried both JAVA 11 and 17 results the same issue

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Go to https://github.com/opensearch-project/security/blob/main/DEVELOPER_GUIDE.md#prerequisites
2. Follow all the setups till the 'building'
3. run the co

[2022-10-18 08:47] df-cgdm commented on #173
This issue should still be considered (I have not enought skill to help you on this :) )

[2022-10-18 15:04] prudhvigodithi commented on #1898
@peternied the issue is still the same as stated in https://github.com/opensearch-project/security/issues/1898#issue-1279185390, https://github.com/opensearch-project/security/issues/1898#issuecomment-1169191535 https://github.com/opensearch-project/security/issues/1898#issuecomment-1218092220 https://github.com/opensearch-project/security/issues/1898#issuecomment-1249530839. I have proposed a sol

[2022-10-18 18:20] reta commented on #2171
Closed by https://github.com/opensearch-project/security/pull/2166

[2022-10-18 18:20] #2171 closed

[2022-10-18 22:10] peternied commented on #2174
We had build breaks in main that were recently resolved, can you post your commit SHA, failures are expected if you are not built off of [41d68cc](https://github.com/opensearch-project/security/commit/41d68ccb30b52f285ea350038437871d72d59c83).

I can't tell the source of the error as it looks like its off the screen, if you are running the latest commit and are still seeing the error, could you co

[2022-10-18 22:23] peternied commented on #2157
@SohamRatnaparkhi I would recommend starting by searching the codebase [1] for terms that match the terms from the issue.  I would recommend starting with a draft pull request where you attempt to address the problem and are in a good position for feedback - I think there will be decent discussion around the minimum supported ciphers / protocols.

[1] https://github.com/opensearch-project/security

[2022-10-18 23:39] nishp77 commented on #2174
Yes its the same SHA --> 41d68ccb30b52f285ea350038437871d72d59c83

[2022-10-18 23:51] nishp77 commented on #2174
Just pulled the latest commit, it's working now thanks however do you know the reason why it was breaking at compile time?

[2022-10-19 03:11] SohamRatnaparkhi commented on #2157
Okay, Thankyou. I will look into the codebase and will draft a pr shortly.

[2022-10-19 07:41] anubisg1 opened #2189 "[BUG] unable to Hide unmapped backend roles"
**What is the bug?**
I have linked opensearch to our active directory domain.
I also mapped some AD groups to the proper roles…

everything works but i noticed that Dashboards exposes too much information to the users…
specifically when a user clicks on “view roles and identities” the user can see every Active Directory group the user name is linked to (as backend roles) even if that group is neve

[2022-10-19 12:37] reta opened #2176 "[BUG] Address CVE-2022-42889 by updating commons-text"
**What is the bug?**
The CVE-2022-42889 was published affecting `commons-text` < 1.10.0

**What is the expected behavior?**
Update `commons-text` < 1.10.0

**Do you have any additional context?**
[Add any other context about the problem.](https://nvd.nist.gov/vuln/detail/CVE-2022-42889)

[2022-10-19 13:33] cwperks commented on #2159
@shubhmkr-amazon Some of the RDN attributes like DC (or Domain component) are not reversible.

i.e. `CN=cwperx,DC=example,DC=org` is not the same as `CN=cwperx,DC=org,DC=example`.

For elements of an RDN with the same attribute name, order needs to be preserved if the line is re-arranged.

See my comment here (https://github.com/opensearch-project/security/issues/1640#issuecomment-1217028594) on a

[2022-10-19 18:39] peternied commented on #1898
@prudhvigodithi Thanks for reviewing the issue, to me the key part that needs to be followed up on is:

Something like `.setSocketTimeout(OpenSearchConfig().getClientSocketTimeout());`

It looks like it might be useful to see this to a larger timeout for environments when the cluster is slower to start up, whereas today its fixed at the default of 30 seconds.

[2022-10-20 08:44] kt-eliatra commented on #2141
403 is returned even if the role is configured like this:
[code]

[2022-10-20 09:16] vinylen opened #2182 "[BUG] No cluster-level perm match for User"
**What is the bug?**
After upgrading to OpenSearch 2.3.0, we are experiencing issues with sending alerts to Slack channels. If we take a look in the notifications tab for the alert itself, we can see the following error message:

`Error:  Failed running action: org.opensearch.OpenSearchSecurityException: no permissions for  [cluster:admin/opensearch/notifications/configs/get] and associated  roles

[2022-10-20 17:44] shubhmkr-amazon commented on #2159
@cwperks Thank you for looking into this issue. In some part of rfc document its mentioned that order did not matter in [practical.]  (https://www.rfc-editor.org/rfc/rfc6125#section-2.3.1). Let me look some more into it closing for now.

[2022-10-20 17:44] #2159 closed

[2022-10-20 18:45] #195 closed

[2022-10-20 19:15] dbason commented on #2176
Will there be new docker images published with the updated version?

[2022-10-20 19:24] peternied opened #2184 "[BUG] integrationTest should have retries of at least 1 enabled"
**What is the bug?**
Random failures of
 - org.opensearch.security.SearchOperationTest.shouldRestoreSnapshot_positive
See https://github.com/opensearch-project/security/actions/runs/3291289704/jobs/5425910811

Tests under `./src/integrationTest/java/org/opensearch/security/**` should be called with retries, of at least 1 to prevent blocking pull requests.

[2022-10-20 19:24] peternied commented on #2184
@lukasz-soszynski-eliatra Could you look into this?

[2022-10-20 21:46] #2137 closed

[2022-10-21 10:02] lukasz-soszynski-eliatra commented on #2184
I added retries: https://github.com/opensearch-project/security/pull/2153/files#diff-49a96e7eea8a94af862798a45174e6ac43eb4f8b4bd40759b5da63ba31ec3ef7R287

[2022-10-21 12:01] semmlfra commented on #2176
@reta can you provide additional information on the impact of the vulnerability on OpenSearch is the actual vulnerable code being used?

[2022-10-21 17:48] DarshitChanpura commented on #2165
Closing this as it was solve via: https://github.com/opensearch-project/security/issues/2171

[2022-10-21 17:48] #2165 closed

[2022-10-21 17:52] #2174 closed

[2022-10-21 19:47] reta commented on #2176
@semmlfra I have not looked into the ways to reproduce the issue in OpenSearch (focusing on update first), but the `commons-text` is coming as transitive depedencies in a few plugins (`security` and `ml-commons` notably) which might be explotable through 3rd party libraries.

[2022-10-21 20:06] prudhvigodithi commented on #2055
Closing this issue and groupID is now configured to the gradle project.

[2022-10-21 20:06] #2055 closed

[2022-10-22 07:01] semmlfra commented on #2176
Thanks @reta for providing this additional information

[2022-10-24 07:46] #1512 closed

[2022-10-24 13:49] lukasz-soszynski-eliatra commented on #2184
I hope that I found the root cause of the problem. The build output contains the following output:
[code]

This means that an exception occurred when request  `/restored_write_song_index/_count` was executed because `all shards failed`. This is expected at some stage during the test. The exception is related to the following line https://github.com/opensearch-project/security/blob/main/src/integra

[2022-10-24 14:44] peternied commented on #2174
@nishp77 Our main branch is associated with OpenSearch's main branch, which occasionally gets breaking changes that are targeting the 3.0.0 release.  This synchronization can lead to breaks like this one, most of the types we fix them quickly, but in this case, it was a hard issue to resolve checkout the pull request if you are curious about the details [1].  We created an issue in OpenSearch-buil

[2022-10-24 14:56] peternied opened #2188 "[FEATURE] AuditMessage validation in tests should be more useful / removed"
**Is your feature request related to a problem?**
Test code was written to verify the format of audit log messages.  This code is clunky as in tests it's written as `Assert.assertTrue(validateMsgs(messages));`.  It would be far more useful if it emitted errors about why the message(s) are invalid rather than asserting false.

Furthermore; It is not clear that the message format level validation in

[2022-10-24 15:44] scrawfor99 commented on #2124
Verified this is set correctly on 2.x for 2.4 release.

[2022-10-24 19:04] scrawfor99 commented on #2188
[TRIAGE] Moved to backlog and good first issue applied.

[2022-10-24 19:07] scrawfor99 commented on #2184
[TRIAGE] Already has a PR related, awaiting review.

[2022-10-24 19:11] scrawfor99 commented on #2182
[TRIAGE] Hi @vinylen, thank you for filing this issue. Would you be able to provide information on which version you were migrating from as well as any snippets of your config files you are willing to share? @cliu123 can you follow up on this.

[2022-10-24 19:16] cliu123 commented on #2182
@vinylen I have a couple of quick things. Would you please confirm?

- Which version is this upgrade from?

- Does this issue happen during rolling upgrade? If yes, there's already been [another issue](https://github.com/opensearch-project/security/issues/2168) for this. If it's possible, please try full upgrade(bring down all nodes, upgrade all nodes and then start all nodes.)

[2022-10-24 19:16] cliu123 commented on #2168
@ronniepg Thanks for creating the issue! While we are investigating, would you please try full upgrade(bring down all nodes, upgrade all nodes and then start all nodes.)?

[2022-10-24 19:18] scrawfor99 commented on #2173
[TRIAGE] Hi @kcharikrish, just following up to make sure you saw this issue was created. Please take a moment to update the issue how you best see fit and respond with any information about the logs that you can share from the cluster. Thank you.

[2022-10-24 20:03] peternied commented on #1648
Its been more than six months since the work that started this discussion was merged and reverted, at this point it does not look like we are making any progress so I am closing out this issue.

[2022-10-24 20:03] #1648 closed

[2022-10-24 22:22] peternied commented on #2189
@cwperks I've moved the issue, could you update the title/description based on your findings?

[2022-10-25 11:51] Martin-Kemp commented on #2040
Not sure if this is frowned upon, but here's how x-pack does it: https://github.com/elastic/elasticsearch/blob/53a2aa94f9f46aded071c48b696bbb514459ad36/x-pack/plugin/security/src/main/java/org/elasticsearch/xpack/security/authc/oidc/OpenIdConnectAuthenticator.java#L256

Obviously I'm not suggesting a copy-paste but might be worth looking at for a reference.

[2022-10-25 12:46] antoniocascais opened #2220 "[FEATURE] Search on masked fields"

[2022-10-25 21:31] peternied opened #2193 "[BUG] HeapBasedRateTrackerTest are unreliable"
**What is the bug?**
The tests in HeapBasedRateTrackerTest [1] expect behavior based on elapsed time vs System.currentTimeMillis() [2].   During test execution there is no guarantee that Thread.Sleep(...) times are anywhere near expected.  This tests are unreliable as has been seen when attempting to onboard MacOS and Windows platforms.

**How can one reproduce the bug?**
Running the following com

[2022-10-25 23:40] peternied opened #2194 "[Windows] Configuration values are improperly decoded"
**What is the bug?**
When users.yml is proccessed by DynamicSecurityConfig through the scenario tests the user strings are improperly treated as ANSI values.

Expected username `§ÄÖÜäöüß`, malformed username `Â§Ã„Ã–ÃœÃ¤Ã¶Ã¼ÃŸ`

**How can one reproduce the bug?**
On a windows machine run the following command
`./gradlew.bat test --tests org.opensearch.security.IntegrationTests.testSpecialUsernames`

[2022-10-26 02:13] peternied opened #2195 "OpenSSL engine support is broken"
The following settings were used to enable the use of OpenSSL in JDK11 runtime.  After investigating this is not working at all and OpenSSL has been broken for an indeterminate amount of time.
[code]

After quickly probing the forums I see years old posts with no resolution:
- https://forum.opensearch.org/t/using-plugin-with-netty-tcnative-boringssl-static/950
- https://forum.opensearch.org/t/open

[2022-10-26 13:29] vinylen commented on #2182
@cliu123

This is an upgrade from OpenSearch 1.2.4 and OpenSearch-Dashboard 1.2.0.

Yes this was a rolling upgrade. So the nodes have already been upgraded to 2.3.0. Would rebooting each node have a similar effect? We would rather not bring the whole cluster down if it can be avoidable.

[2022-10-26 18:30] #1573 closed

[2022-10-26 18:56] scrawfor99 commented on #2160
Copied from dashboards version since it is the same tasks:

Task Update: Contacted PIT asking if there was anything they needed finalized before the freeze; reviewed all tasks; everything is labeled v2.4.0 (already done).

[2022-10-26 19:18] scrawfor99 commented on #2160
Update: Went through tagged v2.4.0 issues on the main repo and checked in with anyone who looked like they may brush up with us to see if they need anything. Was just https://github.com/opensearch-project/OpenSearch/pull/4764 and then Windows CI https://github.com/opensearch-project/OpenSearch/issues/1448 that I saw.

[2022-10-26 19:20] peternied opened #2201 "Documentation"

[2022-10-26 22:41] cwperks commented on #2148
@peterzhuamazon @bbarani The script for the batch file of `install_demo_configuration.bat` is written and verified using multiple workspaces and automated with a `windows-latest` github runner against 2.x. There is currently a problem with the automated validation on 3.0.0 which is being resolved. See comment here (https://github.com/opensearch-project/security/pull/2161#issuecomment-1290602057) f

[2022-10-27 01:00] ronniepg commented on #2168
@cliu123 yes as noted in https://forum.opensearch.org/t/rolling-upgrade-from-version-1-x-to-2-2-1-does-not-work/11042 the full cluster restart approach works fine.

[2022-10-27 17:43] minalsha commented on #2148
@cwperks https://github.com/opensearch-project/OpenSearch/pull/4949 has been merged.

[2022-10-27 18:12] cwperks commented on #2148
Thank you @minalsha and @peterzhuamazon ! Would it be possible to create another snapshot distribution with this change included: https://github.com/opensearch-project/security/pull/2161/files#diff-3e971aab38c741b1cb89584068ce23192213a18b1ecc885ac7b450bf5a5bb86eR89

[2022-10-27 19:43] peterzhuamazon commented on #2148
Hi @cwperks Im working on that right now might take some time.
Thanks.

[2022-10-27 19:44] peterzhuamazon commented on #2148
Ignore my last comment it is quicker than I think:
https://build.ci.opensearch.org/job/distribution-build-opensearch/6322/console

[2022-10-27 19:58] cwperks commented on #2148
The most recent windows plugin-install new CI step has completed successfully with the new snapshot build! https://github.com/opensearch-project/security/actions/runs/3340448709/jobs/5530552763

[2022-10-27 22:00] aoguan1990 opened #2202 "[BUG]SAML Authentication can not be enabled with Anonymous"
**What is the bug?**
A clear and concise description of the bug.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Enable the following feature flag in opensearch_dashboards.yml
`opensearch_security.auth.type: 'saml'`
`opensearch_security.auth.anonymous_auth_enabled: true`
2. Go to OpenSearch Dashboards: http://localhost:5601/
3. Got Internal Exception:
![image](https://user-

[2022-10-28 06:33] devardee commented on #1717
@peternied this issue can be closed. The plugin does support signing SAML requests

https://opendistro.github.io/for-elasticsearch-docs/docs/security/configuration/saml/#request-signing

[2022-10-28 14:26] scrawfor99 commented on #2195
I think it makes sense to deprecate a feature if the feature is only used on a deprecated platform. That being said, the question of who is using OpenSSL may be hard fro this specific GitHub community to answer.

I would suspect that those using OpenSSL in other ways would be more likely to include it in any OpenSearch implementations they operated. Apparently up to 4000+ companies have reported u

[2022-10-28 16:18] j10ra opened #2204 "Access opensearch-security API in custom plugins?"
Hello Team,

I’m trying to create a custom plugin in opensearch-dashboard. Is there away I call opensearch-security api within my custom plugin?

eg: fetch('_plugins/_security/api/account)

I need to check if current loggedin user has an “all_access” role and perform some operations (ui or serverside) or if there is a way I can tap into opensearch-security within my custom plugin?

opensearch-dash

[2022-10-28 16:37] scrawfor99 commented on #2194
So I have some news on this issue:

I took several steps to try to determine the most likely cause and believe I have narrowed it down.

Right now, the integration test for the special usernames functions perfectly fine on-non special usernames for any internal users in the internal_users yaml file. This suggests that the issue is not a universal encoding error but instead an issue arising from th

[2022-10-28 16:38] scrawfor99 commented on #2194
I also do not know why we have two internal_users ymls and would reccomend we remove one.

[2022-10-28 16:53] peternied commented on #2194
@scrawfor99  Setting aside the integrations tests cases, can you manually reproduce the issue with a `internal_users.yml` bootstrapped cluster?

Separately did you see that in base window OpenSearch (no security plugin), if you modify the config's `cluster.name` value to `§ÄÖÜäöüß`, when you call the information endpoint at `/` it comes back without being malformed, like below?  [1]

[code]

[1] h

[2022-10-28 18:01] peternied commented on #1717
@devardee Thanks for looking at this issue, I did not see documentation saying why this feature should not be supported, did I miss something?

However being that its support its called out, it seems like this issue could be transitioned from a bug to a feature request instead.

[2022-10-28 18:38] scrawfor99 commented on #2194
In response to the second question, the cluster.name does come back correctly formatted when you query the address even when there are special characters.

[2022-10-31 06:54] devardee commented on #1717
@peternied the feature requested in the issue is already supported by the plugin. However, the AWS Managed Opensearch Service does not provide this feature.

[2022-10-31 08:07] devardee commented on #2202
I guess that happens because in OSD security plugin, when SAML authentication beings it will get the [SAML request](https://github.com/opensearch-project/security-dashboards-plugin/blob/main/server/auth/types/saml/routes.ts#L67) (challenge) by hitting the `authinfo` api which will return anonymous user when anonymous auth is enabled. One way to force SAML challenge on unauthenticated requests is t

[2022-10-31 14:21] scrawfor99 commented on #2193
@peternied for this issue did you only see errors during the Mac and Window launch? I am looking at it but have not gotten the test to fail yet.

[2022-10-31 16:48] cwperks commented on #2195
As far as I can tell, these tests are not working properly as it is. See the output of ` OpenSSLTest.testHttpsAndNodeSSLKeyPass` below:

[code]

This test isn't even using OpenSSL as the ssl provider and I'm not sure when that stopped being the case. These 2 PRs may be related: https://github.com/opensearch-project/security/pull/422 and https://github.com/opensearch-project/security/pull/1649

I b

[2022-10-31 16:56] cwperks commented on #2195
Note: According to this issue on Cassandra (https://issues.apache.org/jira/browse/CASSANDRA-10735) OpenSSL can provide performance improvements on the JDK SSL provider. It may be worth it to look into this further and see what it takes to support OpenSSL.

[2022-10-31 17:11] peternied opened #2207 "[FEATURE] Migrate Plugin install into an GitHub action"
**Is your feature request related to a problem?**
The plugin-install workflow user to separate paths to configure and run OpenSearch from the min build.  This would be really useful if it was reusable for this codebase as well as others.  Being that we are thinking more multiplatform this is also an opportunity where we should could invest in combining these workflows.

**What solution would you l

[2022-10-31 17:11] peternied commented on #2207
FYI @scrawfor99 we talked about this offline to support the dashboard integration test workflows on linux/windows/mac

[2022-10-31 17:12] peternied commented on #2207
Note; I think this action could be made more generic so it was usable by all plugin teams, but it might be good to start building it here before sharing it out to all the other plugins via opensearch-build or another repo

[2022-10-31 17:25] peternied commented on #2195
Sounds like the OpenSSL tests do not verify its functionality 🤯  I am going to rewrite this issue as "OpenSSL does not work" Help wanted, and we can triage this afternoon.

[2022-10-31 17:28] cwperks opened #2208 "[BUG] OpenSSLTest is not using the OpenSSL Provider"
OpenSSLTest is a subclass of SSLTest and ensures that the OpenSSL Provider from netty tcnative can be used to provide SSL for the cluster.  See the output of `OpenSSLTest.testHttpsAndNodeSSLKeyPass` below and see that the test is actually using the JDK SSL provider:

[code]

These 2 PRs may be related: https://github.com/opensearch-project/security/pull/422 and https://github.com/opensearch-projec

[2022-10-31 17:33] cwperks commented on #2195
@peternied I just created an issue ;)

https://github.com/opensearch-project/security/issues/2195

[2022-10-31 17:35] peternied commented on #2195
Note; this is not a platform support issue, as it does not work on any platforms!

[2022-10-31 18:41] DarshitChanpura opened #2209 "RCA: Varied CI Build performance for MacOS, Windows and Ubuntu"
Build times:

Ubuntu (Fastest)             |  Windows              |  MacOS (slowest)
:-------------------------:|:-------------------------:|:-------------------------:
<img width="1116" alt="Screen Shot 2022-10-31 at 1 42 26 PM" src="https://user-images.githubusercontent.com/35282393/199073943-70ce28ee-a0c3-4340-9062-01ca0a3082e8.png"> | <img width="1116" alt="Screen Shot 2022-10-31 at 1 42 31 P

[2022-10-31 18:43] peternied commented on #2209
Maybe we could try using larger runners for the windows instance, `windows-latest-8-cores`? [1]

[1] https://github.blog/changelog/2022-10-20-github-actions-larger-hosted-runners-are-now-automatically-created-for-customers/

[2022-10-31 19:13] cwperks commented on #2195
[Triage] @krisfreedain Could you please look at see if any users have been asking about this in the forums or on Github.

[2022-10-31 19:15] cwperks commented on #2202
@opensearch-project/transfer-request Please move this to `security-dashboards-plugin`

[2022-10-31 19:16] cwperks commented on #2202
[Triage] @cliu123 Please follow-up on this issue.

[2022-10-31 19:22] cliu123 commented on #2202
@aoguan1990 Is this a regression caused by multi-auth? If not, we can fix it separately.

[2022-10-31 19:28] cwperks commented on #2208
[Triage] @reta Looks like the OpenSSL feature is not currently working and the tests do not capture this. Would you mind taking a look?

[2022-10-31 19:33] aoguan1990 commented on #2202
@cliu123 This is an existing issue with SAML. Multi-auth did not change any implementation for SAML authentication.  Multi-auth also does not support SAML and Anonymous to be enabled at the same time, which is signed off by PM. As per discussion with developer from Search Guard during the training, Anonymous with SAML is not implemented. Use this issue to keep track of the enhancement.

[2022-10-31 19:36] cwperks commented on #2195
[Triage] @peternied Can you file an issue on the documentation website with affected versions?

[2022-10-31 19:39] aoguan1990 commented on #2202
-

SAML authentication logic is implemented by backend security plugin. So this issue should be tracked under /security repo.

[2022-10-31 19:59] cwperks commented on #2148
Closing this ticket since the Batch script is merged. I will file a new issue with the `plugin-install.yml` github action to run the opensearch node as a user other than administrator.

[2022-10-31 19:59] #2148 closed

[2022-10-31 20:04] #1717 closed

[2022-10-31 21:21] peternied commented on #2202
@aoguan1990 OpenSearch Project's own https://build.ci.opensearch.org/ uses Anonymous + SAML authentication for its Jenkins instance. Do you have a link to where decision was documented or @mention the person behind the decision?

Even if we don't support the scenario we, we should make sure its documented and include appropriate in-product blocks to prevent the configuration from being set.

[2022-10-31 22:07] peternied commented on #2195
Last change in this space was during the 1.3 build on Mar 17, 2022.  After consulting previous CI logs from https://github.com/opensearch-project/security/actions/runs/3200296006  which was built on 1.3.7, it only shows ssl_provider_transport_server defined as 'JDK'.  Its been broken since at least then, if not longer.

I found two issues in the forum seems like this feature has been hard to use f

[2022-10-31 22:07] peternied commented on #2195
@nibix Do you have context on the impact of this feature being broken?

[2022-11-01 08:52] nibix commented on #2195
Maybe, I can give some history:

OpenSSL support originally built because the TLS support that came with the JRE was lacking in regards of performance and modern cipher suites. Java 11, however, brought a fundamentally improved TLS support which fixed the performance and cipher suite issues. Thus OpenSSL support lost its significant advantage while keeping significant disadvantages: Hard to config

[2022-11-01 15:19] albgus opened #2213 "[BUG] OpenSearchException: Transport client authentication no longer supported"
**What is the bug?**
When starting an OpenSearch cluster from the Helm chart and attempting the nodes start, but are throwing an exception because they're apparently not allowed to communicate.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Follow the OpenSeach Helm installation guide: https://opensearch.org/docs/latest/opensearch/install/helm/
2. Go through the undocument

[2022-11-01 15:32] albgus commented on #1755
So this functionality will simply be removed and there will not be possible to generate password hashes for the internal users in the future? Or have you just added this warning to the production build to confuse anyone who wants to use your product?

[2022-11-01 15:58] olddanmer commented on #1392
The same error in ver 2.3.0
opendistro_security.audit.ignore_users works well

[2022-11-01 17:49] amitgilad3 opened #2214 "Enable opensearch auth type proxy on aws opensearch"
HI, i was wondering if its possible to enable proxy based auth on aws opensearch and if so can somebody point me in the right direction.

Thanks

[2022-11-01 18:23] cwperks opened #2215 "Opensearch node runs as Administrator for window-install in plugin install Github Action"
**What is the bug?**

Commands inside a windows runner for a Github Action run as Administrator. The new `windows-install` job  in `plugin_install.yml` (https://github.com/opensearch-project/security/blob/main/.github/workflows/plugin_install.yml) needs to be able to start a node as a user without elevated permissions since Opensearch has restrictions on being able to startup a node as the root ac

[2022-11-01 20:20] scrawfor99 commented on #2207
To start things off I have been working on creating a more streamlined workflow for the plugin install. My plan is to get it working on both JDK versions for all three OS' and then I will start splitting out steps in actions and files for drop-in functionality along the lines of the prototype you linked. For a preview checkout https://github.com/scrawfor99/security/tree/CombinedInstallWorkflows

[2022-11-01 20:51] cwperks opened #2216 "LDAP[Authentication/Authorization]Backend2 does not support all configuration settings as LDAP Backend v1"
Security plugin has 2 different LDAP backends: `ldap` and `ldap2`. The backend is used to configure an LDAP-compliant directory service as the Authentication and Authorization backend for opensearch.

It was recently discovered that `ldap2` is undocumented on the documentation website and has functionality that Ldap[Authentication/Authorization]Backend does not have such as connection pooling. See

[2022-11-02 14:47] scrawfor99 commented on #2207
Update 2: Still working on streamlining the workflow and adding macOS install. Because the GHA macOS runner does not come with docker (Linux does) we cannot simply reuse the Linux commands so I am having to write a new workflow similar to the Windows install.

[2022-11-02 15:56] #2194 closed

[2022-11-02 16:53] peternied commented on #2214
Thanks for reaching out, try looking on https://opensearch.org/docs/latest/security-plugin/configuration/proxy/, if that does not work please use https://forum.opensearch.org/c/security/3 for support.

[2022-11-02 16:53] #2214 closed

[2022-11-02 17:15] peternied commented on #2207
Maybe for now we just thrown an error if the OS is mac?  OpenSearch doesn't yet support the mac platform so there are no guarentees it will work or we could get support to get it running.

[2022-11-02 19:03] scrawfor99 commented on #2207
Update 3: This (https://github.com/scrawfor99/security/tree/CombinedInstallWorkflows) is a refactoring of the plugin_install.yml that I made before. This version has a streamlined workflow with Linux and Windows environments being supported. The MacOS code is there but you cannot use it as it does not work yet so I removed any calls to it.
From this code I will create an actions suite for installi

[2022-11-02 19:04] cwperks opened #2221 "BWC Tests are failing on main"
See a recent example of BWC test failure here: https://github.com/opensearch-project/security/actions/runs/3372773855/jobs/5611052811

This is blocking multiple PRs.

[code]

I will add more information to the issue as its discovered.

[2022-11-02 20:58] cwperks commented on #2221
Could be a transient issue until new artifacts are available. The latest distribution build is not available: https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/2.4.0/6385/linux/x64/tar/builds/opensearch/plugins/opensearch-security-2.4.0.0.zip (Access denied at the time of this writing)

[2022-11-02 21:14] scrawfor99 commented on #2207
Update 4: I further cleaned up some of the install logic and then added the basic setup for the action-ification of a generic plugin install process (https://github.com/scrawfor99/security/tree/ActionfiedWorkflows) . I next need to look at the way actions work and decided whether it is best to have the user assemble the plugin beforehand and provide it built in the repo or whether we want to have

[2022-11-02 21:24] reta commented on #2195
@cwperks @peternied some findinds with regards to OpenSSL support by `netty` (found out while working on https://github.com/opensearch-project/security/issues/2208):
 - `netty-tcnative` brings OpenSSL support to limited set of plaforms (https://netty.io/wiki/forked-tomcat-native.html) and is a required dependecy
 - `netty-tcnative` needs OpenSSL 1.0.x and does not work with OpenSSL 1.1.x (https://

[2022-11-02 21:29] peternied commented on #2195
@reta Thanks for checking in.  I'm of the opinion that we should not work any more on this issue and update the documentation site.  I say we don't invest more time into OpenSSL until we find someone(s) that have good reason not to use the JDK's SSL Engine and OpenSSL is a good fit.

I'm going to re-add the `untriaged` tag so we have another discussion about this issue on Monday with the maintaine

[2022-11-02 21:42] peternied commented on #2221
Can you file a bug on the OpenSearch-build repository, those URLs should always have a healthy target AFAIK.  If we are using the incorrect URL we should change it so we keep our main builds stable

[2022-11-02 22:12] peternied commented on #2160
Still waiting on confirmation that the following PR should be backported into 2.x/2.4 coming right up to feature freeze.

https://github.com/opensearch-project/security/pull/2094

[2022-11-02 22:48] peternied commented on #2207
Just took a peek at the plugin-install.yml [1] this is great work.  Absolutely on the right track!

[1] https://github.com/scrawfor99/security/blob/ActionfiedWorkflows/.github/workflows/plugin_install.yml

[2022-11-03 08:52] BugMaster510945 opened #2226 "[FEATURE] Perpetuate Skip_users behaviour from ldap2 Backend"
In my company, I use as auth backend:
* Internal users
* OIDC Users (based on ldap with Dex)
* Ldap User

With this congifuration, I'm able to handle:
* Production connection without tierce party (thanks to internal users)
* Web-User facing with an SSO OIDC
* Human admin actions with direct LDAP credentials

As you understand, I've same LDAP behind opensearch and Dex, so, same users with same perm

[2022-11-03 13:45] scrawfor99 commented on #2207
Thank you :). I also am hoping that when we add MacOS this will make doing so pretty straightforward.

[2022-11-03 14:29] saikaranam-amazon opened #2228 "[BUG] Errors/Broken operations during rolling upgrade of clusters from 1.3 to 2.0"
**What is the bug?**
Errors/Broken search results during rolling upgrade of clusters from 1.3 to 2.0

**How can one reproduce the bug?**
1. Create 1.3 cluster with atleast 2 nodes
2. Create index with 2 primaries to allocate atleast one primary per node.
3. Upgrade one of the node to 2.0 OS version.
4. Invoke search query to invoke search on all the shards from 1.3 node.
5. See that there are fail

[2022-11-03 14:35] saikaranam-amazon commented on #2228
Upon investigation,
- The issue is first seen on https://github.com/opensearch-project/security/issues/1259 and the code was reverted on 2.0 due to this https://github.com/opensearch-project/security/issues/1653
- But during the rolling upgrade, requests initiated from the co-ordinator node with 1.3 OS version fails to fetch the docs on the shards hosted on 2.0 version nodes with the above failure

[2022-11-03 14:37] krishna-ggk commented on #2228
Looks like this was just discovered few days back - https://github.com/opensearch-project/security/issues/2168

[2022-11-03 15:29] peternied opened #2229 "[BUG] Intermittent test failure `RestApiComplianceAuditlogTest.testAutoInit`"
**What is the bug?**
Seeing intermittent test failures from `org.opensearch.security.auditlog.compliance.RestApiComplianceAuditlogTest.testAutoInit` [1]  The test passed on 5 of 6 platform/jdk combinations.

**How can one reproduce the bug?**
Unclear how to reproduce the bug, consult https://github.com/opensearch-project/security/actions/runs/3381396002/jobs/5615256769 for detailed failure informa

[2022-11-03 15:35] peternied opened #2230 "[BUG] Intermittent test failure `SlowIntegrationTests.testDelayInSecurityIndexInitialization`"
**What is the bug?**
Seeing intermittent test failures from `org.opensearch.security.SlowIntegrationTests.testDelayInSecurityIndexInitialization` [1]  The test passed on 5 of 6 platform/jdk combinations.

**How can one reproduce the bug?**
Unclear how to reproduce the bug, consult the build output for detailed failure information.

**What is the expected behavior?**
Tests should only fail when an

[2022-11-03 15:54] scrawfor99 commented on #2228
Hi @saikaranam-amazon are you also running the tarball installation? Thank you.

[2022-11-03 16:21] cwperks commented on #2221
`securityBwcCluster0` is the node (1 out of 3) that is upgraded in the `mixedClusterTask` and the node is failing to connect to the cluster.

[2022-11-03 17:00] saikaranam-amazon commented on #2228
@scrawfor99 - Tested using docker containers with one node on 1.3 and other on 2.0 OS versions.
- Should be seen using tarball installation as well.

[2022-11-03 17:55] dbwiddis commented on #2215
Solution: https://github.com/opensearch-project/OpenSearch/issues/4942#issuecomment-1301733503

[2022-11-03 17:55] cwperks commented on #2221
I don't think this is related to any change on the `security` repo. I created a branch and went back to a commit where BWC tests were working and now they are reported to be failing.

[2022-11-03 19:02] cwperks commented on #2221
@VachaShah The `security` repo's `bwcTests` started failing yesterday and I am trying to determine why and how to get the check working as a number of PRs are affected. On commits that `bwcTests` worked on previously, the check is now failing so it looks like the check is failing due to a change outside of this repo. Do you have any ideas why the `bwcTests` started failing? The failing task is `mi

[2022-11-03 19:30] scrawfor99 commented on #2207
Update 5: Today is mostly being spent looking at the rolling upgrade issue. That being said, checkout out the linked repo above should show a cleared plugin_install with the steps migrated to an action file which will then be called as the third step.

[2022-11-03 19:33] scrawfor99 commented on #2228
You ran the containers separately or with a compose file?  I do not know if it matters but I am trying to pinpoint the cause of the issue as well as what starts are impacted. The original discussion seemed to suggest that maybe Kubernetes install was not impacted.

[2022-11-03 19:47] peternied commented on #2228
Looks like we have two issues are tracking the same problem:
- https://github.com/opensearch-project/security/issues/2221
- https://github.com/opensearch-project/security/issues/2228

[2022-11-03 19:47] peternied commented on #2221
Looks like we have two issues are tracking the same problem:
- https://github.com/opensearch-project/security/issues/2221
- https://github.com/opensearch-project/security/issues/2228

[2022-11-03 20:12] scrawfor99 commented on #2228
I am posting some curl requests for easy reuse--I am not sure the best way of working on diagnosing the route cause so have been trying to reproduce the steps to get the error. I do not know if these are useful to anyone else if not you can ignore them:

Create new index with two primary: curl -X PUT --insecure -u 'admin:admin'  'https://localhost:9200/sample-index1' -H 'Content-Type: application/

[2022-11-03 21:06] cliu123 commented on #2228
They are different issues. BWC failures(#2221) fails on upgrading from 2.4.0 to 3.0.0, which is new. This issue is about failing rolling upgrade from 1.x to 2.x.

[2022-11-03 21:18] scrawfor99 commented on #2228
This appears to be the commit that introduced the version update system: https://github.com/opensearch-project/security/pull/454

[2022-11-03 21:40] peternied opened #2232 "Update BWC tests to operate on Windows"
Backwards compatibility workflow [1] needs to be updated to run on windows and ubuntu.

[1] https://github.com/opensearch-project/security/blob/main/.github/workflows/ci.yml#L86

[2022-11-03 21:41] peternied commented on #1474
BWC tests are not running on windows, added a new task and reopenning

[2022-11-04 13:50] scrawfor99 commented on #2160
I can't check the boxes but I did the manifest.

[2022-11-04 14:42] scrawfor99 commented on #2228
Update: Looking further it seems like the swap from 1.3 to 2.0 that introduced the naming convention change form openDistro to OpenSearch is likely causing the search which starts on the 1.3 node to then throw a class not found exception on the 2.0 node since opendistroforeleasticsearch.security.user.User became opensearch.security.user.User. So I think that it starts on the 1.3 node, operates sea

[2022-11-04 14:53] peternied commented on #2160
The autocut increment PR [1] won't work without some manual intervention, @scrawfor99 can you take a look at the previous version update [2] and make a pull request base of create-pull-request/2.5.0-SNAPSHOT onto the 2.x branch?

[1] https://github.com/opensearch-project/security/pull/2210
[2] https://github.com/opensearch-project/security/pull/2084/files

[2022-11-04 15:05] peternied opened #2235 "[Branch Protection] Re-enable Require 'backward-compatibility`"
For the `main` branch backward compatibility tests have been disabled while the following issues are unresolved

- https://github.com/opensearch-project/security/issues/2221

Once this issues have been resolved the branch protection requirements should be restored to normal

[2022-11-04 15:23] peternied commented on #2221
@cwperks Seems like something changed in OpenSearch causing this failure - can you create an issue in that repo to get traction?

[2022-11-04 15:28] peternied commented on #2232
Note - this is not required for the 2.4 release because there is not backward combability requirements for Windows since we never released that platform before

[2022-11-04 15:32] cwperks commented on #2221
@peternied Filed an issue in core with the information I currently have: https://github.com/opensearch-project/security/issues/2221

[2022-11-04 16:57] cwperks commented on #2228
@krishna-ggk Here's some findings from a cursory look at this issue:

Codepath from ODFE to OS 2.x is not supported due to an issue with JDK 17 and illegal reflective access. See relevant PR here: https://github.com/opensearch-project/security/pull/1691.

setiah goes in length on the issue here: https://github.com/opensearch-project/security/issues/1653#issuecomment-1055818575 and vrozov mentions

[2022-11-04 17:16] scrawfor99 commented on #2207
Update 6:

Run curl https://localhost:9200 -u 'admin:admin' -k -v
  curl https://localhost:9200 -u 'admin:admin' -k -v
  shell: /usr/bin/bash --noprofile --norc -e -o pipefail {0}
  env:
    JAVA_HOME_17.0.5_x64: /opt/hostedtoolcache/jdk/17.0.5/x64
    JAVA_HOME: /opt/hostedtoolcache/jdk/17.0.5/x64
    JAVA_HOME_17_0_5_X64: /opt/hostedtoolcache/jdk/17.0.5/x64
*   Trying 127.0.0.1:9200...
  % Total

[2022-11-04 18:26] peternied commented on #2207
It seems as if as it seems like it was attempting to use TLSv1.3 and the output could not be decoded both weird and bad!  A couple steps that you could take to figure it out,
1. Retry the workflow - it might have been a network blip?
2. I'd recommend disabling `fast-fail` so you get as many test results as possible maybe its only a jdk11 thing?
3. Try printing out the curl version before using the

[2022-11-07 14:27] krishna-ggk commented on #2228
@cwperks Thanks for bringing focus on this and the same applies to OS 1.x to OS 2.x upgrades too now. It appears that any reflective based solution is then ruled out.

[2022-11-07 15:20] cwperks commented on #2228
@krishna-ggk We may be able to conditionally apply the ODFE re-write logic depending on the mixture of nodes in the cluster.

ClusterInfoHolder (https://github.com/opensearch-project/security/blob/1.3/src/main/java/org/opensearch/security/configuration/ClusterInfoHolder.java#L86) has a mechanism for determining node versions within the cluster and it appears the logic to serialize the user object

[2022-11-07 19:38] cliu123 commented on #2228
The other potential solution is to avoid reflection to avoid the illegal reflective access with JDK 17.

[2022-11-07 19:38] cliu123 commented on #2228
The other potential solution is to avoid reflection to avoid the illegal reflective access with JDK 17 if possible.

[2022-11-07 20:16] cwperks commented on #2220
[Triage] Updating the name of this issue to `Search on Pattern-based field masking fields`. @scrawfor99 would you please take a look into this issue?

[2022-11-07 20:23] cwperks commented on #2195
[Triage] @peternied after discussion in Triage with @reta we are planning to remove the OpenSSL-related code as this feature has been broken for a while.

[2022-11-07 20:25] cwperks commented on #2215
[Triage] @scrawfor99 Can you please provide an update?

[2022-11-07 20:30] cwperks commented on #2221
[Triage] Closing this issue. The automation that broke when creating the next version manifest can be tracked here: https://github.com/opensearch-project/OpenSearch/issues/5091

[2022-11-07 20:33] cwperks commented on #2226
[Triage] @BugMaster510945 Thank you for filing an issue. We would gladly accept a PR for this issue.

See related issue of differences in LDAP backends here: https://github.com/opensearch-project/security/issues/2216

[2022-11-07 20:44] cwperks commented on #2235
[Triage] @peternied Please close this issue once BWC Test failure has been resolved and branch protection re-applied.

Can we also remove the second item on the list as it is unrelated?

[2022-11-08 00:42] bowenlan-amzn opened #2257 "Improve the security permission check in cat indices (_cat/indices) API"
**Is your feature request related to a problem? Please describe.**

Today, to be able to call [`_cat/indices`](https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/rest/action/cat/RestIndicesAction.java) successfully, you need to have a permission at least with these permissions:
[code]
If the index_patterns is not set to `"*"` but `"log-*"`, `_cat/indices

[2022-11-08 18:56] peternied commented on #2221
Reopening, this is still broken [1] on a build from 17 minutes ago, until this is fixed in main we should keep this issue open.

[1] https://github.com/opensearch-project/security/actions/runs/3422233118/jobs/5699382046

[2022-11-08 20:43] peternied commented on #2228
@cwperks @cliu123 is one of you working on this issue, I don't see an assignment and this seems like a candidate for 2.4.0 - is that correct?

FYI @scrawfor99 since you are driving the 2.4.0 release

[2022-11-08 20:50] scrawfor99 commented on #2228
My understanding of this issue is that it is being worked on but at the same time there is unlikely to be a trivial solution. I do not know that a fix for 2.4.0 is necessarily in the making so much as an early patch should the solution be as complicated as it appears. Correct me if I am wrong @cliu123 @cwperks

[2022-11-08 20:54] peternied commented on #2221
@DarshitChanpura Were you looking into this issue/related issues?

[2022-11-08 21:54] DarshitChanpura commented on #2221
Following up with the team: https://github.com/opensearch-project/opensearch-build/issues/2868

[2022-11-08 22:37] scrawfor99 commented on #2207
Update 6: I spent the day working on the refactoring requested by @peternied a half-working version is present on the linked PR and a full process can be seen over at the commit history of https://github.com/scrawfor99/security/tree/LoweredPermissionsInstall.

I also started creating a side-by-side run action for Opensearch and Dashboards. That can be found at https://github.com/scrawfor99/securit

[2022-11-08 23:56] peternied commented on #2228
I'll be looking into this issue.  Looks like the problem we are running into is related to this code:

https://github.com/opensearch-project/security/blob/672f4d7c30ca1f33df7ac71dc75bb8bb5f2a1616/src/main/java/org/opensearch/security/auditlog/impl/AbstractAuditLog.java#L592-L598

Audit logs get passed around, and we are seeing this issue with interop between 1.3 and 2.X because the thread context

[2022-11-09 14:23] mend-for-github-com[bot] opened #2248 "CVE-2022-42920 (High) detected in bcel-6.5.0.jar"
## CVE-2022-42920 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bcel-6.5.0.jar</b></p></summary>

<p>Apache Commons Bytecode Engineering Library</p>
<p>Library home page: <a href="https://commons.apache.org/proper/commons-bcel">https://commons.apache.org/proper/c

[2022-11-09 17:21] krishna-ggk commented on #2228
Thanks @peternied. One question - while I understand that the current failure was for an instance of `User`, should we be worried about encountering deserialization failures for instances of other security context classes?

[2022-11-09 17:42] peternied commented on #2228
@krishna-ggk You are correct to worry that there might be other sources of failure.  We are at the initial steps of this investigation and we will need an automated way to validate the cluster before.

[2022-11-09 21:01] peternied opened #2250 "[BUG] Backward compatibility tests do not execute test cases"
**What is the bug?**
If you run the bwc test workflow on your own computer following along from the ci.yml [1] on your local machine the clusters are setup, but the test files are never executed.

**What is the expected behavior?**
The SecurityBackwardsCompatibilityIT [2] tests should be executed against all the different cluster configurations and pass / fail as planned

**Do you have any additio

[2022-11-09 21:18] scrawfor99 commented on #2207
Update 7: https://github.com/opensearch-project/security/pull/2239/files#diff-8518d56d53ee081f6bbcd0a88a46182f8089f57be5dab4360ee71a808e9963abR100 seems ready for final touches and merge. I have also created a branch of OS core and OS dashboards just for working on the dashboards actions. Currently implemented 2 actions on https://github.com/scrawfor99/OpenSearch-Dashboards/tree/DashboardsSetupAct

[2022-11-09 21:48] scrawfor99 opened #2251 "[FEATURE] Add opensearch.log output to the Windows GHA workflow"
**Is your feature request related to a problem?**
Currently I could not figure out how to print the opensearch.log info when running the plugin_install workflow using the new GitHub Actions.

It would be nice if we could output this information but the file is empty even though OS is clearly running.

**What solution would you like?**
Cat the log output to the console during the action process.

*

[2022-11-09 21:56] scrawfor99 opened #2252 "[FEATURE] During OpenSearch service starting for GHA workflow be able to supply script/config modification"
**Is your feature request related to a problem?**
It was brought to my attention by @cwperks that it would be nice if the settings contained in our startup scripts i.e. `install_demo_configuration`  could be added directly to the `opensearch.yml`  file. This would then allow for the various workflows and GitHub Actions to not require that users specify a path to the demo configurations for their p

[2022-11-09 23:57] cliu123 commented on #2228
This is not going to be a part of 2.4.0. I've removed the 2.4.0 lable.

[2022-11-10 20:04] jmazanec15 opened #2256 "[Question] Requirements for plugin onboarding"
When a plugin included in distribution onboards a new API, are there any requirements/expectations it has to fulfill with respect to security.

For instance, is it a requirement to follow https://github.com/opensearch-project/security#onboarding-new-apis and set up roles for the plugin?

If there are no requirements/expectations, should there be?

[2022-11-10 20:40] peternied commented on #2256
When a user attempts to make an API call with security enable the task name, such as `cluster:admin/plugins/replication/autofollow/update` are checked for permissions.  If the user does not have this permissions grant to them the request will be blocked.

If a new API is added it will automatically be blocked by the security plugins default configuration.  Many plugins should document how to add s

[2022-11-10 20:58] jmazanec15 commented on #2256
Question is more general - I am not asking about specific APIs.

Right, I am asking more about alignment amongst plugins in the distribution. I see a lot of plugins have already added roles here: https://github.com/opensearch-project/security/blob/main/config/roles.yml - I am wondering if this should be a standardization - maybe more of a question for @jimishs and @shanilpa. Maybe put another way,

[2022-11-11 03:06] hoilc commented on #2040
😂 We are faced with the same issue. ID token is really not enough.

[2022-11-11 10:35] OldSchooled commented on #375
@dinusX , @davidlago, @debjanibnrj, @zengyan-amazon

This is such a pressing issue for us that the organization I work for is interested in attempting to resolve this problem ourselves by contributing to this repository. Would you be able to shortcut our effort by helping us identify the code in question and possibly sharing any general ideas for a solution you may have come up with?

Also, I'd li

[2022-11-11 15:43] cwperks commented on #2256
Hey @jmazanec15, this is a good question. I am now seeing instances where roles reference actions that are not contained in `security-dashboards-plugin` [here](https://github.com/opensearch-project/security-dashboards-plugin/blob/main/public/apps/configuration/constants.tsx), which means that a user is not able to create a custom role that permits the individual action.

See example [role](https:/

[2022-11-14 19:10] cwperks commented on #2114
I was able to replicate this on a 2 node cluster and noticed that 1 node logs `GRANTED_PRIVILEGES` while the other logs `MISSING_PRIVILEGES`. To replicate this I had to modify the default `audit.yml` section from:

[code]

to

[code]

![localhost_5601_app_discover](https://user-images.githubusercontent.com/17432265/201745260-284c40bf-a82b-4627-b232-ab122004f517.png)

[2022-11-14 19:27] peternied opened #2259 "[Feature] Need to document what kinds of scenarios are bwc tested"
After reviewing the backward compatibility tests there are no security scenarios that are verified.  We should figure out what kinds of capability tests should be conducted between different versions of the Security plugin.  After we know what these scenarios are we should create issues for all of them to be implemented.

Sample scenarios list:
- Users should be able to use basic auth with previou

[2022-11-14 19:52] peternied opened #2260 "[BWC] Backward compability tests should be run periodically to ensure supported upgrade paths"
BWC tests are configured to only run during pull requests, we should have tests run against all supported upgrade scenarios to ensure that nothing non-bwc safe has been introduced, as well as run the most recent versions of all tests.

There should be a GitHub workflow run daily(?) that ensures all BWC scenarios are verified.

[2022-11-14 19:59] peternied commented on #2228
I've created a way to test this scenario and others like it, but haven't been able to look into this bug itself

[2022-11-14 20:14] peternied commented on #2252
[Triage] Thanks for writing up this issue, re-wrote the title to more clearly match the use case.

[2022-11-14 20:18] peternied commented on #2173
[Triage] Its past Nov 1st so we are closing out this issue.

[2022-11-14 20:18] #2173 closed

[2022-11-14 20:48] peternied commented on #2256
[Triage] @cwillum what do you think the documentation for these requirements would look like, is the readme enough or should we have space in the documentation website - if so could you make a follow up issue.

FYI @shanilpa

[2022-11-15 14:57] cwperks commented on #2114
I believe this happens when the first request is sent to a non-cluster admin role. The `TransportRestoreSnapshotAction` extends `TransportClusterManagerNodeAction` meaning that the action should be run on the cluster manager.

Inside of the security plugin the `SnapshotRestoreEvaluator` sets the privilege evaluation to true and continues in the chain if its not on the cluster manager. https://gith

[2022-11-15 20:57] scrawfor99 commented on #2160
@RyanL1997 can you check off:

'Increment the version on the parent branch to the next development iteration.'
'Add this repo to the manifest`

[2022-11-15 23:59] scrawfor99 commented on #2160
The sanity test checkbox can also be marked. @RyanL1997 and I covered it before and @cwperks covered it more recently. I apologize for not being more able to run it myself but I do not know how to get the configuration settings from the sanity test implemented from scratch. I should be able to after tomorrow though. For now the sanity test is covered still and I believe that @peternied has done a

[2022-11-16 11:14] olddanmer opened #2263 "[BUG] java.util.ConcurrentModificationException with plugins.security.cache.ttl_minutes=0"
**What is the bug?**
With option `plugins.security.cache.ttl_minutes: 0` opensearch sometimes raises java.util.ConcurrentModificationException error and logstash get 500 error at that moment.

I use dashboards with OpenID integration, so option `plugins.security.cache.ttl_minutes: 0` is recommended by documentation. Without `plugins.security.cache.ttl_minutes: 0` dashboards doesn't work properly w

[2022-11-16 16:05] peternied commented on #2114
@cwperks Seems like the TransportClusterManagerNodeAction are incorrectly creating audit log entries when they are forwarding requests - does that seem like the nature of the fix for this issue?

[2022-11-16 16:11] cwperks commented on #2114
@peternied I was thinking about modifying the PrivilegesEvaluationResponse to add a `shouldAppendToAuditLog` and then skip this line https://github.com/opensearch-project/security/blob/main/src/main/java/org/opensearch/security/filter/SecurityFilter.java#L310 if set to false. We can make it `true` by default in `PrivilegesEvaluationResponse` and set it to `false` in this block: https://github.com/

[2022-11-16 16:41] peternied opened #2264 "[Meta] Improved Integration Tests Wave One"
Within this project there are now two different models for integration tests.  There are tests that reside under `test` [1] and `integrationTest` [2] are based on principles for test setup and verification.  While there are significant contributions of new tests they are not fully online as part of the pull request workflow.  While this is only the begining of this effort I'd like to capture an en

[2022-11-16 16:42] peternied commented on #2264
FYI @nibix

[2022-11-16 16:48] peternied commented on #2160
Unchecked `Increment the version on the parent branch to the next development iteration.`  This is blocked on https://github.com/opensearch-project/opensearch-build/issues/2868

[2022-11-17 00:29] peternied commented on #2263
Thanks for filing @olddanmer thanks for the great details on this issue.

[2022-11-17 00:37] jmazanec15 opened #2265 "Onboard KNN Plugin features into security"
Related to #2256

We would like to integrate the k-NN plugin functionality with security.

For k-NN, we have several APIs. Listed below are the apis, the roles we want to assign the apis (and there all of the actions) and the actions:
1. SearchModel (role: knn_read_access)
cluster:admin/knn_search_model_action
2. TrainModel (role: knn_full_access)
cluster:admin/knn_training_model_action
cluster:ad

[2022-11-17 14:59] cwperks commented on #2228
@peternied I will look into this today and see if there's a possibility of getting the min node version from the ClusterInfoHolder to conditionally apply the serialization logic that replaces the package name with opendistro package name.

If the min node in the cluster is OS 1, then no need to perform the rewrite logic.

If the min node in the cluster is ODFE, then apply the rewrite logic.

[2022-11-17 15:20] scrawfor99 commented on #2182
Hi @vinylen, thank you for following up. I believe that rebooting each node will only work as a rolling upgrade/restart. So will likely have the same behavior as your have been experiencing. I am going to tag @cwperks to see if he can confirm this as he is someone who knows a lot about these types of intricacies.

Because your issue has not been fully addressed, I am also going to mark it as untri

[2022-11-17 15:58] cwperks commented on #2182
@vinylen The notifications plug-in was added in 2.0 - https://opensearch.org/docs/2.0/breaking-changes. With the addition of the plug-in there are 2 roles associated with the plugin `notifications_full_access` and `notifications_read_access` that can be used to grant privileges.

Are you using `internal_auth` as one of the authentication backends in the `authc` section of `config/opensearch-securi

[2022-11-18 10:13] vinylen commented on #2182
Thank you @cwperks & @scrawfor99.

We seem to be missing these roles:

[code]
[code]

We are using `basic_internal_auth_domain` as referenced by the security tab in opensearch-dashboards. The thing is that we don't have a user called `plugin` either:

[code]

I wonder if we are missing more security roles then. What would be the recommended way to import the latest security roles and keep the exis

[2022-11-18 16:39] cwperks commented on #2182
Hey @vinylen , one option is to use security admin (https://opensearch.org/docs/latest/security-plugin/configuration/security-admin/), but make sure to read the section titled `A word of caution` where it instructs you on how to take a backup of the security index.

I would recommend taking a snapshot of your data as well. Please kind in mind, that if you take a snapshot of all indices (include th

[2022-11-18 19:08] ronniepg commented on #2228
@cwperks This issue will happen even when min node in the cluster is OS 1. As reported in #2168 the cluster was originally setup with OS 1.x and never upgraded from ODFE.

Also attaching the patch which fixed the rolling upgrade.
[#2168-patch.txt](https://github.com/opensearch-project/security/files/10044115/2168-patch.txt)

[2022-11-18 19:15] cwperks commented on #2228
@ronniepg Understood and that's what this PR is targeting: https://github.com/opensearch-project/security/pull/2268

There is logic in 1.3 to keep backwards compatibility with ODFE that will always rewrite package names from `org.opensearch` to `com.amazon.opendistroforelasticsearch` so that when messages are picked up by ODFE nodes that they are able to understand the message. That's a problem wh

[2022-11-18 19:39] ronniepg commented on #2228
Thanks the reference to #2268.  So with this fix, the OS 1.x cluster will need to be upgraded to the latest 1.x version which has this fix before rolling upgrade to 2.x.

The patch which i attached earlier was for OS 2.x. ODFE nodes and OS 1 nodes will still be able to talk to each other since like you mentioned OS 1.3 does both the serialization/deserialization. Once the cluster is fully upgraded

[2022-11-18 19:50] DarshitChanpura commented on #2221
https://github.com/opensearch-project/security/pull/2253 fixes the BWC tests

[2022-11-18 22:01] #2250 closed

[2022-11-18 22:01] #1474 closed

[2022-11-18 22:01] #2232 closed

[2022-11-18 22:49] cwperks commented on #2256
Adding to this discussion, its not clear to me reading the documentation website what the best route to take to add new reserved roles into the security index is. When upgrading between minor versions, there may be new reserved roles added to go with new plugins introduced. See https://github.com/opensearch-project/security/blob/main/config/roles.yml for list of reserved roles. The roles associate

[2022-11-18 23:45] cwillum commented on #2256
@peternied @cwperks @jmazanec15 Just getting a chance to look at this. I'll need to spend some more time going through the information here. But after scratching the surface, my feeling is that we should have these steps on the documentation website. I haven't wrapped my head around it thoroughly. But I can imagine having a generic example of what you need to do to register a new API with the new

[2022-11-21 17:16] scrawfor99 commented on #2252
This issue is resolved with PR #2271

[2022-11-21 17:17] scrawfor99 commented on #2207
This issue is fully resolved with PR #2271

[2022-11-22 13:14] cyrse93 commented on #2010
Hi,

We was facing the same issue but we apply this:

/usr/share/opensearch/plugins/opensearch-security/tools/securityadmin.sh **-f /etc/opensearch/opensearch-security/tenants.yml** -icl -nhnv -cacert /etc/opensearch/root-ca.pem -cert /etc/opensearch/admin.pem -key /etc/opensearch/admin-key.pem --diagnose

It's solved!

[2022-11-22 13:32] mrunichs commented on #2010
Thank you very much for the hint, I will give it a try!

[2022-11-22 14:09] cwperks commented on #2010
Hi @mrunichs, this has been solved since 2.3. There was a bug introduced in the commit you linked to that incorrectly identified the security index as being in the legacy format (Legacy format from ES 6) and skipped over the `tenants.yml` file if it was not explicitly referenced to. Thank you @cyrse93 for providing a workaround to the issue!

This is the change in 2.3 that solves for this issue: h

[2022-11-22 14:24] cwperks commented on #2265
Hi @jmazanec15, I recommend following the same pattern as other recently introduced plugins where the convention is adding new reserved roles in `roles.yml`. See https://github.com/opensearch-project/security/blob/main/config/roles.yml#L259-L286 for recently introduced reserved roles for security analytics in 2.4.0.

If you would like actions to be assignable to custom roles than add the roles tha

[2022-11-22 23:02] DarshitChanpura commented on #2160
Checked it, as the issue was closed and the version was bumped to 2.5.0 via https://github.com/opensearch-project/security/pull/2249

[2022-11-22 23:12] DarshitChanpura commented on #2184
Looks like the retries were added. Can we close this issue @peternied ?

[2022-11-22 23:14] #2221 closed

[2022-11-22 23:25] DarshitChanpura commented on #2230
This issue still persists. Here is latest CI on main, at the time of writing this, https://github.com/opensearch-project/security/actions/runs/3526748585/jobs/5915032714

[2022-11-22 23:43] DarshitChanpura commented on #2235
@peternied @cwperks I've added these 4 branch protection rules to main

backward-compatibility (11, ubuntu-latest)
backward-compatibility (11, windows-latest)
backward-compatibility (17, ubuntu-latest)
backward-compatibility (17, windows-latest)

Feel free to re-open this issue if there is anything else that needs to be changed

[2022-11-22 23:43] #2235 closed

[2022-11-23 16:31] scrawfor99 commented on #2184
@DarshitChanpura I think it is fine to close this since the associated PR was merged.

[2022-11-23 16:31] #2184 closed

[2022-11-23 17:55] jmazanec15 commented on #2265
Thanks @cwperks . I raised PR #2274. Still working on testing changes - but will switch out of draft mode once Im able to do this.

[2022-11-23 20:48] cwperks opened #2276 "[BUG] CI runs with outdated maven jars for core that lead to failing checks"
**What is the bug?**

During a recent dependency upgrade (https://github.com/opensearch-project/security/pull/2269), the WhiteSource security check failed because it identified outdated dependencies in zip output of `./gradlew assemble` for the security plugin. The problem with the check is that it relies on outdated 1.4.0-SNAPSHOT dependency of core which was bringing in the outdated dependency a

[2022-11-23 20:51] scrawfor99 commented on #2276
Excellent. This was a really good idea you had and helps make the suggestions you and  @DarshitChanpura had actionable. What do we want to do moving forward for making sure we do not run into stuff like this?

Should we reach out to the build repository or do we want to write an action that can be called to create updated artifacts?

[2022-11-24 11:22] kkensy commented on #2054
The problem persists in version 2.4

[2022-11-28 14:42] scrawfor99 opened #2278 "[Backport Request] Backport Auditlog Do/Wait Logic to 1.3"
In PR #1758, logic was added for a do/wait model of the auditlog tests. This change improved test success rates by enforcing an order of operations for the various tests. This change would be particularly useful for the flaky 1.3 branch.

Unfortunately, the backport is not straightforward and requires changes to security beyond basic merge conflicts.

**What solution would you like?**
A backport o

[2022-11-28 15:54] peternied commented on #2195
While this issue was discovered during 2.4.0 it isn't slated for a fix in that release.

[2022-11-28 15:55] peternied commented on #2160
@scrawfor99 could you drive the retro and file any issues so we can close this issue out?

[2022-11-28 17:07] scrawfor99 commented on #2160
@peternied will do!

[2022-11-28 20:11] RyanL1997 commented on #2256
@jimishs Could you please follow up this?

[2022-11-28 20:13] RyanL1997 commented on #2263
[Triaged] Thanks for filing this issue. We will take look into it.

[2022-11-28 20:18] RyanL1997 commented on #2265
[Triaged] @jmazanec15 Thanks for filing this. Could you please provide which version you wanna go in with this feature?

[2022-11-28 20:24] RyanL1997 commented on #2276
[Triaged] @cwperks Could you please follow up on this one?

[2022-11-28 20:31] mend-for-github-com[bot] opened #2279 "CVE-2022-41854 (Medium) detected in snakeyaml-1.32.jar - autoclosed"
## CVE-2022-41854 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>snakeyaml-1.32.jar</b></p></summary>

<p>YAML 1.1 parser and emitter for Java</p>
<p>Library home page: <a href="https://bitbucket.org/snakeyaml/snakeyaml">https://bitbucket.org/snakeyaml/snakeyaml

[2022-11-28 20:32] RyanL1997 commented on #2278
[Triaged] @scrawfor99 thanks for filing this and I will help to take a look into this one as well.

[2022-11-28 20:35] RyanL1997 commented on #2278
Closing this one and link this one to (#2023 )

[2022-11-28 20:35] #2278 closed

[2022-11-28 20:35] scrawfor99 commented on #2023
For reference here is a link to a specific instance of the types of improvements that may improve stability look at issue #2278

[2022-11-28 21:01] peternied commented on #2160
Our release have overall retros, checkout a retro item like this https://github.com/opensearch-project/opensearch-build/issues/880

[2022-11-28 21:31] scrawfor99 opened #2280 "[Retrospective] Release 2.4.0 Retrospective"
We just released OpenSearch 2.4.0. To make sure that we do not lose issues that arose during the process please add them here.

Please add comments to this issue, they can be small or large in scope. Honest feedback is important to improve our processes, suggestions are also welcomed but not required. What went great? What could be improved?

What will happen to this issue post release?

There wil

[2022-11-28 21:34] scrawfor99 commented on #2160
Made a security-repo retro as an issue at: #2280 2280

[2022-11-28 22:34] peternied commented on #2280
Quickly capturing a couple of things broken down for us:
- BWC tests broken in main causing delays in 2.4.0
- Windows platform onboarding was rocky - didn't have standard ways to get build artifacts, we missed adding BWC tests and for Dashboards we integration tests flavors were not tested on windows before release.
- Stale main builds and distribution build breaks.
- LARGE backlog of pull request

[2022-11-28 22:55] #2252 closed

[2022-11-28 22:55] #2207 closed

[2022-11-29 03:08] rishabh6788 opened #2281 "Backport Windows support to 1.x branch"
Coming from https://github.com/opensearch-project/opensearch-plugins/issues/181, backport Windows support to 1.x branch.

### Critical Path
- [x] Increment to 1.3.7
- [x] Windows demo script.bat
- [x] Build on windows machine
- [x] Run CI on Windows
  - [x] JDK 11
  - [x] JDK 14
  - [x] JDK 8
- [x] JDK8 compatibility for Utf-8
- [x] Plugin install for Windows

### Non Blockers
- [x] Test reliabili

[2022-11-29 03:40] rashed-k opened #2282 "Unable to create different dashboards (for specific tenant) | unable to filter logs by index (for specific tenant) [BUG]"
**What is the bug?**
User permission not being applied in specific tenant.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
- I logged in with admin into opensearch dashboard and switched to custom tenant called "rmk" and created simple dashboard using gauge count which has container* index pattern  (index pattern "container*" was created first).
- I then created a user to map

[2022-11-29 16:28] DarshitChanpura commented on #2279
Latest upgrade `1.33` doesn't contain a fix:

https://mvnrepository.com/artifact/org.yaml/snakeyaml/1.33

[2022-11-29 21:25] #2248 closed